<body>

  <app-header2 *ngIf="!isLogin"></app-header2>
  <app-header *ngIf="isLogin"></app-header>
  <section class="landing_banner">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="best_activities">
            <h1>Find the best activities for<br> your kids...</h1>
            <form class="banner_form">
              <div class="form-group">
                <input type="text" placeholder="e.g. Summer Camp" class="form-control camp_input">
              </div>
              <div class="form-group">
                <input type="text" placeholder="Pick a Date" class="form-control date_input">
              </div>
              <div class="form-group">
                <button (click)="search()" class="banner_button" type="submit">Search</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="banner_overlay"></div>
  </section>

  <section class="activity_category">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2 class="title">Activity Categories</h2>
        </div>
      </div>

      <div class="activity_category_list">
        <div class="row">
          <div class="col-md-8">
            <div class="category_list_box cursor" [routerLink]="['/search']">
              <a href="javascritpt:;">
                <img src="assets/category1.jpg" alt="Category image">
                <div class="category_title">
                  <p>Dancing</p>
                </div>
              </a>
              <div class="overlay"></div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="category_list_box cursor" [routerLink]="['/search']">
              <a href="javascritpt:;">
                <img src="assets/category2.jpg" alt="Category image">
                <div class="category_title">
                  <p>Visual Arts</p>
                </div>
              </a>
              <div class="overlay"></div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="category_list_box cursor" [routerLink]="['/search']">
              <a href="javascritpt:;">
                <img src="assets/category3.jpg" alt="Category image">
                <div class="category_title">
                  <p>Painting</p>
                </div>
              </a>
              <div class="overlay"></div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="category_list_box cursor" [routerLink]="['/search']">
              <a href="javascritpt:;">
                <img src="assets/category4.jpg" alt="Category image">
                <div class="category_title">
                  <p>Stem</p>
                </div>
              </a>
              <div class="overlay"></div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="category_list_box cursor" [routerLink]="['/search']">
              <a href="javascritpt:;">
                <img src="assets/category5.jpg" alt="Category image">
                <div class="category_title">
                  <p>Robotics</p>
                </div>
              </a>
              <div class="overlay"></div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="category_list_box cursor" [routerLink]="['/search']">
              <a href="javascritpt:;">
                <img src="assets/category6.jpg" alt="Category image">
                <div class="category_title">
                  <p>Reading</p>
                </div>
              </a>
              <div class="overlay"></div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="category_list_box cursor" [routerLink]="['/search']">
              <a href="javascritpt:;">
                <img src="assets/category7.jpg" alt="Category image">
                <div class="category_title">
                  <p>Martial Arts</p>
                </div>
              </a>
              <div class="overlay"></div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="category_list_box cursor" [routerLink]="['/search']">
              <a href="javascritpt:;">
                <img src="assets/category8.jpg" alt="Category image">
                <div class="category_title">
                  <p>Photography</p>
                </div>
              </a>
              <div class="overlay"></div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </section>

  <section class="featured_activity">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2 class="title">Featured Activities</h2>
          <div class="custom_select featured">
            <select>
              <option selected>Hightest Rated</option>
              <option>Hightest Rated 1</option>
              <option>Hightest Rated 2</option>
              <option>Hightest Rated 3</option>
            </select>

          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <div class="featured_box  cursor" [routerLink]="['/program-detail']">
            <div class="featured_img">
              <img src="assets/featured1.jpg" alt="Featured Image">
            </div>
            <div class="featured_text">
              <h3>GYM</h3>
              <p>Kinderbots (Robotics)</p>
              <div class="rating_box">
                <img src="assets/featured_star.svg" alt="Star Image">
                <span>5.0 (15)</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="featured_box cursor" [routerLink]="['/program-detail']">
            <div class="featured_img">
              <img src="assets/category3.jpg" alt="Featured Image">
            </div>
            <div class="featured_text">
              <h3>Arts & Crafts </h3>
              <p>Art & Craft for Kids</p>
              <div class="rating_box">
                <img src="assets/featured_star.svg" alt="Star Image">
                <span>5.0 (15)</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="featured_box cursor" [routerLink]="['/program-detail']">
            <div class="featured_img">
              <img src="assets/category8.jpg" alt="Featured Image">
            </div>
            <div class="featured_text">
              <h3>Arts & Crafts</h3>
              <p> Learn Photography</p>
              <div class="rating_box">
                <img src="assets/featured_star.svg" alt="Star Image">
                <span>5.0 (15)</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="featured_box cursor" [routerLink]="['/program-detail']">
            <div class="featured_img">
              <img src="assets/category4.jpg" alt="Featured Image">
            </div>
            <div class="featured_text">
              <h3>Coding</h3>
              <p>Learn Web Development</p>
              <div class="rating_box">
                <img src="assets/featured_star.svg" alt="Star Image">
                <span>5.0 (15)</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="trending_discussions">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2 class="title">Trending Discussions</h2>
          <a href="javascritp:;" class="view">View All</a>
          <div class="trending_outer">
            <div class="trending_box">
              <h3>Discussion Title</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. ut labore et dolore magna aliqua.</p>
            </div>
            <div class="trending_box">
              <h3>Discussion Title</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. ut labore et dolore magna aliqua.</p>
            </div>
            <div class="trending_box">
              <h3>Discussion Title</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. ut labore et dolore magna aliqua.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="upto_date">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="upto_inner">
            <h2 class="title">Stay upto date</h2>
            <p>Stay upto date and receive best promotions directly in your inbox. We promise not to spam you.</p>
            <div class="input-group">
              <input type="text" class="form-control" placeholder="example@domain.com">
              <div class="input-group-append">
                <button class="Submit_btn" type="button">Submit</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>



  <footer>
    <div class="container">
      <div class="footer_inner">
        <div class="row align-items-center">
          <div class="col-12">
            <div class="footer_left">
              <div class="footer_logo">
                <a href="landing">
                  <img src="assets/white_logo.png" alt="Logo">
                </a>
              </div>
              <div class="footer_menu">
                <ul>
                  <li>
                    <a [routerLink]="['/term-condition']">About Us</a>
                  </li>
                  <li>
                    <a [routerLink]="['/term-condition']">Terms & Conditions</a>
                  </li>
                  <li>
                    <a [routerLink]="['/term-condition']">Privacy Policy</a>
                  </li>
                  <li>
                    <a [routerLink]="['/term-condition']">Ambassador Policy</a>
                  </li>
                </ul>
              </div>
              <div class="copyright_text">
                <p>© 2019 Letsplay Holdings Inc. All Rights Reserved.</p>
              </div>
            </div>
            <div class="social_icon_footer">
              <ul>
                <li>
                  <a href="javascript:;">
                    <span class="icon icon-facebook"></span>
                  </a>
                </li>
                <li>
                  <a href="javascript:;">
                    <span class="icon icon-instagram"></span>
                  </a>
                </li>
                <li>
                  <a href="javascript:;">
                    <span class="icon icon-pinterest"></span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
</body>