

.landing_banner .banner_overlay {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.58) 0%, rgba(255, 255, 255, 0) 100%);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.landing_banner .best_activities {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid #E5E9EC;
    box-sizing: border-box;
    border-radius: 2px;
    padding: 45px;
    max-width: 442px;
    position: relative;
    z-index: 1;
}

.landing_banner .best_activities h1 {
    font-family: 'Patrick Hand';
    font-weight: normal;
    font-size: 28px;
    line-height: 30px;
    color: #777CEA;
}

.banner_form {
    margin-top: 60px;
}

.banner_form .form-group input {
    border: 1px solid #E5E9EC;
    border-radius: 6px;
    min-height: 52px;
}


.banner_form .form-group .form-control.date_input::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}

.banner_form .form-group input::placeholder {
    color: #D5DCE1;
}

.banner_form .form-group input::-webkit-input-placeholder {
    color: #D5DCE1;
}

.banner_form .form-group input:-moz-placeholder {
    color: #D5DCE1;
}

.banner_form .banner_button {
    background: #FFB206;
    border: 1px solid #FFB206;
    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    display: inline-block;
    min-width: 52px;
    line-height: 52px;
    width: 100%;
    font-weight: 600;
    font-size: 15px;
    color: #fff;
    margin-top: 13px;
}

/* start activity_category css */
.activity_category {
    padding: 140px 0 54px 0;
}

h2.title {
    font-family: 'Patrick Hand';
    font-weight: normal;
    font-size: 28px;
    line-height: 27px;
    color: #777CEA;
}

.activity_category_list {
    padding-top: 18px;
}

.activity_category .category_list_box {
    max-height: 276px;
    border-radius: 4px;
    margin-top: 30px;
}

.category_list_box {
    overflow: hidden;
    position: relative;
}

.activity_category .category_list_box img {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
}

.category_list_box .category_title {
    position: absolute;
    bottom: 23px;
    left: 33px;
}

.category_list_box .category_title p {
    font-family: 'Patrick Hand';
    font-weight: normal;
    font-size: 22px;
    color: #FFFFFF;
    min-width: 177px;
    min-height: 44px;
    line-height: 44px;
    background: #F15C20;
    border-radius: 22px;
    text-align: center;
    transition: 0.8s;
}

.category_list_box .category_title p:hover {
    background: #c74009;
}

.category_list_box .category_title {
    position: absolute;
    bottom: 23px;
    left: 33px;
    z-index: 1;
}

/* start featured_activity css */
.featured_activity {
    border-top: 1px solid #E5E9EC;
    padding: 37px 0 32px 0;
}

.featured_activity h2.title {
    float: left;
}

.featured_box {
    margin-top: 46px;
}

.custom_select.featured {
    float: right;
    width: auto;
    min-height: 30px;
    line-height: 30px;
    min-width: 150px;
}

.custom_select.featured select {
    background-size: 10px;
    background-position: 93% 13px;
}

.featured_img {
    border-radius: 4px 4px 0 0;
    overflow: hidden;
    max-height: 156px;
}

.featured_img img {
    max-width: 100%;
    width: 100%;
    height: 100%;
}

.featured_text {
    padding: 12px 0;
    position: relative;
}

.featured_text h3 {
    font-weight: 600;
    font-size: 10px;
    line-height: 14px;
    color: #777CEA;
}

.featured_text p {
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    color: #748494;
    margin: 9px 0 0 0;
}

.featured_text .rating_box span {
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    color: #748494;
}
.featured_text .rating_box img{
    margin:0 6px 0 0;
}

.rating_box {
    position: absolute;
    right: 0;
    top: 5px;
}

/* start trending_discussions css */
.trending_discussions {
    padding: 25px 0 54px 0;
}

.trending_discussions h2.title {
    float: left;
}

.trending_discussions a.view {
    float: right;
    font-weight: 600;
    font-size: 10px;
    line-height: 14px;
    text-transform: uppercase;
    color: #748494;
}

.trending_outer {
    margin-top: 35px;
    display: inline-block;
    width: 100%;
}

.trending_outer .trending_box {
    margin: 0 0 36px 0;
}

.trending_outer .trending_box:last-child {
    margin: 0;
}

.trending_outer .trending_box h3 {
    font-weight: 600;
    font-size: 13px;
    line-height: 18px;
    color: #F15C20;
}

.trending_outer .trending_box p {
    font-size: 13px;
    line-height: 16px;
    color: #748494;
    margin: 3px 0 0 0;
}

/* start upto_date section css */
.upto_date {
    padding: 0 0 46px 0;
}
.upto_date .container{
padding-top: 53px;
border-top: 1px solid #E5E9EC;
}

.upto_inner {
    max-width: 470px;
}

.upto_date p {
    font-size: 13px;
    line-height: 19px;
    letter-spacing: 0.001em;
    color: #748494;
    margin: 31px 0 0 0;
}

.upto_date .input-group {
    background: #FFFFFF;
    border: 1px solid #E5E9EC;
    border-radius: 2px;
    padding: 5px;
    margin-top: 50px;
}

.upto_date .input-group:focus-within,
.upto_date .input-group:focus {
    border: 1px solid #80bdff;
}

.upto_date .input-group .form-control {
    border: none;
    box-shadow: none;
    font-size: 13px;
    min-height: 46px;
}

.upto_date .input-group .form-control::placeholder {
    color: rgba(0, 0, 0, 0.3);
}

.upto_date .input-group .form-control::-moz-placeholder {
    color: rgba(0, 0, 0, 0.3);
}

.upto_date .input-group .input-group-append {
    margin-left: 0;
}

.upto_date .input-group .Submit_btn {
    background: #F15A29;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
    border: none;
    box-shadow: none;
    min-width: 124px;
    min-height: 46px;
    line-height: 46px;
    font-weight: 600;
    font-size: 13px;
    color: #FFFFFF;
}

footer {
    background-color: #777cea;
    padding: 19px 0;
}

.footer_logo {
    display: inline-block;
    width: 100%;
}

.footer_logo a img {
    max-width: 78px;
}

.footer_menu {
    display: inline-block;
    width: 100%;
}

.footer_menu ul {
    margin-top: 7px;
}

.footer_menu ul li {
    display: inline-block;
    margin: 0 27px 0 0;
}

.footer_menu ul a {
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 0.001em;
    color: #f1f1f1;
}

.footer_menu ul a:hover {
    color: #fff;
}

.copyright_text {
    margin-top: 13px;
}

.copyright_text p {
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    margin: 0;
    color: #ffffff;
}

.footer_left {
    float: left;
}

.social_icon_footer {
    float: right;
    margin-top: 29px;
}

.social_icon_footer ul li {
    display: inline-block;
}

.social_icon_footer li a {
    display: inline-block;
    margin-right: 14px;
}

.social_icon_footer li:last-child a {
    margin: 0;
}

.social_icon_footer li a .icon {
    font-size: 18px;
    color: #fff;
    transition: 0.8s;
}

.social_icon_footer li a:hover .icon.icon-facebook {
    color: #395794;
}

.social_icon_footer li a:hover .icon.icon-instagram {
    color: #d60044;
}

.social_icon_footer li a:hover .icon.icon-pinterest {
    color: #e11e27;
}