<app-header></app-header>

<body>

  <section class="main_outer">


    <div class="content_outer">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <app-breadcrumb></app-breadcrumb>
            <div class="page_heading">
              <h2>My Profile</h2>
            </div>
          </div>
        </div>
        <button class="my_class" (click)="sideBar()">
          <span class="icon icon-menu"></span>
        </button>

        <div class="MainContent">
          <div class="side_bar" [ngClass]="isSideBar ? 'side_bar_show' : 'side_bar_hide'">
            <div class="progress">
              <div class="progress-bar" [style.width.%]="profileProgress">
                <div class="progress-value">{{profileProgress}}%</div>
              </div>
            </div>
            <div class="complete_score">
              <p>Profile completion score<span class="icon-information"></span></p>
            </div>
            <div class="side_menu">
              <ul class="cursor">
                <li>
                  <a [class.active]="profile" (click)="onProfile()">My Profile</a>
                </li>
                <li>
                  <a [class.active]="setting" (click)="onSetting()">Account Settings</a>
                </li>
                <li>
                  <a [class.active]="guardian" (click)="onGuardian(userData.id)">Guardians</a>
                </li>
                <li>
                  <a [class.active]="children" (click)="onChildren(userData.id)">Children</a>
                </li>
                <li>
                  <a [class.active]="favourite" (click)="getFav(userData.id)">Saved Listings</a>
                </li>
                <li>
                  <a [class.active]="notification" (click)="onNotification()">Notifications</a>
                </li>
                <li>
                  <a [class.active]="friend" (click)="onFriend()">Tell a Friend</a>
                </li>
                <li>
                  <a [class.active]="feedback" (click)="onFeedback()">Give Feedback</a>
                </li>
              </ul>
            </div>
          </div>


          <div class="content_right">
            <!-- ----------------------------my profile------------------------------- -->

            <div *ngIf="isProfile" class="personal_details">
              <h2>Personal Details</h2>
              <div class="row">
                <div class="col-md-8">
                  <form [formGroup]="updateForm" class="details_form">
                    <div class="form-group">
                      <label>Full Name</label>
                      <input type="search" placeholder="Type" class="form-control"
                        [formControl]="updateForm.controls['firstName']" [(ngModel)]="user.firstName" name="firstName">
                      <small
                        *ngIf="updateForm.controls['firstName'].hasError('required') && updateForm.controls['firstName'].touched"
                        class="form-error-msg">CAN'T LEAVE IT BLANK</small>
                    </div>

                    <div class="form-group">
                      <label>Email Address</label>
                      <input type="search" placeholder="" class="form-control"
                        [formControl]="updateForm.controls['email']" [(ngModel)]="user.email" name="email" readonly>
                    </div>

                    <div class="form-group">
                      <label>Address</label>
                      <input type="search" placeholder="Type" class="form-control"
                        [formControl]="updateForm.controls['addressLine1']" [(ngModel)]="user.addressLine1"
                        name="addressLine1">
                      <small
                        *ngIf=" updateForm.controls['addressLine1'].hasError('required') && updateForm.controls['addressLine1'].touched"
                        class="form-error-msg">CAN'T LEAVE IT BLANK</small>
                    </div>

                    <div class="form-group">
                      <label>Mobile Number</label>
                      <input type="search" placeholder="e.g. (555) 555 5555" class="form-control"
                        [formControl]="updateForm.controls['phoneNumber']" [(ngModel)]="user.phoneNumber"
                        name="phoneNumber">
                      <small
                        *ngIf=" updateForm.controls['phoneNumber'].hasError('required') && updateForm.controls['phoneNumber'].touched"
                        class="form-error-msg">CAN'T LEAVE IT BLANK</small>
                    </div>
                  </form>
                </div>

                <div class="col-md-4">
                  <div class="profile_img">
                    <label class="cursor">
                      <input style="display: none;" #file accept="image/*"
                        (change)="parentImageSelect($event,userData.id)" type="file" name="image" />
                      <a *ngIf="!user.avatarImages">
                        <span class="icon icon-edit_profile"></span>
                        Upload Photo
                      </a>
                      <img *ngIf="user.avatarImages" src="{{user.avatarImages}}" alt="Profile image">
                    </label>
                  </div>
                </div>
              </div>

              <div class="row bottom_arrow">
                <div class="col-12">
                  <a (click)="back()" class="back_arrow cursor"><span class="icon-left-arrow"></span>Back</a>
                  <button (click)="updateParent(user)" [disabled]="updateForm.invalid"
                    class="btn_style save_btn cursor">Save</button>
                </div>
              </div>


            </div>
            <!-- -------------------------------------------------------------------- -->


            <!-- ---------------account setting------------------------- -->
            <div *ngIf="isSetting" class="personal_details">
              <h2>Change Password</h2>
              <div class="row">
                <div class="col-md-8">
                  <form class="details_form" [formGroup]="resetPasswordForm">
                    <div class="form-group">
                      <label>Current Password</label>
                      <div class="input_outer">
                        <input type="password" placeholder="Type" class="form-control"
                          [formControl]="resetPasswordForm.controls['oldPassword']"
                          [(ngModel)]="resetPasswordData.oldPassword">
                        <small
                          *ngIf=" resetPasswordForm.controls['oldPassword'].hasError('required') && resetPasswordForm.controls['oldPassword'].touched"
                          class="form-error-msg">CAN'T LEAVE IT BLANK</small>
                      </div>
                    </div>

                    <div class="form-group">
                      <label>New Password</label>
                      <div class="input_outer">
                        <input type="password" placeholder="Type" class="form-control"
                          [formControl]="resetPasswordForm.controls['newPassword']"
                          [(ngModel)]="resetPasswordData.newPassword">
                        <small
                          *ngIf=" resetPasswordForm.controls['newPassword'].hasError('required') && resetPasswordForm.controls['newPassword'].touched"
                          class="form-error-msg">CAN'T LEAVE IT BLANK</small>
                      </div>
                    </div>

                    <div class="form-group">
                      <label>Confirm New Password</label>
                      <div class="input_outer">
                        <input type="password" placeholder="Type" class="form-control"
                          [formControl]="resetPasswordForm.controls['confirmPassword']">
                        <small *ngIf="resetPasswordForm.controls['confirmPassword'].hasError('equalTo')"
                          class="form-error-msg"> PASSWORD DO NOT MATCH</small>
                      </div>
                    </div>

                    <div class="form-group delete_account">
                      <label>
                        <a *ngIf="user.isActivated" class="cursor" data-toggle="modal" data-target="#confirmModal">
                          Deactivate my account
                        </a>
                        <a *ngIf="!user.isActivated" class="cursor" data-toggle="modal" data-target="#confirmModal">
                          Activate my account
                        </a>
                      </label>

                    </div>
                  </form>
                </div>
              </div>

              <div class="row bottom_arrow">
                <div class="col-12">
                  <a href="javascript:;" class="back_arrow"><span class="icon-left-arrow"></span>Back</a>
                  <button (click)="resetPassword(userData.id)" [disabled]="resetPasswordForm.invalid"
                    class="btn_style save_btn cursor">Save</button>
                </div>
              </div>
            </div>

            <!-- --------------------------------------------------------- -->

            <!-- ------------------guardians---------------------- -->
            <div *ngIf="isGuardian" class="personal_details">
              <h2>Guardian Information</h2>
              <div class="row margin_top">
                <div class="col-md-8">
                  <div class="profile_list" *ngIf="getGuardianResponse">
                    <div class="list_box" *ngFor="let guardian of getGuardianResponse.data">
                      <div class="profile_img">
                        <img src="assets/profile2.png" alt="Profile Image">
                      </div>
                      <div class="profile_text">
                        <h3>{{guardian.user.firstName}}</h3>
                        <p>{{guardian.user.sex}}</p>
                      </div>
                    </div>
                    <div class="list_box" *ngIf="!getGuardianResponse">
                      <div class="profile_img">
                        <img src="assets/profile3.png" alt="Profile Image">
                      </div>
                      <div class="profile_text">
                        <h3>NO DATA</h3>
                        <p></p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <a (click)="onGuardianAdd()" class="btn_style save_btn cursor">ADD</a>
                </div>
              </div>


            </div>

            <!-- ---------------------------------------------------------- -->

            <!-- ----------------------------------guardians information------------------ -->
            <div *ngIf="isInvite" class="personal_details">
              <h2>Guardian Information</h2>
              <div class="row">
                <div class="col-md-8">
                  <form class="details_form" [formGroup]="addGuardianForm">
                    <div class="form-group">
                      <label>Full Name</label>
                      <div class="input_outer">
                        <input type="text" placeholder="Type" class="form-control"
                          [formControl]="addGuardianForm.controls['firstName']" [(ngModel)]="addGuardianData.firstName">
                        <small
                          *ngIf=" addGuardianForm.controls['firstName'].hasError('required') && addGuardianForm.controls['firstName'].touched"
                          class="form-error-msg">CAN'T LEAVE IT BLANK</small>
                      </div>
                    </div>
                    <div class="form-group">
                      <label>Email Address</label>
                      <div class="input_outer">
                        <input type="text" placeholder="example@domain.com" class="form-control"
                          [formControl]="addGuardianForm.controls['email']" [(ngModel)]="addGuardianData.email">
                        <small
                          *ngIf=" addGuardianForm.controls['email'].hasError('required') && addGuardianForm.controls['email'].touched"
                          class="form-error-msg">CAN'T LEAVE IT BLANK</small>
                        <small
                          *ngIf=" addGuardianForm.controls['email'].hasError('email') && addGuardianForm.controls['email'].touched"
                          class="form-error-msg">INVALID EMAIL ADDRESS</small>
                      </div>
                    </div>
                    <div class="form-group">
                      <label>add a personal note</label>
                      <textarea placeholder="Type" class="form-control"
                        [formControl]="addGuardianForm.controls['personalNote']"
                        [(ngModel)]="addGuardianData.personalNote">Type</textarea>
                      <small
                        *ngIf=" addGuardianForm.controls['personalNote'].hasError('required') && addGuardianForm.controls['personalNote'].touched"
                        class="form-error-msg">CAN'T LEAVE IT BLANK</small>
                    </div>
                  </form>
                </div>
              </div>
              <div class="row bottom_arrow">
                <div class="col-12">
                  <a (click)="onGuardian(userData.id)" class="back_arrow cursor"><span
                      class="icon-left-arrow"></span>Back</a>
                  <button (click)="addGuardian(userData.id)" [disabled]="addGuardianForm.invalid"
                    class="btn_style save_btn cursor">SAVE</button>
                </div>
              </div>
            </div>


            <!-- ---------------------------------------------------------------------------------- -->

            <!-- ----------------------children--------------------- -->
            <div *ngIf="isChildren" class="personal_details">
              <h2>Children Information</h2>
              <div class="row margin_top">
                <div class="col-md-8">
                  <div class="profile_list" *ngIf=" kids">
                    <div class="list_box" *ngFor="let kid of kids">
                      <div class="profile_img cursor" (click)="onEditChild(kid)">
                        <img src="{{kid.avtar}}" alt="Profile Image">
                      </div>
                      <div class="profile_text">
                        <h3>{{kid.name}}</h3>
                        <p *ngIf="kid.sex==='male'">SON</p>
                        <p *ngIf="kid.sex==='female'">DAUGHTER</p>

                      </div>
                    </div>
                  </div>

                  <div class="profile_list" *ngIf="!kids">
                    <div class="list_box">
                      <div class="profile_img">
                      </div>
                      <div class="profile_text">
                        <h3>NO DATA</h3>
                      </div>
                    </div>
                  </div>

                </div>
                <div class="col-md-4">
                  <a (click)="onAddChild()" class="btn_style save_btn cursor">Add</a>
                </div>
              </div>


            </div>

            <!-- ------------------------------------------------------------- -->

            <!-- ------------------------------add child----------------------------- -->
            <div *ngIf="isAddChild" class="personal_details">
              <h2>Children</h2>
              <div class="row margin_top">
                <div class="col-md-8">
                  <form class="details_form">

                    <div class="form-group">
                      <label>Full Name</label>
                      <div class="input_outer">
                        <input type="text" placeholder="e.g. John Doe" class="form-control" [(ngModel)]="kid.name"
                          name="FullName">

                      </div>
                    </div>

                    <div class="form-group">
                      <label>Gender</label>
                      <div class="custom_select">
                        <select [(ngModel)]="kid.sex" name="sex">
                          <option *ngIf="kid.sex==='male'" selected>SON</option>
                          <option *ngIf="kid.sex==='female'" selected>DAUGHTER</option>
                          <option value="male">SON</option>
                          <option value="female">DAUGHTER</option>
                        </select>

                      </div>

                    </div>

                    <div class="form-group">
                      <label>Date of Birth</label>
                      <div class="input_outer">
                        <input type="dob" placeholder="MM/DD/YYYY" class="form-control" [(ngModel)]="kid.dob"
                          name="dob">

                      </div>
                    </div>

                    <div class="form-group">
                      <label>School</label>
                      <div class="input_outer">
                        <input type="text" placeholder="Type" class="form-control" [(ngModel)]="kid.schoolInfo"
                          name="schoolInfo">

                      </div>
                    </div>

                    <div class="form-group">
                      <label>Relationship to child</label>
                      <div class="custom_select">
                        <select [(ngModel)]="kid.relationToChild" name="relationToChild">
                          <option selected>{{kid.relationToChild}}</option>
                          <option selected value="Father">Father</option>
                          <option value="Mother">Mother</option>
                        </select>
                      </div>

                    </div>
                    <br>
                    <div class="form-group">
                      <label>Intrests</label>
                      <div class="input_outer">
                        <div class="ng-autocomplete">
                          <ngx-ui-loader></ngx-ui-loader>
                          <ng-autocomplete [data]="tags" [searchKeyword]="keyword" (selected)='selectEvent($event)'
                            (inputChanged)='onChangeSearch($event)' (inputFocused)='onFocused($event)'
                            [itemTemplate]="itemTemplate" [notFoundTemplate]="notFoundTemplate">
                          </ng-autocomplete>

                          <ng-template #itemTemplate let-item>
                            <a [innerHTML]="item.name"></a>
                          </ng-template>

                          <ng-template #notFoundTemplate let-notFound>
                            <div *ngIf="tags.length" [innerHTML]="notFound"></div>
                          </ng-template>
                        </div>
                      </div>
                      <br>
                      <mat-form-field class="demo-chip-list">
                        <mat-chip-list>
                          <mat-chip *ngFor="let t of kid.interestInfo;let indx=index;" [selectable]="selectable"
                            [removable]="removable" (removed)="remove(t)">
                            {{t.name}}
                            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                          </mat-chip>
                        </mat-chip-list>
                      </mat-form-field>

                    </div>

                    <div class="form-group">
                      <a *ngIf="isAddChildBtn" (click)="refreshPage()" class="add_child cursor"><span
                          class="icon icon-plus"></span>Add
                        another
                        Child</a>
                      <a *ngIf="isEditChildBtn" (click)="onAddChild()" class="add_child cursor"><span
                          class="icon icon-plus"></span>Add
                        another
                        Child</a>
                    </div>
                  </form>
                </div>

                <div class="col-md-4">
                  <div class="profile_img edit">
                    <label class="cursor">
                      <input style="display: none;" #file accept="image/*" (change)="childImageSelect($event)"
                        type="file" name="image" />
                      <a *ngIf="!kid.avtar">
                        <span class="icon icon-edit_profile"></span>
                        Upload Photo
                      </a>
                      <img *ngIf="kid.avtar" src="{{kid.avtar}}">
                    </label>

                  </div>
                </div>
              </div>
              <div class="row bottom_arrow">
                <div class="col-12">
                  <a (click)="onChildren(userData.id)" class="back_arrow cursor"><span
                      class="icon-left-arrow"></span>Back</a>
                  <button *ngIf="isAddChildBtn" (click)="addChild(userData.id)" [disabled]="!kid.name"
                    class="btn_style save_btn cursor">Save</button>
                  <button *ngIf="isEditChildBtn" (click)="updateChild(kid,userData.id)"
                    class="btn_style save_btn cursor">Save</button>
                </div>
              </div>
            </div>

            <!-- ---------------------------------------------------------------------------------------- -->

            <!-- ----------------------------------edit child----------------------------------->
            <!-- <div *ngIf="isEditChild" class="personal_details">
              <h2>Children</h2>
              <div class="row margin_top">
                <div class="col-md-8">
                  <form [formGroup]="editChildForm" class="details_form">
                    <div class="form-group">
                      <div class="media account_name align-items-center">
                        <div class="media-left">
                          <img *ngIf="editChild.avtar" src="{{editChild.avtar}}" alt="Children Image">
                          <img *ngIf="!editChild.avtar" src="assets/userIMAGE.png">
                        </div>
                        <div class="media-body">
                          <h4>{{editChild.name}}</h4>
                          <p>{{editChild.age}} Years Old</p>
                        </div>
                      </div>
                    </div>

                    <div class="form-group">
                      <label>Full Name</label>
                      <div class="input_outer">
                        <input type="text" placeholder="e.g. John Doe" class="form-control"
                          [formControl]="editChildForm.controls['name']" [(ngModel)]="editChild.name">
                        <small
                          *ngIf=" editChildForm.controls['name'].hasError('required') && editChildForm.controls['name'].touched"
                          class="form-error-msg">CAN'T LEAVE IT BLANK</small>
                      </div>
                    </div>

                    <div class="form-group">
                      <label>Gender</label>
                      <div class="custom_select">
                        <select [formControl]="editChildForm.controls['sex']" [(ngModel)]="editChild.sex">
                          <option selected>{{editChild.sex}}</option>
                          <option value="SON">SON</option>
                          <option value="DAUGHTER">DAUGHTER</option>
                        </select>
                      </div><small
                        *ngIf=" editChildForm.controls['sex'].hasError('required') && editChildForm.controls['sex'].touched"
                        class="form-error-msg">CAN'T LEAVE IT BLANK</small>
                    </div>

                    <div class="form-group">
                      <label>Date of Birth</label>
                      <div class="input_outer">
                        <input type="dob" placeholder="MM/DD/YYYY" class="form-control"
                          [formControl]="editChildForm.controls['dob']" [(ngModel)]="editChild.dob">
                        <small
                          *ngIf=" editChildForm.controls['dob'].hasError('required') && editChildForm.controls['dob'].touched"
                          class="form-error-msg">CAN'T LEAVE IT BLANK</small>
                      </div>
                    </div>

                    <div class="form-group">
                      <label>School</label>
                      <div class="input_outer">
                        <input type="text" placeholder="Type" class="form-control"
                          [formControl]="editChildForm.controls['schoolInfo']" [(ngModel)]="editChild.schoolInfo">
                        <small
                          *ngIf=" editChildForm.controls['schoolInfo'].hasError('required') && editChildForm.controls['schoolInfo'].touched"
                          class="form-error-msg">CAN'T LEAVE IT BLANK</small>
                      </div>
                    </div>

                    <div class="form-group">
                      <label>Relationship to child</label>
                      <div class="custom_select">
                        <select [formControl]="editChildForm.controls['relationToChild']"
                          [(ngModel)]="editChild.relationToChild">
                          <option selected>{{editChild.relationToChild}}</option>
                          <option value="Father">Father</option>
                          <option value="Mother">Mother</option>
                        </select>

                      </div><small
                        *ngIf=" editChildForm.controls['relationToChild'].hasError('required') && editChildForm.controls['relationToChild'].touched"
                        class="form-error-msg">CAN'T LEAVE IT BLANK</small>
                    </div>

                    <div class="form-group">
                      <label>Interests</label>
                      <div class="input_outer">
                        <div class="ng-autocomplete">
                          <ng-autocomplete [data]="categories" [searchKeyword]="keyword"
                            (selected)='selectEvent($event)' (inputChanged)='onChangeSearch($event)'
                            (inputFocused)='onFocused($event)' [itemTemplate]="itemTemplate"
                            [notFoundTemplate]="notFoundTemplate">
                          </ng-autocomplete>

                          <ng-template #itemTemplate let-item>
                            <a [innerHTML]="item.name"></a>
                          </ng-template>

                          <ng-template #notFoundTemplate let-notFound>
                            <div *ngIf="categories.length" [innerHTML]="notFound"></div>
                          </ng-template>
                        </div>
                        <br>
                        <mat-form-field class="demo-chip-list">
                          <mat-chip-list>
                            <mat-chip *ngFor="let category of editChild.interestInfo;let indx=index;"
                              [selectable]="selectable" [removable]="removable" (removed)="remove(category)">
                              {{category.name}}
                              <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                            </mat-chip>
                          </mat-chip-list>


                        </mat-form-field>

                      </div>
                    </div>

                    <div class="form-group">
                      <a (click)="onAddChild()" class="add_child cursor"><span class="icon icon-plus"></span>Add another
                        Child</a>
                    </div>
                  </form>
                </div>


                <div class="col-md-4">
                  <div class="profile_img edit">
                    <label class="cursor">
                      <input style="display: none;" #file accept="image/*" (change)="UpdateChildImageSelect($event)"
                        type="file" name="myfile" />

                      <a *ngIf="!editChild.avtar">
                        <span class="icon icon-edit_profile"></span>
                        Upload Photo
                      </a>
                      <img *ngIf="editChild.avtar" src="{{editChild.avtar}}">
                    </label>
                  </div>
                  <div class="select_avtar">
                    <p>OR</p>
                    <label class="cursor">
                      <a>Select Avatar
                        <input style="display: none;" #file accept="image/*" (change)="UpdateChildImageSelect($event)"
                          type="file" name="myfile" />
                      </a>
                    </label>
                  </div>
                </div>

              </div>

              <div class="row bottom_arrow">
                <div class="col-12">
                  <a (click)="onChildren(userData.data.id)" class="back_arrow cursor"><span
                      class="icon-left-arrow"></span>Back</a>
                  <button (click)="updateChild(editChild._id,userData.data.id)" [disabled]="editChildForm.invalid"
                    class="btn_style save_btn cursor">Save</button>
                </div>
              </div>
            </div> -->

            <!-- ----------------------------------------------------------------------------- -->

            <!-- -----------------------saved listing----------------------------------- -->
            <div *ngIf="isFavourite" class="personal_details">
              <h2>Saved activities</h2>

              <div class="details_outer">
                <p style="font-family: 'Open Sans';
                font-weight: 800 ; text-align: center ;    color: #748494;" *ngIf='!favourites.length'>
                  Saved List Empty!
                </p>
                <div class="row row-0" *ngFor="let favourite of favourites">

                  <div class="col-10">
                    <div class="media activity align-items-center">
                      <div class="media-left">
                        <img src="assets/activity1.png" alt="Activity">
                        <div class="share_icon">
                          <a data-toggle="modal" data-target="#SearchModal">

                            <img src="assets/share.svg" alt="Share Icon">



                          </a>
                          <div>

                            <a (click)="removeFav(favourite.program._id)" class="bookmark_icon cursor"><img
                                src="assets/bookmarkOrange.svg" alt="Menu Image"></a>
                          </div>
                        </div>
                      </div>
                      <div class="media-body">
                        <!-- <h3>{{favourite.program.code}}</h3> -->
                        <h2>{{favourite.program.name}}</h2>
                        <div class="list_outer row row-0">
                          <div class="list col-12">
                            <p><img src="assets/local.svg" alt="School image">{{favourite?.name}}</p>
                          </div>
                          <div class="list col-md-4">
                            <p><img src="assets/user_group.svg" alt="School image">
                              {{favourite.program.date?.from | date:"dd:MM:yyyy"}} –
                              {{favourite.program.date?.to | date:"dd:MM:yyyy"}}
                            </p>
                          </div>
                          <div class="list col-md-4">
                            <p><img src="assets/calendar.svg" alt="School image">
                              {{favourite?.location}}
                            </p>
                          </div>
                          <div class="list col-md-4">
                            <p><img src="assets/loction_pin.svg" alt="School image">
                              {{favourite.program.location}}
                            </p>
                          </div>
                        </div>
                        <div class="recomend_images">
                          <a href="javascript:;">
                            <img src="assets/tick_img.png" alt="Recomend images">
                          </a>
                          <a href="javascript:;">
                            <img src="assets/reward_img2.png" alt="Recomend images">
                          </a>
                          <a href="javascript:;">
                            <img src="assets/reward_img.png" alt="Recomend images">
                          </a>
                        </div>
                        <div class="recomend_btn">
                          <!-- <a href="javascript:;">Recommended</a> -->
                        </div>
                      </div>
                      <div class="rating_box">
                        <a href="">
                          <img src="assets/star.svg" alt="Star">
                          5.0 (15)
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- 
                <div class="row bottom_margin">
                  <div class="col-12">
                    <a href="javascript:;" class="btn_style save_btn cursor">Add</a>
                  </div>
                </div> -->
              </div>

            </div>


            <!-- ------------------------------------------------------------------------- -->

            <!-- -------------------------------------------notification----------------------------- -->
            <div *ngIf="isNotification" class="personal_details">
              <h2>Notifications</h2>
              <div class="row">
                <div class="col-md-12">
                  <form>
                    <div class="notifications">
                      <h3>Show Notifications</h3>
                      <label class="switch notification">
                        <input type="checkbox" checked>
                        <span class="slider round"></span>
                      </label>
                    </div>
                    <div class="check_list">
                      <label class="ch-radio">
                        <input name="hiring" type="checkbox" checked>
                        <span>
                          <i class="ch-icon icon-tick"></i>All
                        </span>
                      </label>
                      <label class="ch-radio">
                        <input name="hiring" type="checkbox">
                        <span>
                          <i class="ch-icon icon-tick"></i>Lorem Ipsum
                        </span>
                      </label>
                      <label class="ch-radio">
                        <input name="hiring" type="checkbox">
                        <span>
                          <i class="ch-icon icon-tick"></i>Lorem Ipsum
                        </span>
                      </label>
                      <label class="ch-radio">
                        <input name="hiring" type="checkbox">
                        <span>
                          <i class="ch-icon icon-tick"></i>Lorem Ipsum
                        </span>
                      </label>
                    </div>
                  </form>
                </div>
              </div>

            </div>

            <!-- ----------------------------------------------------------------------------------------- -->

            <!-- -------------------------------------------tell a friend----------------------------- -->
            <div *ngIf="isFriend" class="personal_details">
              <h2>Tell a Friend</h2>
              <div class="row">
                <div class="col-md-8">
                  <form class="details_form" [formGroup]="tellFriendForm">
                    <div class="form-group">
                      <label>Full Name</label>
                      <div class="input_outer">
                        <input type="text" placeholder="Type" class="form-control"
                          [formControl]="tellFriendForm.controls['fullName']" [(ngModel)]="tellFriendData.fullName">
                        <small
                          *ngIf=" tellFriendForm.controls['fullName'].hasError('required') && tellFriendForm.controls['fullName'].touched"
                          class="form-error-msg">CAN'T LEAVE IT BLANK</small>
                      </div>
                    </div>
                    <div class="form-group">
                      <label>Email Address</label>
                      <div class="input_outer">
                        <input type="text" placeholder="example@domain.com" class="form-control"
                          [formControl]="tellFriendForm.controls['email']" [(ngModel)]="tellFriendData.email">
                        <small
                          *ngIf=" tellFriendForm.controls['email'].hasError('required') && tellFriendForm.controls['email'].touched"
                          class="form-error-msg">CAN'T LEAVE IT BLANK</small>
                        <small
                          *ngIf=" tellFriendForm.controls['email'].hasError('email') && tellFriendForm.controls['email'].touched"
                          class="form-error-msg">INVALID EMAIL ADDRESS</small>
                      </div>
                    </div>
                    <div class="form-group">
                      <label>add a personal note</label>
                      <textarea class="form-control" [formControl]="tellFriendForm.controls['personalNote']"
                        [(ngModel)]="tellFriendData.personalNote">Type</textarea>
                      <div class="textarea_length">
                        <!-- <p>(0 of 3000)</p> -->
                      </div>
                      <small
                        *ngIf=" tellFriendForm.controls['personalNote'].hasError('required') && tellFriendForm.controls['personalNote'].touched"
                        class="form-error-msg">CAN'T LEAVE IT BLANK</small>
                    </div>
                  </form>
                </div>
              </div>
              <div class="row bottom_arrow">
                <div class="col-12">
                  <a (click)="back()" class="back_arrow cursor"><span class="icon-left-arrow "></span>Back</a>
                  <button class="btn_style save_btn cursor" (click)="tellFriend(userData.firstName)"
                    [disabled]="tellFriendForm.invalid">Send</button>
                </div>
              </div>
            </div>


            <!-- ----------------------------------------------------------------------------------------- -->

            <!-- -------------------------------------------feedback----------------------------- -->
            <div *ngIf="isFeedback" class="personal_details">
              <h2>Give Feedback</h2>
              <div class="row">
                <div class="col-md-8">
                  <form class="details_form" [formGroup]="giveFeedbackForm">
                    <!-- <div class="form-group">
                      <label>Full Name</label>
                      <div class="input_outer">
                        <input type="text" placeholder="" value="John Doe" class="form-control"
                          [formControl]="giveFeedbackForm.controls['name']" [(ngModel)]="giveFeedbackData.name">
                        <small
                          *ngIf=" giveFeedbackForm.controls['name'].hasError('required') && giveFeedbackForm.controls['name'].touched"
                          class="form-error-msg">CAN'T LEAVE IT BLANK</small>
                      </div>
                    </div>
                    <div class="form-group">
                      <label>Email Address</label>
                      <div class="input_outer">
                        <input type="text" placeholder="example@domain.com" class="form-control"
                          [formControl]="giveFeedbackForm.controls['email']" [(ngModel)]="giveFeedbackData.email">
                        <small
                          *ngIf=" giveFeedbackForm.controls['email'].hasError('required') && giveFeedbackForm.controls['email'].touched"
                          class="form-error-msg">CAN'T LEAVE IT BLANK</small>
                        <small
                          *ngIf=" giveFeedbackForm.controls['email'].hasError('email') && giveFeedbackForm.controls['email'].touched"
                          class="form-error-msg">INVALID EMAIL ADDRESS</small>
                      </div>
                    </div> -->
                    <div class="form-group">
                      <label>Feedback</label>
                      <textarea class="form-control" [formControl]="giveFeedbackForm.controls['feedback']"
                        [(ngModel)]="giveFeedbackData.feedback">Type</textarea>
                      <div class="textarea_length">
                        <!-- <p>(0 of 3000)</p> -->
                      </div>
                      <small
                        *ngIf=" giveFeedbackForm.controls['feedback'].hasError('required') && giveFeedbackForm.controls['feedback'].touched"
                        class="form-error-msg">CAN'T LEAVE IT BLANK</small>
                    </div>
                  </form>
                </div>
              </div>
              <div class="row bottom_arrow">
                <div class="col-12">
                  <a (click)="back()" class="back_arrow cursor"><span class="icon-left-arrow"></span>Back</a>
                  <button class="btn_style save_btn cursor" (click)="giveFeedback(userData.id)"
                    [disabled]="giveFeedbackForm.invalid">Send</button>
                </div>
              </div>
            </div>

            <!-- ----------------------------------------------------------------------------------------- -->
          </div>


        </div>
      </div>

    </div>

  </section>

  <!-- Modal -->
  <div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <!-- <h5 class="modal-title" id="exampleModalLabel">YOUR ACCOUNT IS ACTIVE NOW</h5> -->
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Do you really want to Activate or Deativate account ?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">CANCEL</button>
          <button type="button" (click)="activeDeactiveUser(userData.id,user.isActivated)" data-dismiss="modal"
            class="btn btn-primary">CONFIRM</button>
        </div>
      </div>
    </div>
  </div>


  <!--share Modal -->
  <div class="modal fade search_modal password" id="SearchModal" data-backdrop="static" data-keyboard="false"
    tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" class="icon-close"></span>
        </button>
        <div class="modal-body">
          <h2>Share</h2>
          <div class="share_option">
            <ul>
              <li>
                <a href="javascript:;">Facebook</a>
              </li>
              <li>
                <a href="javascript:;">Messenger</a>
              </li>
              <li>
                <a href="javascript:;">Email</a>
              </li>
              <li>
                <a href="javascript:;">Whatsapp</a>
              </li>
              <li>
                <a href="javascript:;">Copylink</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>


  <app-footer></app-footer>

</body>
<!-- <app-confirm-dialog></app-confirm-dialog> -->
<ngx-ui-loader></ngx-ui-loader>