.box {
    height: 150px;
    border-radius: 3px;
    box-sizing: border-box;
    background-position: 0 0, 0 100%;
    background-repeat: no-repeat;
    background-size: 100% 3px;
    background-color: white;
        display: flex;
      justify-content: center;
      align-items: center;
        border: 1px solid #E5E9EC;
        box-sizing: border-box;
        border-radius: 4px;
        transition: 0.8s;
  }
  div.buttons{
    padding-bottom: 20px;
  }
  .bgcolor{
      background-color: white;
  }
  .box:hover {
    border: 1.5px solid #F15C20;
  }

  .selectType {
    border: 1.5px solid #F15C20;
   }


  .col-sm-1 {
      align-items: flex-end;
      justify-content: center;
      display: flex;
      padding: 6px;
  }
  .col-sm-11{
      padding: 0px;
  }
  .heading {
    color: #636363;
    font-family: 'Patrick Hand';
    font-size: 28px;
    line-height: 29px;
    color: #748494;
    margin-top: 6px;
  }
  .heading .heading1-label{
    color: #636363;
    font-family: 'Patrick Hand';
    font-size: 28px;
    line-height: 29px;
    color: #748494;
    margin-top: 0;
    font-weight: normal;
    text-transform: capitalize;
  }
  .boxes {
      padding-top: 50px;
      padding-bottom: 50px;
  }
  .buttons .btn{
    font-size: 13px;
    line-height: 16px;
    text-align: justify;
    letter-spacing: 0.001em;
    color: #748494;
  }
  .buttons .btn:focus{
      outline: none;
      box-shadow: none;
  }
  .buttons button.btn.btn-Grade {
      border: none;
      padding:0 10px;
      min-width: 120px;
      min-height: 36px;
      line-height: 36px;
      float: right;
      font-weight: 600;
      font-size: 13px;
      background-color: #F15C20;
      color: #fff;
      text-align: center;
        border: 1px solid #F15C20;
        box-sizing: border-box;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12);
        border-radius: 4px;
  }
 
button.btn.btn-Grade2{
    padding: 6px 10px;
    width: 120.2px;
    height: 37px;
    margin-right: 15px;
    margin-top: 1px;
}
  div.body {
    background-color: #f9fafa;
    padding-top: 30px;
}
  .steps{
    font-weight: 600;
    font-size: 10px;
    line-height: 14px;
    text-transform: uppercase;
    color: #777CEA;
  }
  img.arrow{
    width: 17px;
    margin-right: 10px;
    vertical-align: text-bottom;
  }
  
  img.calender{
  width: 25px;
  margin-bottom: 8px;
  }
  
  .box_content {
        text-align: center;
        font-style: normal;
        font-weight: 500;
        font-size: 13px;
        line-height: 18px;
        color: #748494;
  }
  img.logo_h{
      height: 40px;
  }
  .header_logo {
      padding: 10px 10px;
  }
  ul.header_icons {
      list-style: none;
      display: flex;
      align-items: center;
      float: right;
  }
  img.header_icon_image {
      height: 20px;
  }
  ul.header_icons li {
      padding: 10px;
  }
  img.user_image {
      height: 40px;
      margin-left: 30px;
  }
  .header{
      width: 100%;
      margin: 0 auto;
  }
  .w3-light-grey.w3-round-xlarge {
      width: 102%;
      margin-left: -9px;
      height: 8px;
  }
  .w3-container.w3-blue.w3-round-xlarge {
      height: 8px;
      background: #777CEA !important;
  }
  
  .container_1 {
      padding: 40px 0px 0px;
  }
  
  .box_1 {
    position: relative;
    background: #ffffff;
    width: 100%;
  }
  
  .box-header {
    color: #444;
    display: block;
    padding: 10px;
    position: relative;
    border-bottom: 1px solid #f4f4f4;
    margin-bottom: 10px;
  }
  
  .box-tools {
    position: absolute;
    right: 10px;
    top: 5px;
  }
  
  .dropzone-wrapper {
    border: 2px dashed #91b0b3;
    color: #92b0b3;
    position: relative;
      align-items: center;
      height: 100px;
      justify-content: center;
      display: flex;
      border-radius: 5px;
  
  }
  
  .dropzone-desc {
      float: right;
      display: flex;
      margin: 0 auto;
      text-align: center;
      width: 92%;
      font-size: 16px;
  }
  .dropzone-desc .btn.btn-Grade{
    border: none;
    padding: 0 10px;
    min-width: 120px;
    min-height: 28px;
    line-height: 28px;
    float: right;
    color: #fff;
    background: #777CEA;
    font-size: 12px;
    font-weight: 500;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    text-transform: uppercase;
}
  .dropzone,
  .dropzone:focus {
    position: absolute;
    outline: none !important;
    width: 100%;
    height: 150px;
    cursor: pointer;
    opacity: 0;
  }
  
  .dropzone-wrapper:hover,
  .dropzone-wrapper.dragover {
    background: #ecf0f5;
  }
  
  .preview-zone {
    text-align: center;
  }
  
  .preview-zone .box {
    box-shadow: none;
    border-radius: 0;
    margin-bottom: 0;
  }
  .row_text {
      width: 75%;
  
  }
  /*! nouislider - 8.1.0 - 2015-10-25 16:05:44 */
  .noUi-target,.noUi-target *{-webkit-touch-callout:none;-webkit-user-select:none;-ms-touch-action:none;touch-action:none;-ms-user-select:none;-moz-user-select:none;-moz-box-sizing:border-box;box-sizing:border-box}.noUi-target{position:relative;direction:ltr}.noUi-base{width:100%;height:100%;position:relative;z-index:1}.noUi-origin{position:absolute;right:0;top:0;left:0;bottom:0}.noUi-handle{position:relative;z-index:1}.noUi-stacking .noUi-handle{z-index:10}.noUi-state-tap .noUi-origin{-webkit-transition:left .3s,top .3s;transition:left .3s,top .3s}.noUi-state-drag *{cursor:inherit!important}.noUi-base{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}.noUi-horizontal{height:10px}.noUi-horizontal .noUi-handle{width: 20px;
      height: 20px;
      left: -13px;
      top: -6px;}.noUi-vertical{width:18px}.noUi-vertical .noUi-handle{width:28px;height:34px;left:-6px;top:-17px}.noUi-background{background:#FAFAFA;box-shadow:inset 0 1px 1px #f0f0f0}.noUi-connect{background:linear-gradient(to right, #cb3651, #f15a29);box-shadow:inset 0 0 3px rgba(51,51,51,.45);-webkit-transition:background 450ms;transition:background 450ms}.noUi-origin{border-radius:2px}.noUi-target{border-radius:4px;border:1px solid #D3D3D3;box-shadow:inset 0 1px 1px #F0F0F0,0 3px 6px -5px #BBB}.noUi-target.noUi-connect{box-shadow:inset 0 0 3px rgba(51,51,51,.45),0 3px 6px -5px #BBB}.noUi-draggable{cursor:w-resize}.noUi-vertical .noUi-draggable{cursor:n-resize}.noUi-handle{border:1px solid #D9D9D9;border-radius:25px;background:#FFF;cursor:default;box-shadow:inset 0 0 1px #FFF,inset 0 1px 7px #EBEBEB,0 3px 6px -3px #BBB}.noUi-active{box-shadow:inset 0 0 1px #FFF,inset 0 1px 7px #DDD,0 3px 6px -3px #BBB}.noUi-handle:after,.noUi-handle:before{content:"";display:block;position:absolute;height:14px;width:1px;background:#E8E7E6;left:14px;top:6px}.noUi-handle:after{left:17px}.noUi-vertical .noUi-handle:after,.noUi-vertical .noUi-handle:before{width:14px;height:1px;left:6px;top:14px}.noUi-vertical .noUi-handle:after{top:17px}[disabled] .noUi-connect,[disabled].noUi-connect{background:#B8B8B8}[disabled] .noUi-handle,[disabled].noUi-origin{cursor:not-allowed}.noUi-pips,.noUi-pips *{-moz-box-sizing:border-box;box-sizing:border-box}.noUi-pips{position:absolute;color:#999}.noUi-value{width:40px;position:absolute;text-align:center}.noUi-value-sub{color:#ccc;font-size:10px}.noUi-marker{position:absolute;background:#CCC}.noUi-marker-large,.noUi-marker-sub{background:#AAA}.noUi-pips-horizontal{padding:10px 0;height:50px;top:100%;left:0;width:100%}.noUi-value-horizontal{margin-left:-20px;padding-top:20px}.noUi-value-horizontal.noUi-value-sub{padding-top:15px}.noUi-marker-horizontal.noUi-marker{margin-left:-1px;width:2px;height:5px}.noUi-marker-horizontal.noUi-marker-sub{height:10px}.noUi-marker-horizontal.noUi-marker-large{height:15px}.noUi-pips-vertical{padding:0 10px;height:100%;top:0;left:100%}.noUi-value-vertical{width:15px;margin-left:20px;margin-top:-5px}.noUi-marker-vertical.noUi-marker{width:5px;height:2px;margin-top:-1px}.noUi-marker-vertical.noUi-marker-sub{width:10px}.noUi-marker-vertical.noUi-marker-large{width:15px}.noUi-tooltip{display:block;position:absolute;border-radius:3px;background:#fff;padding:5px;left:-9px;text-align:center;width:50px}.noUi-handle-lower .noUi-tooltip{top:20px}.noUi-handle-upper .noUi-tooltip{bottom:-32px}
  
  input.form-control.custom-text {
  border-left: none;
  }
  .btn-group.show {
      width: 100%;
      border: 1px solid #ced4da;
      border-radius: .25rem;
      transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }
  button.btn.btn-default.dropdown-toggle{
  flex: 0;
  }
  .btn-group{
  
  width: 100%;
      border: 1px solid #ced4da;
      border-radius: .25rem;
      transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }
  ul.dropdown-menu.show {
      width: 100%;
  }
  .container_3 {
      border: 2px solid #dadada;
      padding: 10px 20px;
      border-radius: 3px;
  }
  .batch_box {
  font-size: 10px;
  }
  .heading_batch {
      padding: 15px;
      font-weight: 600;
      font-size: 13px;
      background: linear-gradient(to right, #cb3651, #f15a29);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
  }
  
  .box_big1 {
      height: 350px;
      border-left: 3px solid #e5e9ec;
      border-right: 3px solid #e5e9ec;
      border-radius: 3px;
      box-sizing: border-box;
      background-position: 0 0, 0 100%;
      background-repeat: no-repeat;
      background-size: 100% 3px;
      background-image: linear-gradient(to right, #e5e9ec 0%, #e5e9ec 100%), linear-gradient(to right, #e5e9ec 0%, #e5e9ec 100%);
      display: flex;
      justify-content: center;
      align-items: center;
  }
  .box_big1:hover {
      border-left: 3px solid #cb3652;
      border-right: 3px solid #f15a29;
      background-image: linear-gradient(to right, #cb3652 0%, #f15a29 100%), linear-gradient(to right, #cb3652 0%, #f15a29 100%);
  }
  .heading_p {
      font-size: 15px;
      font-weight: 600;
      background: linear-gradient(to right, #cb3651, #f15a29);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      padding-bottom: 15px;
      padding-top: 30px;
  }
  p {
      font-size: 12px;
  }
.adult_assistance{
    width: 100%;
    display: inline-block;
    margin-top: 5px;
    }
    label.capacity{
        color: #F15C20 !important;
    }

    .add_other {
        font-style: normal;
        font-weight: 600;
        font-size: 13px;
        line-height: 18px;
        letter-spacing: 0.001em;
        color: #748494;
        margin: 13px 0 0 17px;
        display: inline-block;
    }
  img.banner {
      width: 100%;
  }
  body {
      color: #748494;
  }
  h2.soccer_heading {
      font-weight: 500;
      color: #748494;
      margin: 0;
          padding-bottom: 10px;
  }
  ul.soccer_icons {
      list-style: none;
      display: flex;
      align-items: center;
      padding-left: 0px;
      font-size: 12px;
  }
  ul.soccer_icons li {
      padding-right: 10px;
  }
  ul.soccer_icons li img.header_icon_image {
      padding-right: 10px;
  }
  td.img img.user_image {
      margin-left: 0px;
      height: 60px;
          padding-right: 10px;
      padding-bottom: 5px;
  }
  ul.footer_p {
      display: flex;
      list-style: none;
      padding: 3px 14px;
  }
  ul.footer_p li {
      padding-right: 20px;
  }
  footer {
      padding-left: 14px;
      margin-top: 0px;
      font-size: 13px;
  }



/* very important to hide mat-step header */

  ::ng-deep .mat-horizontal-stepper-header-container {
    display: none !important;
  }
  :host ::ng-deep .mat-horizontal-content-container {
    padding:0 !important;
}

.btn-group .dropdown-menu li{
padding:6px 11px;
}
.btn-group .dropdown-menu li img{
    margin-right: 7px;
}
.btn-group button.btn{
    font-size: 13px;
    color: #748494;
}
.mat-stepper-horizontal, .mat-stepper-vertical {
    margin: -4px 0 0 0;
}





.batch_modal .modal-dialog {
    max-width: 590px;
}

.batch_modal .modal-content .close {
    position: absolute;
    top: 18px;
    right: 17px;
    z-index: 1;
}
.batch_modal .modal-content .add_note{
    margin-top: 42px;
}
.batch_modal .modal-content .close span {
    color: #8e8f90;
    font-size: 20px;
}
.batch_modal .modal-body{
    padding: 9px 40px 50px;
}
.batch_modal .modal-body h2 {
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.01em;
    color: #748494;
    margin: 22px 0 0 0;
}
.batch_modal .submit_btn{
    text-align: center;
    margin-top: 120px;
}
.batch_modal .submit_btn .submitBtn{
min-width: 160px;
min-height: 36px;
line-height: 36px;
font-weight: 600;
font-size: 13px;
background: #F15C20;
border: 1px solid #F15C20;
box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12);
border-radius: 4px;
text-align: center;
text-transform: uppercase;
color: #FFFFFF;
transition: 0.8s;
}
.batch_modal .submit_btn .submit_btn:hover{
background: #de4f15;
}
.batch_modal .submit_btn .cancel_btn{
    background-color: transparent;
    min-width: 160px;
    min-height: 36px;
    line-height: 36px;
    font-weight: 600;
    font-size: 13px;
    border: 1px solid #F15C20;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    text-align: center;
    text-transform: uppercase;
    color: #F15C20;
    transition: 0.8s;
    margin: 0 0 0 5px;  
}
.batch_modal .submit_btn .cancel_btn:hover{
    background: #de4f15;
    color:#fff;
}
.batch_modal .form-group.date_time .input_outer {
    width: 100%;
    border-radius: 4px;
    border: 1px solid #E5E9EC;
    min-height: 52px;
}
.batch_modal .form-group.date_time .input_outer input {
    max-width: 47%;
    border: none;
    display: inline-block;
}
.batch_modal .form-group.date_time .input_outer .arrow_img {
    display: inline-block;
}
.form-group .input-group .form-control, .form-group .input-group input{
    width: auto;
}
.batch_modal .form-group.toogle_program{
    max-height: 55px;
}
.batch_modal .form-group.toogle_program label{
width: 100%;
}
.batch_modal .form-group.toogle_program label.switch.notification{
width: 28px;
margin: 3px 0 0 14px;
}
.batch_modal .form-group .input_outer {
    position: relative;
}
.batch_modal .form-group .input_outer::after {
    position: absolute;
    font-family: 'icomoon' !important;
    font-size: 18px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 9px;
    color: #F15C20;
    opacity: 0;
}
.batch_modal .form-group .input_outer:focus::after, .batch_modal .form-group .input_outer:focus-within::after {
    opacity: 1;
}

.switch.notification {
    position: relative;
    display: inline-block;
    width: 28px;
    height: 17px;
    margin: 0 0 0 12px;
}

.switch.notification input {
    opacity: 0;
    width: 0;
    height: 0;
}

.switch.notification .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.switch.notification .slider:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    left: 4px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

.switch.notification input:checked+.slider {
    background-color: #F15C20;
}

.switch.notification input:focus+.slider {
    box-shadow: 0 0 1px #F15C20;
}

.switch.notification input:checked+.slider:before {
    -webkit-transform: translateX(9px);
    -ms-transform: translateX(9px);
    transform: translateX(9px);
}

/* Rounded sliders */
.switch.notification .slider.round {
    border-radius: 34px;
}

.switch.notification .slider.round:before {
    border-radius: 50%;
}


@media (max-width:767px){
    div.body {
        padding:30px 15px 0;
    } 
    .heading .heading1-label{
        font-size: 22px;
      }
      .col-sm-1, .col-sm-11{
          display: inline-block;
          width: auto;
      }
      .boxes{
        padding-top: 29px;
      }
      .box{
        margin-bottom: 17px;
      }
}

.form-group .input_outer .ng-autocomplete{
    width: 550px !important;
}