<app-header></app-header>
<app-nav></app-nav>
<!-- ---------------FIRST STEP----------------- -->

<mat-horizontal-stepper [linear]="true">
  <mat-step>
    <div class="w3-light-grey w3-round-xlarge">
      <div class="w3-container w3-blue w3-round-xlarge" style="width:35%"></div>
    </div>
    <div class="content body">
      <div class="container">
        <div class="row">
          <div class="col-sm-1">
            <a routerLink="/program/list"><img class="arrow" src="assets/back_arrow.svg"></a>
          </div>
          <div class="col-sm-11">
            <div class="steps">Step 1</div>
            <div class="heading">
              <label class="heading1-label">Add Program: Select Type</label>
            </div>
          </div>
        </div>

        <div class="boxes">
          <div class="row">
            <div class="col-sm-4">
              <div class="box" (click)="selectSingleEvent()" [class.selectType]="isSingleEvent">
                <div class="box_content">
                  <img class="calender" src="assets/cal.png"><br>
                  One Time Scheduled Event
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="box" (click)="selectScheduled()" [class.selectType]="isScheduled">
                <div class="box_content">
                  <img class="calender" src="assets/cal_1.png"><br>
                  Multi Event/Series
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="box" (click)="selectUnScheduled()" [class.selectType]="isUnScheduled">
                <div class="box_content">
                  <img class="calender" src="assets/cal_1.png"><br>
                  Un-scheduled
                </div>
              </div>
            </div>
          </div>
        </div>
        <hr>

        <div class="buttons">
          <button type="button" routerLink="/home" class="btn"><img class="arrow"
              src="assets/left_grey.png">Back</button>
          <button type="button" class="btn btn-Grade" [disabled]="!program.type" matStepperNext>NEXT</button>
        </div>
      </div>
    </div>
  </mat-step>

  <!-- ----------------SECOND STEP---------------- -->

  <mat-step>
    <div class="w3-light-grey w3-round-xlarge">
      <div class="w3-container w3-blue w3-round-xlarge" style="width:70%"></div>
    </div>
    <div class="content body">

      <div class="container">

        <div class="row">
          <div class="col-sm-6">
            <div class="row">
              <div class="col-sm-1">
                <img class="arrow" src="assets/back_arrow.svg">
              </div>
              <div class="col-sm-11">
                <div class="steps">Step 2</div>
                <div class="heading">
                  <label class="heading1-label">Add Program: Basic Details</label>
                </div>
              </div>
            </div>
            <div class="row">

            </div>
            <section>
              <div class="container_1">
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label class="custom-label">Program Cover Photo</label>

                      <!-- <div class="dropzone-wrapper bgcolor"> -->
                      <!-- <div class="dropzone-desc"> -->
                      <i class="glyphicon glyphicon-download-alt"></i>

                      <!-- <div class="row_text">
                            <p>Drag and Drop.</p>
                          </div> -->
                      <!-- <button type="submit" class="btn btn-Grade">Upload</button> -->
                      <!-- </div> -->
                      <app-drag-drop [isMultiple]="false" (onSelection)="onImageDrop($event)"></app-drag-drop>
                      <!-- <inpu  t type="file" name="img_logo" class="dropzone"> -->
                      <!-- </div> -->
                    </div>
                  </div>
                </div>
              </div>

            </section>


            <section>
              <div class="container_2">
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label class="custom-label">Program Name</label>
                      <input type="text" class="form-control" placeholder="Type" [(ngModel)]="program.name"
                        name="programName" required>
                    </div>
                  </div>
                </div>
              </div>
            </section>
            <section>
              <div class="container_2">
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label class="custom-label">Intrests</label>
                      <div class="input_outer">
                        <div class="ng-autocomplete">
                          <ngx-ui-loader></ngx-ui-loader>
                          <ng-autocomplete [data]="tags" [searchKeyword]="keyword" (selected)='selectEvent($event)'
                            (inputChanged)='onChangeSearch($event)' (inputFocused)='onFocused($event)'
                            [itemTemplate]="itemTemplate" [notFoundTemplate]="notFoundTemplate">
                          </ng-autocomplete>

                          <ng-template #itemTemplate let-item>
                            <a [innerHTML]="item.name"></a>
                          </ng-template>

                          <ng-template #notFoundTemplate let-notFound>
                            <div *ngIf="tags.length" [innerHTML]="notFound"></div>
                          </ng-template>
                        </div>
                      </div>
                      <br>
                      <mat-form-field>
                        <mat-chip-list>
                          <mat-chip *ngFor="let t of tag;let indx=index;" [selectable]="selectable"
                            [removable]="removable" (removed)="remove(t)">
                            {{t.name}}
                            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                          </mat-chip>
                        </mat-chip-list>
                      </mat-form-field>

                    </div>
                  </div>
                </div>
              </div>
            </section>
            <section>
              <div class="container_2">
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label class="custom-label">Age Group</label>
                      <br>
                      <br>
                      <ng5-slider [(value)]="minAge" [(highValue)]="maxAge" [options]="ageOption">
                      </ng5-slider>
                    </div>
                  </div>
                </div>
              </div>
            </section>

            <section style="padding-top: 30px;">
              <div class="container_2">
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label class="custom-label">Description</label>
                      <textarea class="form-control" rows="6" [(ngModel)]="program.description" placeholder="Type"
                        name="description" [formControl]="addProgramForm.controls['description']"></textarea>
                      <small
                        *ngIf=" addProgramForm.controls['description'].hasError('required') && addProgramForm.controls['description'].touched"
                        class="form-error-msg">CAN'T LEAVE IT BLANK</small>
                    </div>
                  </div>
                </div>
              </div>
            </section>
            <section>
              <div class="container_2">
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label class="custom-label">Dates</label>

                      <div class="input-group mb-3">
                        <input [owlDateTimeTrigger]="dt3" placeholder="Start Date" class="form-control"
                          [owlDateTime]="dt3" [(ngModel)]="fromDate" readonly>
                        <owl-date-time [pickerType]="'calendar'" #dt3></owl-date-time>
                        <!-- <input type="text" id="fromDateSelector" class="form-control" placeholder="Start Date"> -->
                        <div class="input-group-prepend">
                          <div class="input-group-text custom-text">
                            <img class="arrow" src="assets/right.png">
                          </div>
                        </div>
                        <input [owlDateTimeTrigger]="dt4" placeholder="End Date" class="form-control"
                          [owlDateTime]="dt4" [(ngModel)]="toDate" readonly>
                        <owl-date-time [pickerType]="'calendar'" #dt4></owl-date-time>
                        <!-- <input [owlDateTime]="dt2" [owlDateTimeTrigger]="dt2" class="form-control custom-text"
                          placeholder="End Date">
                        <owl-date-time #dt2></owl-date-time> -->
                        <!-- <input id="toDateSelector" type="text" class="form-control custom-text" placeholder="End Date"> -->
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </section>

            <section>
              <div class="container_2">
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label class="custom-label">Time</label>

                      <div class="input-group mb-3">
                        <input [owlDateTimeTrigger]="dt5" [owlDateTime]="dt5" placeholder="Start Time"
                          class="form-control" [(ngModel)]="fromTime" (ngModelChange)="onChange($event)" readonly>
                        <owl-date-time [pickerType]="'timer'" #dt5></owl-date-time>
                        <!-- <input type="text" class="form-control" placeholder="Start Time"> -->
                        <div class="input-group-prepend">
                          <div class="input-group-text custom-text">
                            <img class="arrow" src="assets/right.png">
                          </div>
                        </div>
                        <input [owlDateTimeTrigger]="dt6" [owlDateTime]="dt6" placeholder="End Time"
                          class="form-control" [(ngModel)]="toTime" (ngModelChange)="onChange($event)" readonly>
                        <owl-date-time [pickerType]="'timer'" #dt6></owl-date-time>
                        <!-- <input type="text" class="form-control custom-text" placeholder="End Time"> -->
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </section>

            <!-- 
            <section>
              <div class="container_2">
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label class="custom-label">Select Associates</label>
                      <div class="btn-group bgcolor">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                          aria-haspopup="true" aria-expanded="false">
                          <img src="assets/user.png">
                          John Doe
                          <span class="glyphicon glyphicon-chevron-down"></span>
                        </button>

                        <ul class="dropdown-menu">
                          <li>
                            <a href="" title="Select this card"><img src="assets/user.png">0123 4567 8912 3456</a>
                          </li>
                          <li>
                            <a href="" title="Select this card"><img src="assets/user.png">0123 4567 8912 3456</a>
                          </li>
                          <li>
                            <a href="" title="Select this card"><img src="assets/user.png">0123 4567 8912 3456</a>
                          </li>
                        </ul>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </section> -->

            <section>
              <div class="container_2">
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label class="text_color">is it a free program?</label>
                      <div class="adult_assistance">
                        <label class="switch notification">
                          <input type="checkbox" [(ngModel)]="isFree">
                          <span class="slider round"></span>
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>

            <section *ngIf="!isFree">
              <div class="container_2">
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label class="custom-label">Price Per Participant</label>

                      <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <div class="input-group-text">
                            $
                          </div>
                        </div>
                        <input type="text" class="form-control" placeholder="Type"
                          [(ngModel)]="program.pricePerParticipant">
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </section>


            <section *ngIf="!isFree">
              <div class="container_2">
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label class="custom-label">Price For Siblings</label>

                      <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <div class="input-group-text">
                            $
                          </div>
                        </div>
                        <input type="text" class="form-control" placeholder="Type"
                          [(ngModel)]="program.priceForSiblings">
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </section>


          </div>
        </div>
        <hr>
        <div class="buttons">
          <button type="button" class="btn" matStepperPrevious><img class="arrow"
              src="assets/left_grey.png">Back</button>
          <button type="button" class="btn btn-Grade" [disabled]="!program.name || !program.description"
            matStepperNext>NEXT</button>
        </div>

      </div>
    </div>
  </mat-step>


  <!-- ----------------THIRD STEP---------------- -->

  <mat-step>
    <div class="w3-light-grey w3-round-xlarge">
      <div class="w3-container w3-blue w3-round-xlarge" style="width:100%"></div>
    </div>
    <div class="content body">

      <div class="container">

        <div class="row">
          <div class="col-sm-6">
            <div class="row">
              <div class="col-sm-1">
                <img class="arrow" src="assets/back_arrow.svg">
              </div>
              <div class="col-sm-11">
                <div class="steps">Step 3</div>
                <div class="heading">
                  <label class="heading1-label">Add Program: Other Details</label>
                </div>
              </div>
            </div>
            <div class="row">
            </div>
            <section>
              <div class="container_2">
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label class="custom-label">Default Email</label>
                      <input type="text" class="form-control" placeholder="Email" [(ngModel)]="program.emails"
                        name="email">
                    </div>
                    <!-- <a class="add_other cursor"><span class="icon icon-plus"></span>Add
                      another
                      Email</a> -->
                  </div>
                </div>
              </div>
            </section>



            <section style="padding-top: 30px;">
              <div class="container_2">
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label class="custom-label">Special Instructions</label>
                      <textarea class="form-control" rows="6" [(ngModel)]="program.specialInstructions"
                        placeholder="Type" name="description"></textarea>
                    </div>
                  </div>
                </div>
              </div>
            </section>

            <section>
              <div class="container_2">
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label class="text_color">Adult Assistance is required</label>
                      <div class="adult_assistance">
                        <label class="switch notification">
                          <input type="checkbox" [(ngModel)]="adultAssistanceIsRequried">
                          <span class="slider round"></span>
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
            <section>
              <div class="container_2">
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label class="custom-label capacity">capacity</label>
                      <br>
                      <br>
                      <ng5-slider [(value)]="minCapacity" [(highValue)]="maxCapacity" [options]="capacityOption">
                      </ng5-slider>
                    </div>
                  </div>
                </div>
              </div>
            </section>

            <section>
              <div class="container_2">
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label class="custom-label">BOOKING CANT'T BE CANCELLED BEFORE</label>
                      <div class="row">
                        <div class="col-md-8">
                          <input type="text" class="form-control" placeholder="Days" name="Days"
                            [(ngModel)]="bookingCancelledIn.days">
                        </div>
                        <div class="col-md-4">
                          <input type="text" class="form-control" placeholder="Hours" name="Hours"
                            [(ngModel)]="bookingCancelledIn.hours">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>

            <section>
              <div class="container_2">
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label class="custom-label">ADDRESS</label>

                      <input type="text" class="form-control" placeholder="Fake Avenue 123, 10004, New Yark,NY"
                        [(ngModel)]="program.addresses">

                    </div>
                    <!-- <a class="add_other cursor"><span class="icon icon-plus"></span>Add
                      another
                      Address</a> -->
                  </div>
                </div>
              </div>
            </section>


          </div>
        </div>
        <hr>
        <div class="buttons">
          <button type="button" class="btn" matStepperPrevious><img class="arrow"
              src="assets/left_grey.png">Back</button>
          <button (click)="publishProgram()" type="button" class="btn btn-Grade">PUBLISH</button>
          <button *ngIf="isAddBatch" type="button" class="btn btn-Grade2" style="float:right" data-toggle="modal"
            data-target="#BatchModal">ADD BATCH</button>
        </div>
      </div>
    </div>

  </mat-step>

</mat-horizontal-stepper>

<!-- Add Batch Modal -->
<div class="modal fade batch_modal password" id="BatchModal" data-backdrop="static" data-keyboard="false" tabindex="-1"
  role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true" class="icon-close"></span>
      </button>
      <div class="modal-body">
        <h2>Add Batch</h2>
        <div class="verification_outer">
          <div class="add_note">

            <div class="form-group">
              <label>Batch name</label>
              <div class="input_outer">
                <input type="text" class="form-control" [(ngModel)]="batch.name">
              </div>
            </div>
            <div class="form-group date_time">
              <label>Dates</label>
              <div class="input_outer">
                <input [owlDateTimeTrigger]="dt7" [owlDateTime]="dt7" [(ngModel)]="batch.startDate" class="form-control"
                  placeholder="Start Date" (ngModelChange)="onChange($event)">
                <owl-date-time [pickerType]="'calendar'" #dt7></owl-date-time>

                <div class="arrow_img">
                  <img src="assets/arrow-right.svg" alt="Arrow Image">
                </div>
                <input [owlDateTimeTrigger]="dt8" [owlDateTime]="dt8" [(ngModel)]="batch.endDate"
                  class="form-control right_input" placeholder="End Date" (ngModelChange)="onChange($event)">
                <owl-date-time [pickerType]="'calendar'" #dt8></owl-date-time>

              </div>
            </div>
            <div class="form-group date_time">
              <div class="input_outer">
                <input [owlDateTimeTrigger]="dt9" [owlDateTime]="dt9" [(ngModel)]="batch.startTime" class="form-control"
                  placeholder="Start Time" (ngModelChange)="onChange($event)">
                <owl-date-time [pickerType]="'timer'" #dt9></owl-date-time>
                <div class="arrow_img">
                  <img src="assets/arrow-right.svg" alt="Arrow Image">
                </div>
                <input [owlDateTimeTrigger]="dt10" [owlDateTime]="dt10" [(ngModel)]="batch.endTime"
                  class="form-control right_input" placeholder="End Time" (ngModelChange)="onChange($event)">
                <owl-date-time [pickerType]="'timer'" #dt10></owl-date-time>

              </div>
            </div>
            <!-- <div class="form-group toogle_program">
              <label>IS IT a free Program?</label>
              <label class="switch notification">
                <input type="checkbox" checked="">
                <span class="slider round"></span>
              </label>
            </div> -->
            <!-- <div class="form-group">
              <label class="custom-label">Price Per Participant</label>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <div class="input-group-text"> $ </div>
                </div><input class="form-control" placeholder="Type" type="text">
              </div>
            </div> -->
            <!-- <div class="form-group">
              <label class="custom-label">PRICE FOR SIBLINGS</label>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <div class="input-group-text"> $ </div>
                </div><input class="form-control" placeholder="Type" type="text">
              </div>
            </div> -->





            <div class="submit_btn">
              <button class="submitBtn" data-dismiss="modal" (click)="addBatch()" [disabled]="!batch.name">
                <div data-dismiss="modal">Add</div>
              </button>
              <button class="cancel_btn" data-dismiss="modal">Cancel</button>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>