<body>

  <app-header2 *ngIf="!isLogin"></app-header2>
  <app-header *ngIf="isLogin"></app-header>
  <app-nav *ngIf="providerRole"></app-nav>

  <section class="main_outer">

    <div class="program_outer">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <app-carousel></app-carousel>
          </div>
        </div>


        <div class="program_text">
          <div class="row">
            <div class="col-md-8">
              <div class="CategoryText">
                <h5>Intrest</h5>
                <mat-chip-list>
                  <mat-chip *ngFor="let intrest of program.tags">{{intrest.name}}</mat-chip>
                </mat-chip-list>
                <h3>{{program.name}}</h3>
                <div class="session_details">
                  <p><img src="assets/pin_blue.svg" alt="Loction Pin">{{program.location}}</p>
                  <p><img src="assets/calendar_blue.svg"
                      alt="Loction Pin">{{program.date.from  | date:"dd:MM:yyyy"}}-{{program.date.to  | date:"dd:MM:yyyy"}}
                  </p>
                  <p><img src="assets/user_group_blue.svg" alt="Loction Pin">
                    {{program.ageGroup.from}}-{{program.ageGroup.to}} Yrs. </p>
                  <p><img src="assets/watch_blue.svg"
                      alt="Loction Pin">{{program.time.from | date:"shortTime"}}-{{program.time.to | date:"shortTime"}}
                  </p>
                  <!-- <p><img src="assets/timer_blue.svg" alt="Loction Pin"> 30 Mins </p> -->
                </div>
                <div class="insured_outer">
                  <p><img src="assets/tick_img.png" alt="Loction Pin"> Verified </p>
                  <p><img src="assets/medical.svg" alt="Loction Pin"> COVID-19 Cleared </p>
                  <p><img src="assets/reward_img.png" alt="Loction Pin"> Certified Provider </p>
                  <p><img src="assets/insured.png" alt="Loction Pin"> Fully Insured </p>
                </div>

              </div>
            </div>
          </div>
        </div>

        <div class="batch_outer">
          <div class="row">
            <div class="col-md-8">
              <div class="batch_left">
                <h2>Batches</h2>
                <div class="listing_outer">
                  <div class="batch_box" *ngFor="let batch of program.batches">
                    <div class="batch_title">
                      <p> Tile of the batch</p>
                    </div>
                    <div class="batch_list_outer">
                      <div class="batch_listing">
                        <label>Time</label>
                        <p>{{batch.startTime | date:"shortTime"}}–{{batch.endTime | date:"shortTime"}}
                        </p>
                      </div>
                      <div class="batch_listing">
                        <label>Dates</label>
                        <p>{{batch.startDate | date:"dd:MM:yyyy"}}–{{batch.endDate | date:"dd:MM:yyyy"}}
                        </p>
                      </div>
                      <div class="batch_listing">
                        <label>instructor</label>
                        <div class="batch_profile">
                          <img src="assets/profile2.png" alt="Profile Image">
                        </div>
                        <p>{{batch.instructor}}</p>
                      </div>
                      <div class="batch_listing">
                        <label>number of seats</label>
                        <p>{{batch.numberOfSeats}}</p>
                      </div>
                      <div class="batch_listing">
                        <label>Location</label>
                        <p>{{batch.location}}</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="description_text">
                <h2>Description</h2>
                <p>{{program.description}}</p>
              </div>

              <div class="description_text">
                <h2>Cancellation Policy</h2>
                <p>
                  <label>Booking can’t be cancelled before</label>
                  {{program.bookingCancelledIn.days}} days {{program.bookingCancelledIn.hours}} Hours
                </p>
                <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                  et dolore magna aliqua. Ut enim ad minim veniam,</p> -->
              </div>

              <div class="description_text">
                <h2>Special Instructions</h2>
                <p>{{program.specialInstructions}}</p>
              </div>

              <div class="description_text">
                <h2>Reviews <a href="" class="view_all">View all</a> </h2>
                <div class="reviews_outer">
                  <div class="media align-items-center">
                    <div class="media-left">
                      <img src="assets/review_img1.png" alt="Review">
                    </div>
                    <div class="media-body">
                      <label>John Doe</label>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua.</p>
                    </div>
                  </div>
                  <div class="media align-items-center">
                    <div class="media-left">
                      <img src="assets/review_img2.png" alt="Review">
                    </div>
                    <div class="media-body">
                      <label>James Do</label>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua.</p>
                    </div>
                  </div>
                  <div class="media align-items-center">
                    <div class="media-left">
                      <img src="assets/review_img3.png" alt="Review">
                    </div>
                    <div class="media-body">
                      <label>Jane Doe</label>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua.</p>
                    </div>
                  </div>
                </div>
              </div>

              <div class="description_text">
                <h2>Other Offerings <a href="" class="view_all">View all</a> </h2>
              </div>

              <div class="row">

                <div class="col-md-4">
                  <div class="featured_box">
                    <div class="featured_img">
                      <img src="assets/offeringImg1.png" alt="Featured Image">
                      <div class="menu_control">
                        <a href=""><img src="assets/menu.svg" alt="Menu Image"></a>
                        <a href="" class="bookmark_icon"><img src="assets/bookmark_svg.svg" alt="Menu Image"></a>
                      </div>
                    </div>
                    <div class="featured_text">
                      <a href="" class="featured_btn">Featured</a>
                      <h3>coding</h3>
                      <p>Kinderbots</p>
                      <div class="feature_box">
                        <p><img src="assets/calendar_blue.svg" alt="Loction Pin"> Mar 09-13,2020 </p>
                        <p><img src="assets/user_group_blue.svg" alt="Loction Pin"> 12-16 Yrs. </p>
                      </div>
                      <div class="rating_box">
                        <img src="assets/featured_star.svg" alt="Star Image">
                        <span>5.0 (15)</span>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="featured_box">
                    <div class="featured_img">
                      <img src="assets/offeringImg2.png" alt="Featured Image">
                      <div class="menu_control">
                        <a href=""><img src="assets/menu.svg" alt="Menu Image"></a>
                        <a href="" class="bookmark_icon"><img src="assets/bookmark_svg.svg" alt="Menu Image"></a>
                      </div>
                    </div>
                    <div class="featured_text">
                      <a href="" class="featured_btn">Featured</a>
                      <h3>reading</h3>
                      <p>How to read as a kid</p>
                      <div class="feature_box">
                        <p><img src="assets/calendar_blue.svg" alt="Loction Pin"> Mar 09-13,2020 </p>
                        <p><img src="assets/user_group_blue.svg" alt="Loction Pin"> 12-16 Yrs. </p>
                      </div>
                      <div class="rating_box">
                        <img src="assets/featured_star.svg" alt="Star Image">
                        <span>5.0 (15)</span>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="featured_box">
                    <div class="featured_img">
                      <img src="assets/offeringImg3.png" alt="Featured Image">
                      <div class="menu_control">
                        <a href=""><img src="assets/menu.svg" alt="Menu Image"></a>
                        <a href="" class="bookmark_icon"><img src="assets/bookmark_svg.svg" alt="Menu Image"></a>
                      </div>
                    </div>
                    <div class="featured_text">
                      <a href="" class="featured_btn">Featured</a>
                      <h3>Stem education</h3>
                      <p>Learn to Create Robots</p>
                      <div class="feature_box">
                        <p><img src="assets/calendar_blue.svg" alt="Loction Pin"> Mar 09-13,2020 </p>
                        <p><img src="assets/user_group_blue.svg" alt="Loction Pin"> 12-16 Yrs. </p>
                      </div>
                      <div class="rating_box">
                        <img src="assets/featured_star.svg" alt="Star Image">
                        <span>5.0 (15)</span>
                      </div>
                    </div>
                  </div>
                </div>

              </div>

            </div>
            <div class="col-md-4">
              <div class="batch_right">
                <img src="assets/small_map.png" alt="Map image">
                <!-- <div class="map_img">
                  <agm-map [latitude]="lat" [longitude]="lng">
                    <agm-marker *ngFor="let item of markers" [latitude]="item.lat"
                          [longitude]="item.lng"
                          [label]="{color: 'black',fontWeight: 'bold', text:item.label}">
                          <agm-info-window>
                              <strong>{{item.info}}</strong>
                          </agm-info-window>
                      </agm-marker>
                  </agm-map>
                </div> -->
              </div>
              <div class="batch_right border_none">
                <img src="assets/business.svg" alt="Business image">
                <h2>Is this your business?</h2>
                <p>Claim your business to immediately update business information,
                  respond to reviews, and more!</p>
                <a (click)="claimBusiness()" class="business_btn cursor">Claim This Business</a>
              </div>
            </div>
          </div>
        </div>

      </div>




    </div>

  </section>
  <app-footer></app-footer>

</body>
<ngx-ui-loader></ngx-ui-loader>