header {
    background-color: #fff;
    padding: 19px 35px;
    box-shadow: inset 0px -1px 0px #E5E9EC;
}

header .logo {
    max-width: 136px;
}


header .logo img {
    max-width: 100%;
}

.content_outer {
    padding-top: 99px;
    padding-bottom: 36px;
}

header .navbar {
    padding: 0;
}

header .navbar-light .navbar-nav .nav-link {
    font-size: 13px;
    font-weight: normal;
    line-height: 16px;
    color: #748494;
    padding: 9px 0;
    margin-right: 25px;
}

header .navbar-nav .btn_style {
    font-family: 'Open Sans';
    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    font-weight: 600;
    font-size: 13px;
    color: #fff;
}

.landing_banner .banner_overlay{
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.58) 0%, rgba(255, 255, 255, 0) 100%);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.program_outer{
    padding:50px 95px 30px 95px;
}
.program_images{
    width: 100% ;
    display: flex;
}
.program_images .program_box{
width: 100%;
max-width: 350px;
margin-right: 5px;
}
.program_images .program_box:last-child{
    margin-right: 0;
}
.program_images .program_box img{
    max-width: 100%;
}
.program_text{
    padding: 35px 0 31px 0;
}
.program_text .CategoryText{
    position: relative;
}
.program_text .CategoryText h5{
    font-weight: 600;
    font-size: 10px;
    line-height: 14px;    
    color: #777CEA;
    text-transform: uppercase;
}
.program_text .CategoryText .learn_code{
width: 60px;
height: 60px;
border-radius: 6px;
overflow: hidden;
position: absolute;
top: 0;
right: 0;
}
.program_text .CategoryText .learn_code img{
max-width: 100%;
height: 100%;
}
.program_text .CategoryText h3{
font-size: 36px;
line-height: 37px;
color: #748494;
font-family: 'Patrick Hand';
margin: 2px 0 0 0;
}
.session_details{
    margin-top: 3px;
}
.session_details p{
font-size: 13px;
line-height: 16px;
letter-spacing: 0.001em;
color: #748494;
display: inline-block;
margin:0 28px 0 0;
}
.session_details p img {
    margin-right: 6px;
    vertical-align: middle;
}
.insured_outer{
    border-top: 1px solid #E5E9EC;
    border-bottom: 1px solid #E5E9EC;
    padding: 13px 0;
    margin-top: 29px;
}
.insured_outer p{
display: inline-block;
font-size: 13px;
line-height: 16px;
letter-spacing: 0.001em;
color: #748494;
margin:0 35px 0 0;
}
.insured_outer p img {
    max-width: 27px;
    margin-right: 12px;
}
.batch_outer .batch_left{
background: #FFFFFF;
box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);
border-radius: 2px;
padding: 30px 35px;
}
.batch_outer .batch_left h2{
    font-family: 'Patrick Hand';
font-size: 26px;
line-height: 18px;
letter-spacing: 0.005em;
color: #777CEA;
}
.batch_box{
    border: 1px solid #E5E9EC;
    border-radius: 4px;
    padding: 16px 28px;
    margin-top: 11px;
}
.batch_box .batch_title p{
    font-weight: 600;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 0.001em;
    color: #777CEA;
}
.listing_outer{
    margin-top: 29px;
}
.batch_outer .batch_right{
    background: #FFFFFF;
    border: 1px solid #E5E9EC;
    box-sizing: border-box;
    border-radius: 2px;
    padding: 21px;
}
.batch_outer .batch_right img{
    max-width: 100%;
}
.batch_outer .batch_right.border_none{
    border:none;
    margin-top: 21px;
    text-align: center;
    padding: 32px;
}
.batch_outer .batch_right h2{
    font-family: 'Patrick Hand';
    font-size: 26px;
    line-height: 18px;
    letter-spacing: 0.005em;
    color: #777CEA;
    margin-top: 16px;
}
.batch_outer .batch_right P{
font-size: 12px;
line-height: 18px;
text-align: center;
color: #748494;
margin: 26px 0 0 0;
}
.batch_outer .batch_right a.business_btn{
min-height: 52px;
line-height: 52px;
width: 100%;
max-width: 100%;
text-align: center;
background-color: #f15c20;
color: #fff;
font-size: 18px;
letter-spacing: 0.005em;
padding: 0 10px;
border-radius: 4px;
display: inline-block;
margin-top: 32px;
}
.batch_list_outer{
    display: flex;
}
.batch_list_outer .batch_listing{
    display: inline-block;
    margin: 0 15px 0 0;
}
.batch_list_outer .batch_listing label{
    font-weight: 600;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: #777CEA;
    text-transform: uppercase;
    width: 100%;
}
.batch_list_outer .batch_listing .batch_profile{
width: 22px;
height: 22px;
border-radius: 4px;
display: inline-block;
margin-right: 14px;
overflow: hidden;
vertical-align: middle;
}
.batch_list_outer .batch_listing .batch_profile img{
    max-width: 100%;
    height: 100%;
}
.batch_list_outer .batch_listing p{
font-weight: normal;
font-size: 13px;
line-height: 16px;
letter-spacing: 0.001em;
display: inline-block;
color: #748494;
}
.description_text{
    background: #FFFFFF;
box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);
border-radius: 2px;
padding: 30px 35px;
margin-top: 21px;
}
.description_text h2{
    font-family: 'Patrick Hand';
    font-size: 26px;
    line-height: 18px;
    letter-spacing: 0.005em;
    color: #777CEA;
}
.description_text p{
    font-size: 13px;
    line-height: 19px;
    letter-spacing: 0.001em;
    color: #748494;
    margin-top: 22px;
}
.description_text label{
font-weight: 600;
font-size: 10px;
line-height: 14px;
text-transform: uppercase;
color: #777CEA;
width: 100%;
display: inline-block
}
.description_text h2 .view_all{
font-weight: 600;
font-size: 10px;
line-height: 14px;
letter-spacing: 0.01em;
text-transform: uppercase;
color: #748494;
float: right;
}
.reviews_outer {
    margin-top: 36px;
}
.reviews_outer .media {
    margin: 0 0 15px 0;
}
.reviews_outer .media .media-left{
    width: 50px;
    height: 50px;
    border-radius: 4px;
    overflow: hidden;
}
.reviews_outer .media .media-left img{
    max-width: 100%;
    height: 100%;
}
.reviews_outer .media .media-body{
    padding: 0 0 0 12px;
}
.reviews_outer .media .media-body label{
font-weight: 600;
font-size: 13px;
line-height: 18px;
letter-spacing: 0.001em;
color: #777CEA;
}
.reviews_outer .media .media-body p{
font-size: 13px;
line-height: 16px;
letter-spacing: 0.001em;
color: #748494;
margin: 0;
}


.featured_box {
    margin-top: 46px;
}

.featured_img {
    border-radius: 4px 4px 0 0;
    overflow: hidden;
    max-height: 180px;
    position: relative;
}

.featured_img img {
    max-width: 100%;
    width: 100%;
    height: 100%;
}

.menu_control{
position: absolute;
top: 0;
right: 0;
text-align: center;
}

.featured_img .menu_control .bookmark_icon img{
    max-width: 19px;
}

.featured_text {
    padding: 12px 0;
    position: relative;
}

.featured_text h3 {
    font-weight: 600;
    font-size: 10px;
    line-height: 14px;
    color: #777CEA;
    margin-top: 13px;
    text-transform: uppercase;
}

.featured_text p {
    font-weight: normal;
    font-size: 22px;
line-height: 30px;
    color: #748494;
    margin: 9px 0 0 0;
    font-family: 'Patrick Hand';
}
.featured_text .feature_box{
    display: inline-block;
    width: 100%;
}
.featured_text .feature_box p{
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.001em;
    color: #748494;
    display: inline-block;
    margin: 0 28px 0 0;
    font-family: 'Open Sans';
}
.feature_box p img {
    margin-right: 6px;
    vertical-align: middle;
}

.featured_text .rating_box span {
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    color: #748494;
}
.featured_text .featured_btn{
    min-width: 75px;
    line-height: 20px;
    min-height: 20px;
border: 1px solid #777CEA;
border-radius: 3px;
font-size: 10px;
display: inline-block;
text-align: center;
letter-spacing: 0.01em;
text-transform: uppercase;
color: #777CEA;
}
.featured_text .featured_btn:hover{
    background-color: #777CEA;
    color: #fff;
}

.rating_box {
    position: absolute;
    right: 0;
    top: 5px;
}


/* start program detail2 page css */
.batch_outer.detailed2{
padding: 30px 0 0 0;
}
.batch_outer.detailed2 .program_text{
padding: 0 0 31px 0;
}
.learn_code.left img{
    max-width: 100px;
}
.description_text .des_media{
    display: inline-block;
    margin: 0 57px 0 0;
}
.description_text .des_media:last-child{
margin: 0;
}
.description_text .des_media .media{
    margin-top: 26px;
}
.description_text .des_media .media-body{
    padding: 0 0 0 20px;
}
.description_text .des_media .media-body p{
margin: 0;
}
.subscription_text{
    margin-top: 56px;
}
.subscription_text .subscription_box{
    display: inline-block;
    vertical-align: top;
    margin: 0 161px 0 0;
}
.subscription_text .subscription_box:last-child{
    margin: 0;
}
.social_media{
    margin: 28px 0 0 0;
}
.social_media a .icon{
    color: #748494;
    margin: 0 6px 0 0;
    font-size: 19px;
}
.featured_text .rating_box {
    position: absolute;
    right: 0;
    bottom: 13px;
    top: auto;
}
.featured_text .feature_box p{
    margin: 0 16px 0 0;
}
.featured_text p{
    color: #777CEA;
}
.featured_img .coding_text{
    position: absolute;
    bottom: 9px;
    left: 9px;
}
.featured_img .coding_text h3{
    min-width: 75px;
    min-height: 21px;
    line-height: 21px;
    background: #F15C20;
    border-radius: 10.5px;
    display: inline-block;
    color: #fff;
    font-size: 10px;
    letter-spacing: 0.01em;
    text-align: center;
    text-transform: uppercase;
}
.featured_text .featured_btn{
    border: 1px solid #F15C20;
    color: #F15C20;
}
.featured_text .feature_box {
    margin: 5px 0 12px 0;
}
