<footer style="background-color:#fff;">
    <div class="container">
        <div class="footer_inner">
            <div class="row">
                <div class="col-12">
                    <div class="footer_logo">
                        <a href="javascript:;">
                            <img src="assets/newlogo.png" alt="Logo">
                        </a>
                    </div>
                    <div class="footer_menu">
                        <ul>
                            <li class="cursor">
                                <a [routerLink]="['/term-condition']">About Us</a>
                            </li>
                            <li class="cursor">
                                <a [routerLink]="['/term-condition']">Terms & Conditions</a>
                            </li>
                            <li class="cursor">
                                <a [routerLink]="['/term-condition']">Privacy Policy</a>
                            </li>
                            <li class="cursor">
                                <a [routerLink]="['/term-condition']">Ambassador Policy</a>
                            </li>
                        </ul>
                    </div>
                    <div class="copyright_text">
                        <p>© 2019 Letsplay Holdings Inc. All Rights Reserved.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>