<body>

  <app-header></app-header>

  <app-nav></app-nav>

  <div class="main_outer">

    <div class="dashboard_outer">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <h2 class="title">Dashboard</h2>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <div class="dashboard_top">
              <div class="dashboard_box">
                <img src="assets/active.svg" alt="Active image">
                <p>My Active</p>
                <h3>Programs</h3>
                <div class="active_point">
                  <h4>{{activeProgramCount}}</h4>
                </div>
              </div>
              <div class="dashboard_box">
                <img src="assets/views.svg" alt="Active image">
                <p>Total Views</p>
                <h3>Programs</h3>
                <div class="active_point">
                  <h4>{{viewCount}}</h4>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row graph_outer">
          <div *ngIf="barChartData" class="col-md-12">
            <div class="graph activity_graph" *ngIf="isGraphData">
              <div style="display: block ">
                <canvas baseChart class="chart" [datasets]="barChartData" [labels]="barChartLabels"
                  [options]="barChartOptions" [colors]="chartColors" [chartType]="barChartType"></canvas>
              </div>
              <!-- <img src="assets/graph_img.jpg" alt="Graph Image" class="img-fluid"> -->
            </div>
          </div>
          <!-- <div class="col-md-3">
            <div class="graph number_graph">
              <div class="top_title">
                <label>Programs</label>
                <h3>Number of Participants</h3>
                <img src="assets/graph_img2.jpg" alt="Graph Image" class="img-fluid">
              </div>
            </div>
          </div> -->
        </div>
        <div class="row trending_discussions graph_outer">
          <div class="col-md-12">
            <div class="trending left">
              <h2 class="title">Trending Discussions</h2>
              <a href="javascritp:;" class="view">View All</a>
              <div class="trending_outer">
                <div class="trending_box">
                  <h3>Discussion Title</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. ut labore et dolore magna aliqua.</p>
                  <div class="date">
                    <p>Mar 03,2020</p>
                  </div>
                </div>
                <div class="trending_box">
                  <h3>Discussion Title</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. ut labore et dolore magna aliqua.</p>
                  <div class="date">
                    <p>Mar 03,2020</p>
                  </div>
                </div>
                <div class="trending_box">
                  <h3>Discussion Title</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. ut labore et dolore magna aliqua.</p>
                  <div class="date">
                    <p>Mar 03,2020</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- <div class="col-md-4">
            <div class="graph">
              <div class="top_title">
                <label>Programs</label>
                <h3>Number of Participants</h3>
              </div>
              <img src="assets/graph_img3.jpg" alt="Graph Image">
            </div>

          </div> -->
        </div>
      </div>
    </div>

  </div>

  <app-footer></app-footer>
</body>