.dashboard_outer {
    padding: 66px 0 30px 0;
}
canvas {
    
       height: 370px !important;
  }

.dashboard_outer h2.title {
    font-family: 'Patrick Hand';
    font-size: 28px;
    line-height: 18px;
    color: #748494;
}

.dashboard_top {
    display: inline-block;
    width: 100%;
    margin-top: 34px;
}

.dashboard_top .dashboard_box {
    background: #FFFFFF;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    padding: 24px 27px 18px;
    display: inline-block;
    position: relative;
    min-width: 292px;
    margin: 0 12px 0 0;
}

.dashboard_top .dashboard_box:last-child {
    margin: 0;
}

.dashboard_top .dashboard_box p {
    font-weight: 600;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: #748494;
    margin-top: 17px;
}

.dashboard_top .dashboard_box h3 {
    font-family: 'Patrick Hand';
    font-size: 22px;
    line-height: 18px;
    letter-spacing: 0.005em;
    color: #777CEA;
    margin-top: 5px;
}

.dashboard_top .dashboard_box .active_point {
    position: absolute;
    top: 24px;
    right: 37px;
}

.dashboard_box .active_point h4 {
    font-family: 'Patrick Hand';
    font-size: 36px;
    line-height: 18px;
    letter-spacing: 0.005em;
    color: #777CEA;
}

.graph_outer {
    margin-top: 20px;
}

.graph_outer .graph {
    background-color: #FFFFFF;
    padding: 30px;
}

.graph .top_title label {
    font-weight: 600;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: #748494;
}

.graph .top_title h3 {
    font-family: 'Patrick Hand';
    font-size: 22px;
    line-height: 18px;
    letter-spacing: 0.005em;
    color: #777CEA;
}

.graph.number_graph img {
    margin-top: 26px;
}

/* start trending_discussions css */
.trending_discussions .trending {
    background-color: #fff;
    padding: 38px 35px;
}

.trending_discussions h2.title {
    float: left;
    color: #777CEA;
}

.trending_discussions a.view {
    float: right;
    font-weight: 600;
    font-size: 10px;
    line-height: 14px;
    text-transform: uppercase;
    color: #748494;
}

.trending_outer {
    margin-top: 35px;
    display: inline-block;
    width: 100%;
}

.trending_outer .trending_box {
    margin: 0 0 36px 0;
    position: relative;
}

.trending_outer .trending_box .date {
    position: absolute;
    top: 0;
    right: 0;
}

.trending_outer .trending_box:last-child {
    margin: 0;
}

.trending_outer .trending_box h3 {
    font-weight: 600;
    font-size: 13px;
    line-height: 18px;
    color: #F15C20;
}

.trending_outer .trending_box p {
    font-size: 13px;
    line-height: 16px;
    color: #748494;
    margin: 3px 0 0 0;
}

.graph img {
    margin-top: 20px;
    max-width: 100%;
}
@media(max-width:991px) {
    .dashboard_outer {
        padding:36px 0 30px 0;
    }
}
@media(max-width:767px) {
    .dashboard_outer {
        padding:26px 0 0 0;
    }

    .graph_outer .graph {
        margin: 0 0 20px 0;
    }

    .trending_discussions .trending {
        margin: 0 0 20px 0;
    }
    .graph_outer{
        margin-top: 0;
    }
}

@media(max-width:575px) {
    .dashboard_top .dashboard_box {
        margin: 0 12px 11px 0;
        width: 100%;
    }
}