<body>

    <app-header2 *ngIf="!isLogin"></app-header2>
    <app-header *ngIf="isLogin"></app-header>
    <app-nav *ngIf="providerRole"></app-nav>
    <div class="main_outer">
        <div class="program_outer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <!-- <app-carousel></app-carousel> -->
                        <div id="bannerimage">
                            <div *ngFor="let img of user.banners"><img id="bannerimage" *ngIf="!this.providerImgURL"
                                    src="{{img}}"></div>
                            <img id="bannerimage" *ngIf="this.providerImgURL" src="{{this.providerImgURL}}">

                        </div>
                        <label *ngIf="!otherUserId" class="banner-icon cursor">
                            <input style="display:none;" (change)="uploadCoverPic($event,userData.id)" type="file"
                                id="file" accept="image/*" name="img_logo" class="dropzone">
                            <button class="uploadbanner" type="button"
                                onclick="document.getElementById('file').click();">ADD PHOTOS</button>
                        </label>
                    </div>

                </div>

                <div class="batch_outer detailed2">
                    <div class="row">
                        <div class="col-md-2">
                            <div class="learn_code left">
                                <img *ngIf="user.avatarImages" src="{{user.avatarImages}}" alt="Learn Code">
                            </div>
                        </div>
                        <div class="col-md-10">
                            <div class="row program_text">
                                <div class="col-md-12">
                                    <div class="CategoryText">
                                        <h5>
                                            <!-- Category -->
                                        </h5>
                                        <h3>{{user.firstName}}
                                            <div *ngIf="user.id=== userData.id" class="edit_name">
                                                <a (click)="openPopUp(isName = true)" data-toggle="modal"
                                                    data-target="#providerUpdateModal"><img src="assets/edit_blue.svg"
                                                        class="edit blue cursor"></a>
                                            </div>
                                        </h3>
                                        <div class="session_details">
                                            <!-- <p><img src="assets/calendar_blue.svg" alt="Loction Pin"> Mar 09-13,2020
                                            </p> -->
                                        </div>
                                        <div class="insured_outer">
                                            <p><img src="assets/tick_img.png" alt="Loction Pin"> Verified </p>
                                            <p><img src="assets/reward_img2.png" alt="Loction Pin"> Top Ratted in STEM
                                            </p>
                                            <p><img src="assets/reward_img.png" alt="Loction Pin"> Certified Provider
                                            </p>
                                            <p><img src="assets/insured.png" alt="Loction Pin"> Fully Insured </p>
                                        </div>

                                        <div *ngIf="user.id=== userData.id" class="completion_score">
                                            <p>
                                                <a class="cursor" (click)="profileEdit()"><img
                                                        src="assets/edit_blue.svg" class="edit blue"></a>
                                                Profile completion score</p>
                                            <div class="profile_score">
                                                <div class="progress"
                                                    data-percentage="profileProgressResponse.data.profileProgress">
                                                    <span class="progress-left">
                                                        <span class="progress-bar"></span>
                                                    </span>
                                                    <span class="progress-right">
                                                        <span class="progress-bar"></span>
                                                    </span>
                                                    <div class="progress-value">
                                                        <div>
                                                            {{profileProgressResponse.data.profileProgress}}%
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>


                            <div class="description_text">
                                <h2>About</h2>
                                <p>{{user.about}}</p>


                                <div *ngIf="user.id=== userData.id" class="edit_icon">
                                    <a (click)="openPopUp(isAbout = true)" data-toggle="modal"
                                        data-target="#providerUpdateModal"><img src="assets/edit_blue.svg"
                                            class="edit blue cursor"></a>
                                </div>
                            </div>

                            <div class="description_text">
                                <div class="row">
                                    <div class="col-md-5">
                                        <div class="description_media">
                                            <h2>Provider Information</h2>
                                            <div class="des_media">
                                                <div class="media align-items-center">
                                                    <div class="media-left">
                                                        <img src="assets/pin_blue.svg" alt="Pin image">
                                                    </div>
                                                    <div class="media-body">
                                                        <label>Address</label>
                                                        <p>{{user.addressLine1}}</p>
                                                        <p>{{user.addressLine2}}</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="des_media">
                                                <div class="media align-items-center">
                                                    <div class="media-left">
                                                        <img src="assets/email.svg" alt="Pin image">
                                                    </div>
                                                    <div class="media-body">
                                                        <label>Email</label>
                                                        <p>{{user.email}}</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="des_media">
                                                <div class="media align-items-center">
                                                    <div class="media-left">
                                                        <img src="assets/phone.svg" alt="Pin image">
                                                    </div>
                                                    <div class="media-body">
                                                        <label>Phone</label>
                                                        <p>{{user.phoneNumber}}</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="des_media">
                                                <div class="media align-items-center">
                                                    <div class="media-left">
                                                        <img src="assets/web.svg" alt="Pin image">
                                                    </div>
                                                    <div class="media-body">
                                                        <label>Www</label>
                                                        <p><a href="{{user.website}}"
                                                                target="_blank">{{user.website}}</a></p>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="des_media">
                                                <div class="media align-items-center">
                                                    <div class="media-left">
                                                    </div>
                                                    <div *ngIf="user.facebook || user.instagram || user.twitter"
                                                        class="media-body social">
                                                        <label>Social media</label>
                                                        <div class="social_media">
                                                            <a *ngIf="user.facebook" href="{{user.facebook}}"
                                                                target="_blank">
                                                                <span class="icon icon-facebook"></span>
                                                            </a>
                                                            <a *ngIf="user.instagram" href="{{user.instagram}}"
                                                                target="_blank">
                                                                <span class="icon icon-instagram"></span>
                                                            </a>
                                                            <a *ngIf="user.twitter" href="{{user.twitter}}"
                                                                target="_blank">
                                                                <span class="icon icon-twitter"></span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div *ngIf="user.id=== userData.id" class="edit_icon">
                                                <a (click)="openPopUp(isInformation = true)" data-toggle="modal"
                                                    data-target="#providerUpdateModal"><img src="assets/edit_blue.svg"
                                                        class="edit blue cursor"></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-7">
                                        <div class="map_img">
                                            <!-- <img src="assets/profile_page_map.jpg" alt="Map Image" class="img-fluid"> -->
                                            <agm-map [latitude]="lat" [longitude]="lng">
                                                <!-- <agm-marker *ngFor="let item of markers" [latitude]="item.lat"
                                                    [longitude]="item.lng"
                                                    [label]="{color: 'black',fontWeight: 'bold', text:item.label}">
                                                    <agm-info-window>
                                                        <strong>{{item.info}}</strong>
                                                    </agm-info-window>
                                                </agm-marker> -->
                                            </agm-map>
                                        </div>
                                    </div>
                                </div>


                            </div>

                            <!-- <div class="footer">
                                <app-footer></app-footer>
                            </div> -->

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>




    <!-- provider update Modal -->
    <div class="modal fade verification_modal password" id="providerUpdateModal" data-backdrop="static"
        data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <button (click)="closePopup()" type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="icon-close"></span>
                </button>
                <div class="modal-body">
                    <h2>Provider</h2>
                    <div class="verification_outer">
                        <div class="add_note" [formGroup]="userUpdateForm">

                            <div *ngIf="isName" class="form-group">
                                <label>Provider Name </label>
                                <input type="text" class="form-control" placeholder="Type"
                                    [formControl]="userUpdateForm.controls['firstName']" [(ngModel)]="user.firstName">

                            </div>
                            <div *ngIf="isAbout" class="form-group">
                                <label>About </label>
                                <textarea model="noofchars" ng-trim="false" maxLength="3000" class="form-control"
                                    cols="40" rows="7" placeholder="Type"
                                    [formControl]="userUpdateForm.controls['about']"
                                    [(ngModel)]="user.about"></textarea>
                                <!-- <div class="textarea_length">
                                    <p>({{10-noofchars.length}} of 3000)</p>
                                </div> -->
                            </div>

                            <div *ngIf="isInformation">
                                <div class="form-group">
                                    <label>Address </label>
                                    <input type="text" class="form-control" placeholder="Address 1"
                                        [formControl]="userUpdateForm.controls['addressLine1']"
                                        [(ngModel)]="user.addressLine1"><br>
                                    <input type="text" class="form-control" placeholder="Address 2"
                                        [formControl]="userUpdateForm.controls['addressLine2']"
                                        [(ngModel)]="user.addressLine2">
                                </div>
                                <div class="form-group">
                                    <label>Email </label>
                                    <input type="text" class="form-control"
                                        [formControl]="userUpdateForm.controls['email']" [(ngModel)]="user.email"
                                        readonly>
                                </div>
                                <div class="form-group">
                                    <label>Phone </label>
                                    <input type="text" class="form-control" placeholder="(313)2232222"
                                        [formControl]="userUpdateForm.controls['phoneNumber']"
                                        [(ngModel)]="user.phoneNumber">
                                </div>
                                <div class="form-group">
                                    <label>www </label>
                                    <input type="text" class="form-control" placeholder="www.letsplay.com"
                                        [formControl]="userUpdateForm.controls['website']" [(ngModel)]="user.website">
                                </div>
                                <div class="form-group">
                                    <label>facebook </label>
                                    <input type="text" class="form-control" placeholder="Facebook"
                                        [formControl]="userUpdateForm.controls['facebook']" [(ngModel)]="user.facebook">
                                </div>
                                <div class="form-group">
                                    <label>twitter </label>
                                    <input type="text" class="form-control" placeholder="Twitter"
                                        [formControl]="userUpdateForm.controls['twitter']" [(ngModel)]="user.twitter">
                                </div>
                                <div class="form-group">
                                    <label>instagram </label>
                                    <input type="text" class="form-control" placeholder="Instagram"
                                        [formControl]="userUpdateForm.controls['instagram']"
                                        [(ngModel)]="user.instagram">
                                </div>
                            </div>



                            <div class="submit_btn">
                                <button (click)="updateProviderById(userData.id)" data-dismiss="modal"
                                    class="submitBtn">Update</button>
                                <button type="button" (click)="closePopup()" data-dismiss="modal"
                                    class="cancel_btn">Cancel</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>


</body>
<ngx-ui-loader></ngx-ui-loader>