<!-- <div *ngIf="data.name == 'isQuestion' ">
    <span class="close" (click)="close()">&times;</span>
    <p>Security Question</p>
    <div class="container_2">
        <p>Before you can set a new security question. you have to answer your current one correctly</p>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label class="custom-label">CURRENT QUESTION</label>
                    <select class="form-control" id="cars" name="cars">
                        <option value="my favourite teacher">My favourite teacher</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="container_2">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label class="custom-label">ANSWER</label>
                    <input type="text" class="form-control" placeholder="Answer" value="Harry">
                </div>
            </div>
        </div>
    </div>
    <div class="container_2">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label class="custom-label">NEW QUESTION</label>
                    <select class="form-control" id="cars" name="cars">
                        <option value="my favourite teacher">My favourite teacher</option>
                        <option value="my favourite Hero">My favourite hero</option>
                        <option value="my favourite Book">My favourite book</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="container_2">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label class="custom-label">ANSWER</label>
                    <input type="text" class="form-control" placeholder="Type">
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="buttons_2">
        <button type="button" class="btn btn-Grade" style="margin-left: 10px;">SAVE</button>
        <button type="button" class="btn" (click)="close()">Cancel</button>
    </div>
</div>


<div *ngIf="data.name == 'isPassword' ">
    <span class="close" (click)="close()">&times;</span>
    <p>Reset Passwod</p>
    <div class="container_2">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label class="custom-label">OLD PASSWORD</label>
                    <input type="text" class="form-control" placeholder="Old Password">
                </div>
            </div>
        </div>
    </div>
    <div class="container_2">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label class="custom-label">NEW PASSWORD</label>
                    <input type="text" class="form-control" placeholder="New Password">
                </div>
            </div>
        </div>
    </div>
    <div class="container_2">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label class="custom-label">CONFIRM NEW PASSWORD</label>
                    <input type="text" class="form-control" placeholder="Confirm New Password">
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="buttons_2">
        <button type="button" class="btn btn-Grade" style="margin-left: 10px;">SAVE</button>
        <button type="button" class="btn" (click)="close()">CANCEL</button>
    </div>
</div>

<div *ngIf="data.name == 'isPhone' ">
    <span class="close" (click)="close()">&times;</span>
    <p>Phone Verification</p>
    <div class="container_2">
        <p>Please Enter Mobile For Phone Verification </p>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label class="custom-label">MOBILE NO</label>
                    <input type="text" class="form-control" placeholder="Type">
                </div>
            </div>
            <div class="buttons_2">
                <button type="button" class="btn btn-Grade" style="margin-left: 10px;">SEND OTP</button>
            </div>
        </div>

    </div>

    <div class="container_2">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label class="custom-label">Confirm OTP</label>
                    <input type="text" class="form-control" placeholder="Enter OTP">
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="buttons_2">
        <button type="button" class="btn btn-Grade" style="margin-left: 10px;">Done</button>
        <button type="button" class="btn" (click)="close()">Cancel</button>
    </div>
</div> -->