<body>

  <header>
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="logo">
            <a (click)="logo()">
              <img src="assets/logo-1.png" alt="Logo Image">

            </a>
          </div>
          <div class="header_right row">
            <a [routerLink]="['/term-condition']" class="help"><img src="assets/help-icon-gray.svg" alt="Help Icon"></a>
            <a class="progress_bar">
              <div class="progress" id="progress">
                <span class="progress-left">
                  <span class="progress-bar"></span>
                </span>
                <span class="progress-right">
                  <span class="progress-bar"></span>
                </span>
                <div *ngIf="profileProgress" class="progress-value">
                  {{profileProgress}}%
                </div>
              </div>
            </a>


            <a class="cursor" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
              <div class="head_profile">
                <img *ngIf="user.avatarImages" src="{{user.avatarImages}}" alt="Profile image">
                <img *ngIf="!user.avatarImages" src="assets/userIMAGE.png" alt="Profile image">
              </div>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item cursor" (click)="profile()"><img src="assets/profile.png"> Profile</a>
              <a class="dropdown-item cursor" (click)="logout()"><img src="assets/logout.png"> Logout</a>

            </div>


          </div>
        </div>
      </div>
    </div>
  </header>
</body>