.otp_form{
    max-width: 440px;
margin: 0 auto;
}
.otp_form .form {
    margin-top: 160px;
}
.otp_form .otp_logo{
    position: absolute;
    top: 40px;
    }
.otp_form .form .form-group {
    margin: 0 0 49px 0;
}
.otp_form .form .form-group.email_text h2{
font-family: 'Patrick Hand';
font-size: 20px;
line-height: 27px;
letter-spacing: 0.001em;
color: #748494;
}
.otp_form .form .form-group .input_outer{
    position: relative;
}

.otp_form .form .form-group .input_outer:focus::after, 
.otp_form .form .form-group .input_outer:focus-within::after {
    opacity: 1;
}
.ch-radio input[type="checkbox"]:checked + span:before, .ch-radio input[type="checkbox"]:checked ~ span:before, .ch-radio input[type="radio"]:checked + span:before, .ch-radio input[type="radio"]:checked ~ span:before {
    border-color: #27AE60;
    background-color: #27AE60;
}
.reset_btn{
    text-align: center;
    margin: 91px 0 0 0;
}
.ResetBtn{
background: #F15C20;
border: 1px solid #F15C20;
box-sizing: border-box;
box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12);
border-radius: 4px;
min-width: 210px;
min-height: 56px;
line-height: 56px;
text-align: center;
color: #ffffff;
font-weight: 600;
font-size: 13px;
margin: 0 auto;
}
.ResetBtn:hover{
    background: #c74009;
}

.otp_img{
    position: relative;
    overflow: hidden;
}
.otp_img_overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    left:0;
    top: 0px;
    background: linear-gradient(214.99deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 100%);
}
.otp_outer{
    position: relative;
}
.otp_outer .email_register{
position: inherit;
}
.go_back_page{
    position: absolute;
    bottom: 27px;
}
.go_back_page p{
    font-size: 11px;
    line-height: 15px;
    letter-spacing: 0.015em;
    text-transform: uppercase;
    color: #748494;
}
.go_back_page p a{
    color: #F15C20;
}

button[disabled] {
    background-color: #ebccc0;
    border: 1px solid  #ebccc0;
}
button[disabled]:hover {
    background-color: #ebccc0;
    border: 1px solid  #ebccc0;

}

mat-icon.field-icon {
    float: right;
    margin-right: 10px;
    margin-top: -37px;
    position: relative;
    z-index: 2;
    
}
/* check box css */

.ch-radio {
    display: inline-block;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
  }
  
  .ch-radio * {
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
  }
  
  .ch-radio input[type="checkbox"],
  .ch-radio input[type="radio"] {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
  }
  
  .ch-radio input[type="checkbox"]:checked + span:before,
  .ch-radio input[type="checkbox"]:checked ~ span:before,
  .ch-radio input[type="radio"]:checked + span:before,
  .ch-radio input[type="radio"]:checked ~ span:before {
    border-color: #50a050;
    background-color: #50a050;
  }
  
  .ch-radio input[type="checkbox"]:checked + span .ch-icon,
  .ch-radio input[type="checkbox"]:checked ~ span .ch-icon,
  .ch-radio input[type="radio"]:checked + span .ch-icon,
  .ch-radio input[type="radio"]:checked ~ span .ch-icon {
    opacity: 1;
  }
  
  .ch-radio span {
    display: block;
    overflow: hidden;
    line-height: 16px;
    position: relative;
    padding-left: 30px;
    font-size: 13px;
    font-weight: normal;
    color: #748494;
  }
  
  .ch-radio span:before {
    content: "";
    background-color: transparent;
    position: absolute;
    top: 1px;
    left: 1px;
    width: 15px;
    height: 15px;
    -webkit-transition: inherit;
    transition: inherit;
    border: 1px solid #C5CED6;
    border-radius: 1px;
  }
  
  .ch-radio span .ch-icon {
    color: #FFFFFF;
    position: absolute;
    top:0;
    left: 5px;
    font-size: 9px;
    opacity: 0;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    line-height: 17px;
  }
  .check_list{
    margin-top: 23px;
  }

  .check_list .ch-radio{
      display: inline-block;
      margin-right: 44px;
  }