<body>

    <div class="otp_outer">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-md-6 email_register">
                    <div class="otp_form">
                        <div class="otp_logo">
                            <a href="#">
                                <img src="assets/logo-1.png" alt="Logo Image">
                            </a>
                        </div>
                        <div *ngIf="isForgot" class="form" [formGroup]="otpSendForm">
                            <div class="form-group email_text">
                                <h2>Please enter your registered email</h2>
                            </div>
                            <div class="form-group">
                                <label>email</label>
                                <div class="input_outer">
                                    <input type="text" class="form-control" placeholder="Type"
                                        [formControl]="otpSendForm.controls['email']" [(ngModel)]="credentials.email">
                                    <small
                                        *ngIf=" otpSendForm.controls['email'].hasError('email') && otpSendForm.controls['email'].touched"
                                        class="form-error-msg">INVALID EMAIL ADDRESS</small>
                                    <small
                                        *ngIf=" otpSendForm.controls['email'].hasError('required') && otpSendForm.controls['email'].touched"
                                        class="form-error-msg">EMAIL IS REQUIRED</small>
                                </div>
                            </div>
                            <div class="reset_btn">
                                <button class="ResetBtn" [disabled]="otpSendForm.invalid"
                                    (click)="otpRequest()">Send</button>
                            </div>
                            <div class="go_back_page">
                                <p> Go back to <a [routerLink]="['/login']">SIGN IN</a> </p>
                            </div>
                        </div>


                        <div *ngIf="isOTP" class="form" [formGroup]="otpVerifyForm">
                            <div class="form-group email_text">
                                <h2>Please enter the one time password send to your email</h2>
                            </div>
                            <div class="form-group">
                                <label>One Time Password</label>
                                <div class="input_outer">
                                    <input type="password" class="form-control" placeholder="Password"
                                        [formControl]="otpVerifyForm.controls['otp']" [(ngModel)]="credentials.otp">
                                    <mat-icon *ngIf="otpVerifyForm.valid" class="field-icon"><svg width="12" height="10"
                                            viewBox="0 0 12 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M4.59502 9.13831C4.48047 9.25353 4.32419 9.31782 4.16185 9.31782C3.99951 9.31782 3.84322 9.25353 3.72868 9.13831L0.269259 5.67834C-0.089753 5.31932 -0.089753 4.73716 0.269259 4.37882L0.702429 3.94554C1.06155 3.58653 1.64304 3.58653 2.00205 3.94554L4.16185 6.10545L9.99792 0.269259C10.357 -0.089753 10.9391 -0.089753 11.2975 0.269259L11.7307 0.702542C12.0897 1.06155 12.0897 1.6436 11.7307 2.00205L4.59502 9.13831Z"
                                                fill="#27AE60" />
                                        </svg></mat-icon>
                                    <small
                                        *ngIf=" otpVerifyForm.controls['otp'].hasError('minLength') && otpVerifyForm.controls['otp'].touched"
                                        class="form-error-msg">FOUR DIGIT NO. REQUIRED</small>
                                    <small
                                        *ngIf=" otpVerifyForm.controls['otp'].hasError('maxLength') && otpVerifyForm.controls['otp'].touched"
                                        class="form-error-msg">FOUR DIGIT REQUIRED</small>
                                    <small
                                        *ngIf=" otpVerifyForm.controls['otp'].hasError('required') && otpVerifyForm.controls['otp'].touched"
                                        class="form-error-msg">OTP IS REQUIRED</small>

                                </div>
                            </div>
                            <div class="reset_btn">
                                <button class="ResetBtn" [disabled]="otpVerifyForm.invalid"
                                    (click)="otpVerify()">Verify</button>
                            </div>
                        </div>

                        <div *ngIf="isNewPassword" class="form" [formGroup]="passwordResetForm">
                            <div class="form-group">
                                <label>New Password</label>
                                <div class="input_outer">
                                    <input type="password" class="form-control"
                                        [formControl]="passwordResetForm.controls['newPassword']"
                                        [(ngModel)]="credentials.newPassword">
                                    <small
                                        *ngIf=" passwordResetForm.controls['newPassword'].hasError('required') && passwordResetForm.controls['newPassword'].touched"
                                        class="form-error-msg">CAN'T LEAVE IT BLANK</small>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Confirm new Password</label>
                                <div class="input_outer">
                                    <input type="password" class="form-control"
                                        [formControl]="passwordResetForm.controls['confirmPassword']"
                                        [(ngModel)]="credentials.confirmPassword">
                                    <small *ngIf=" passwordResetForm.controls['confirmPassword'].hasError('equalTo')"
                                        class="form-error-msg">PASSWORD DO NOT MATCH</small>
                                </div>
                            </div>
                            <label class="ch-radio">
                                <input name="hiring" type="checkbox">
                                <span>
                                    <i class="ch-icon icon-tick"></i>All devices will be required to sign in with new
                                    password.
                                </span>
                            </label>
                            <div class="reset_btn">
                                <button class="ResetBtn" [disabled]="passwordResetForm.invalid"
                                    (click)="resetPassword()">Reset</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="otp_img">
                        <img *ngIf="isForgot" src="assets/registered_email.jpg" alt="Otp Image" class="img-fluid">
                        <img *ngIf="isOTP" src="assets/otp2.jpg" alt="Otp Image" class="img-fluid">
                        <img *ngIf="isNewPassword" src="assets/otp_background.png" alt="Otp Image" class="img-fluid">
                        <div class="otp_img_overlay"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
<ngx-ui-loader></ngx-ui-loader>