/* .heading2{
    margin-top: 2rem;
} */


/* label.custom-label1 {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 10px;
    padding-left: 1%;
    background: linear-gradient(to right, #cb3651, #f15a29);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
} */


.breadcrump_top a {
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: #777CEA;
}

.breadcrump_top a span {
    color: #748494;
    font-size: 14px;
    margin-right: 3px;
}