<body>
  <app-header></app-header>
  <app-nav></app-nav>

  <div class="main_outer">

    <section class="programs_outer">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <h2 class="add_program">Programs <span class="icon icon-plus cursor" (click)="addProgram()"></span> </h2>

            <div class="programs_table">

              <div class="table_list">
                <table *ngIf="programs.length" cellspcing="0" cellpadding="0" class="table center">
                  <tr>
                    <th>NAME</th>
                    <!-- <th>CATEGORIES</th> -->
                    <th>TIME</th>
                    <th>DATE</th>
                    <th>LOCATION</th>
                  </tr>
                  <!-- 
                  <div class="search-results" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="500"
                    (scrolled)="onScroll()" [scrollWindow]="true"> -->
                  <!-- <div class="list-group "> -->

                  <body infiniteScroll [infiniteScrollDistance]="0.5" [infiniteScrollThrottle]="500"
                    (scrolled)="onScroll()" [scrollWindow]="false">
                    <tr [ngClass]="{ inactiveProgram: program.status === 'inactive' }" class="add_border"
                      data-toggle="collapse" (click)="getBatchData(program.batches)" data-target="#program1"
                      *ngFor="let program of programs;let i=index">
                      <td>
                        <div (click)="programDetail(program)" class="program_img cursor">
                          <img *ngIf="program.timelinePics.length" src="{{program?.timelinePics[0]}}"
                            alt="Program Image">
                          <img *ngIf="!program.timelinePics.length" src="assets/program_img.png" alt="Program Image">
                        </div>
                        {{program?.name}}
                      </td>

                      <td>
                        {{program?.time?.from | date:"shortTime"}} – {{program?.time?.to | date:"shortTime"}}
                      </td>
                      <td>
                        {{program?.date?.from | date:"dd:MM:yyyy"}} – {{program?.date?.to | date:"dd:MM:yyyy"}}
                      </td>
                      <td>
                        {{program?.location}}
                      </td>

                      <div *ngIf="program.user===userData.id">
                        <td>
                          <img class="cursor" (click)="programActiveInActive(program)" src="assets/send.svg"
                            alt="Send Image">
                        </td>
                      </div>
                    </tr>
                  </body>
                  <!-- </div>
                  </div> -->

                  <!-- <button *ngIf="programs.length > 10" class="loadMoreBtn" (click)="loadMore()">Load More</button> -->
                </table>
                <div *ngIf="(batchData.length)>0" id="program1" class="collapse program_collapse">
                  <table cellspcing="0" cellpadding="0" class="table">
                    <tr class="add_border">
                      <th></th>
                      <th>time</th>
                      <th>date</th>
                      <th>instructor</th>
                      <th>number of seats</th>
                    </tr>
                    <tr *ngFor="let batch of batchData" class="add_border">
                      <td>Tile of the batch</td>
                      <td>
                        {{batch.startTime | date:"shortTime"}} – {{batch.endTime | date:"shortTime"}}
                      </td>
                      <td>
                        {{batch.startDate | date:"dd:MM:yyyy"}} – {{batch.endDate | date:"dd:MM:yyyy"}}
                      </td>
                      <td>{{batch.instructor}}</td>
                      <td>{{batch.numberOfSeats}}</td>
                    </tr>

                  </table>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

  <!-- 


  <section class="programs_outer">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2 class="add_program">Programs <span class="icon icon-plus cursor" (click)="addProgram()"></span> </h2>

          <div class="programs_table">

            <div class="table_list">
              <mat-accordion>
                <table cellspcing="0" cellpadding="0" class="table center">
                  <tr>
                    <th>NAME</th>
                    <th>TIME</th>
                    <th>DATE</th>
                    <th>LOCATION</th>
                  </tr>

                  <mat-expansion-panel (click)="getBatchData(program.batches)" *ngFor="let program of programs"
                    class="add_border" hideToggle>
                    <mat-expansion-panel-header>
                      <tr [ngClass]="{ inactiveProgram: program.status === 'inactive' }">
                        <td>
                          <div (click)="programDetail(program)" class="program_img cursor">
                            <img *ngIf="program.timelinePics.length" src="{{program?.timelinePics[0]}}"
                              alt="Program Image">
                            <img *ngIf="!program.timelinePics.length" src="assets/program_img.png" alt="Program Image">
                          </div>
                          {{program?.name}}
                        </td>

                        <td>
                          {{program?.time?.from | date:"shortTime"}} – {{program?.time?.to | date:"shortTime"}}
                        </td>
                        <td>
                          {{program?.date?.from | date:"dd:MM:yyyy"}} – {{program?.date?.to | date:"dd:MM:yyyy"}}
                        </td>
                        <td>
                          {{program?.location}}
                        </td>

                        <div *ngIf="program.user===userData.id">
                          <td>
                            <img class="cursor" (click)="programActiveInActive(program)" src="assets/send.svg"
                              alt="Send Image">
                          </td>
                        </div>
                      </tr>
                    </mat-expansion-panel-header>
                    <div *ngIf="(batchData.length)>0" id="program1" class="collapse program_collapse">
                      <table cellspcing="0" cellpadding="0" class="table">
                        <tr class="add_border">
                          <th></th>
                          <th>time</th>
                          <th>date</th>
                          <th>instructor</th>
                          <th>number of seats</th>
                        </tr>
                        <tr *ngFor="let batch of batchData" class="add_border">
                          <td>Tile of the batch</td>
                          <td>
                            {{batch.startTime | date:"shortTime"}} – {{batch.endTime | date:"shortTime"}}
                          </td>
                          <td>
                            {{batch.startDate | date:"dd:MM:yyyy"}} – {{batch.endDate | date:"dd:MM:yyyy"}}
                          </td>
                          <td>{{batch.instructor}}</td>
                          <td>{{batch.numberOfSeats}}</td>
                        </tr>

                      </table>
                    </div>
                  </mat-expansion-panel>

                </table>

              </mat-accordion>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> -->


  <ngx-ui-loader [fgsTemplate]="foregroundSpinner" bgsType={{loaderType}} fgsType={{loaderType}} fgsSize="40"
    bgsSize="40" fgsPosition={{loaderPostion}} overlayColor="rgba(40,40,40,0.12)">
  </ngx-ui-loader>
  <app-footer></app-footer>

</body>