.programs_outer{
    padding: 72px 0 0 0;
}
.programs_outer .add_program{
    font-size: 28px;
    line-height: 18px;
    color: #777CEA;
    font-family: 'Patrick Hand';
}
.programs_outer .add_program .icon{
    color: #f15c20;
    vertical-align: middle;
    font-size: 21px;
    margin: 0 0 0 5px;
}
.inactiveProgram{
    background:  rgb(240, 236, 236) !important;
}
.programs_table{
    margin-top: 46px;
    margin-bottom: 30px;
}
.programs_table .table{
    border-collapse: separate;
    border-spacing: 0 4px;
    margin:0;
}
.programs_table .program_img{
width: 40px;
height: 40px;
border-radius: 4px;
display: inline-block;
margin-right: 14px;
}
.programs_table tr.add_border{
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border-radius: 4px;
}
.programs_table tr th{
font-weight: 600;
font-size: 10px;
line-height: 14px;
letter-spacing: 0.01em;
text-transform: uppercase;
color: #777CEA;
border: none;
}
.programs_table tr th:first-child{
    padding-left: 70px;
}
.programs_table  tr td {
font-size: 13px;
line-height: 16px;
letter-spacing: 0.001em;
color: #748494;
vertical-align: middle;
border: none;
}
.programs_table .program_img img{
    max-width: 100%;
    height: 100%;
}
.programs_table .program_collapse{
    background-color: #fff;
}
.programs_table .program_collapse .table{
    max-width: 992px;
    margin: -3px auto 0;
    padding: 0 0 25px 0;
}
.programs_table .program_collapse tr.add_border{
    box-shadow: none;
    border: 1px solid #E5E9EC;
}
.programs_table .program_collapse tr.add_border td:first-child{
    border-left: 1px solid #E5E9EC;
    color: #F15C20;
}
.programs_table .program_collapse tr.add_border td:last-child{
    border-right: 1px solid #E5E9EC;
}
.programs_table tr.program_collapse td{
padding: 0;
}
.programs_table .program_collapse tr.add_border td{
    padding: 17px;
    border-top: 1px solid #E5E9EC;
    border-bottom: 1px solid #E5E9EC;
}
.programs_table .program_collapse tr th{
    color: #F15C20;
}
.programs_table  body {
    
    /* overflow: hidden; */
    height:250px;
    overflow:auto;
}


.loadMoreBtn{
    
    align-items: center;
    justify-content: center;
        background: #F15C20;
        border: 1px solid #F15C20;
        box-sizing: border-box;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12);
        border-radius: 5px;
        min-width: 150px;
        min-height: 40px;
        text-align: center;
        color: #ffffff;
        font-weight: 600;
        font-size: 13px;
        margin: 0 auto;
        text-transform: uppercase;
}

@media(max-width:767px){
    .programs_outer{
        padding: 30px 0 0 0;
    }
    .programs_table .table_list {
        overflow: hidden;
        overflow-x: auto;
    }
    .programs_table .table_list .table {
        width: 900px;
    }
    .programs_outer .add_program{
        font-size: 24px;
    }

}
@media(min-width:767px){
    .programs_outer{
        min-height: calc(100vh - 312px);
    }
}