<app-header2 *ngIf="!isLogin"></app-header2>
<app-header *ngIf="isLogin"></app-header>
<app-nav *ngIf="providerRole"></app-nav>



<section class="main_outer">
    <div class="search_portion">
        <div class="left_search">
            <div>
                <input type="search" (keyup.enter)="onSearch(searchKey)" [(ngModel)]="searchKey">
                <!-- <ng-autocomplete [data]="programs" [searchKeyword]="keyword" (selected)='selectEvent($event)'
                                    (inputChanged)='onChangeSearch($event)' (inputFocused)='onFocused($event)'
                                    [itemTemplate]="itemTemplate" [notFoundTemplate]="notFoundTemplate">
                                </ng-autocomplete>
            
            
                                <ng-template #itemTemplate let-item>
                                    <a [innerHTML]="item.name"></a>
                                </ng-template>
            
                                <ng-template #notFoundTemplate let-notFound>
                                    <div *ngIf="searchedPrograms.length" [innerHTML]="notFound"></div>
                                </ng-template> -->
            </div>
            <!-- <div>

                <ng-autocomplete [data]="programs" [searchKeyword]="keyword" (selected)='selectEvent($event)'
                    (inputChanged)='onChangeSearch($event)' (inputFocused)='onFocused($event)'
                    [itemTemplate]="itemTemplate" [notFoundTemplate]="notFoundTemplate">
                </ng-autocomplete>

                <ng-template #itemTemplate let-item>
                    <a [innerHTML]="item.name"></a>
                </ng-template>

                <ng-template #notFoundTemplate let-notFound>
                    <div *ngIf="searchedPrograms.length" [innerHTML]="notFound"></div>
                </ng-template>
            </div> -->
        </div>
        <div class="right_search">
            <!-- <a href="javascript:;" class="active"><span class="icon icon-checklist"></span></a> -->
            <!-- <a href="javascript:;"><span class="icon icon-grid"></span></a> -->
            <div class="show_map">
                <label class="switch notification">
                    <input type="checkbox" [(ngModel)]="isMap" />
                    <span class="slider round"></span>
                </label>
                <p *ngIf="isMap">Hide Map</p>
                <p *ngIf="!isMap">Show Map</p>
            </div>
        </div>
    </div>

    <div class="category_list" *ngIf="parentRole">
        <ul>
            <!-- <li>
                    <a href="javascirpt:;" class="active">Child</a>
                </li> -->
            <li class="cursor">
                <a [ngClass]="{'active' : isDateFilter}" (click)="openModal(isDateFilter=true,isDateModal=true)"
                    data-toggle="modal" data-target="#filterModal">Dates</a>
            </li>
            <li class="cursor">
                <a [ngClass]="{'active' : isAgeFilter}" (click)="openModal(isAgeFilter=true,isAgeModal=true)"
                    data-toggle="modal" data-target="#filterModal">Age
                    Group</a>
            </li>

            <!-- <li>
                    <a href="javascirpt:;">Categories</a>
                </li> -->
            <!-- <li>
                    <a href="javascirpt:;">Distance</a>
                </li> -->
            <li class="cursor">
                <a [ngClass]="{'active' : isTimeFilter}" (click)="openModal(isTimeFilter=true,isTimeModal=true)"
                    data-toggle="modal" data-target="#filterModal">Time</a>
            </li>
            <li *ngIf="showReset" class="cursor" (click)="resetFilter()">
                <a>Reset</a>
            </li>
            <!-- <li>
                    <a href="javascirpt:;">Recommended</a>
                </li> -->
        </ul>
        <!-- <div class="bookmark">
                <a href="javascript:;">
                    <img src="assets/feather_bookmark.svg" alt="Bookmark Image">
                </a>
            </div> -->
    </div>


    <div class="search_activity">
        <div class="row row-0">
            <div class="col-md-6 list_left">
                <div *ngIf="parentRole" class="complete_profile">
                    <p> <span>A complete profile:</span> will give you an enhanced experienced on LetsPlay.
                        <a class="cursor" (click)="profile()">Click Here!</a>
                    </p>
                </div>
                <div class="search-results" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="500"
                    (scrolled)="onScroll()" [scrollWindow]="true">
                    <!-- <div class="list-group "> -->
                    <div *ngFor="let program of programs; let i = index" class="media activity align-items-center">
                        <div class="media-left">
                            <img src="assets/activity1.png" alt="Activity">
                            <div *ngIf="isLogin" class="share_icon">
                                <a href="" data-toggle="modal" data-target="#SearchModal">
                                    <img src="assets/share.svg" alt="Share Icon">
                                </a>
                                <div *ngIf="parentRole"><a *ngIf="!program.isFav"
                                        (click)="addFavProgram(userData.id,program._id ,i)"
                                        class="bookmark_icon cursor"><img src="assets/bookmark_svg.svg"
                                            alt="Menu Image"></a>

                                    <a *ngIf="program.isFav" (click)="deleteFavProgram(program._id,i)"
                                        class="bookmark_icon cursor"><img src="assets/bookmarkOrange.svg"
                                            alt="Menu Image"></a>
                                </div>

                            </div>
                            <div class="coding_text">
                                <h3>coding</h3>
                            </div>
                        </div>
                        <div class="media-body">
                            <h2 class="cursor" (click)="goToProgramDetail(program)">{{program.name}}</h2>
                            <div class="list_outer row row-0">
                                <div class="list col-12">
                                    <p><img src="assets/local.svg" alt="School image">{{program.description}}
                                    </p>
                                </div>
                                <div class="list col-md-4">
                                    <p><img src="assets/user_group.svg"
                                            alt="School image">{{program?.ageGroup?.from + '-' + program?.ageGroup?.to}}
                                        Yrs
                                    </p>
                                </div>
                                <div class="list col-md-4">
                                    <p><img src="assets/calendar.svg"
                                            alt="School image">{{program.date.from | date: 'MMM d, '}} –
                                        {{program.date.to | date: 'MMM d, '}}</p>
                                </div>
                                <div class="list col-md-4">
                                    <p><img src="assets/loction_pin.svg" alt="School image">{{program.location}}
                                    </p>
                                </div>
                            </div>
                            <div class="recomend_images">
                                <a href="javascript:;">
                                    <img src="assets/tick_img.png" alt="Recomend images">
                                </a>
                                <a href="javascript:;">
                                    <img src="assets/reward_img2.png" alt="Recomend images">
                                </a>
                                <a href="javascript:;">
                                    <img src="assets/reward_img.png" alt="Recomend images">
                                </a>
                            </div>
                            <br>
                            <!-- <div class="recomend_btn">
                                <a href="javascript:;">Recommended</a>
                            </div> -->
                        </div>
                        <!-- <div class="rating_box">
                            <a href="javascript:;">
                                <img src="assets/star.svg" alt="Star"> 5.0 (15)
                            </a>
                        </div> -->
                    </div>
                </div>
                <!-- <button *ngIf="programs.length >= 50" class="loadMoreBtn" (click)="loadMore()">Load More</button> -->

                <!-- </div> -->
            </div>
            <div class="col-md-6" *ngIf="isMap">
                <div class="map_section">
                    <!-- <img src="assets/map_img.png" alt="Map Image "> -->
                    <!-- <agm-map [latitude]="lat" [longitude]="lng">
                            <agm-marker *ngFor="let item of markers" [latitude]="item.lat" [longitude]="item.lng"
                                [label]="{color: 'black',fontWeight: 'bold', text:item.label}">
                                <agm-info-window>
                                    <strong>{{item.info}}</strong>
                                </agm-info-window>
                            </agm-marker>
                        </agm-map> -->
                </div>
            </div>
        </div>
    </div>

</section>



<!-- Sequrity Question Modal -->
<div class="modal fade search_modal password" id="SearchModal" data-backdrop="static" data-keyboard="false"
    tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true" class="icon-close"></span>
            </button>
            <div class="modal-body">
                <h2>Share</h2>
                <div class="share_option">
                    <ul>
                        <li>
                            <a href="javascript:;">Facebook</a>
                        </li>
                        <li>
                            <a href="javascript:;">Messenger</a>
                        </li>
                        <li>
                            <a href="javascript:;">Email</a>
                        </li>
                        <li>
                            <a href="javascript:;">Whatsapp</a>
                        </li>
                        <li>
                            <a href="javascript:;">Copylink</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>






<!-- filter Modal -->
<div class="modal fade verification_modal password" id="filterModal" data-backdrop="static" data-keyboard="false"
    tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <button (click)="closePopup()" type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true" class="icon-close"></span>
            </button>
            <div class="modal-body">
                <h2>Filter</h2>
                <div class="search_outer">

                    <div *ngIf="isDateModal" class="form-group date_time">
                        <label>Dates</label>
                        <div class="input_outer">
                            <input [owlDateTimeTrigger]="dt7" [owlDateTime]="dt7" class="form-control"
                                placeholder="Start Date" [(ngModel)]="fromDate">
                            <owl-date-time [pickerType]="'calendar'" [pickerMode]="'popup'" #dt7></owl-date-time>
                            <br>
                            <input [owlDateTimeTrigger]="dt8" [owlDateTime]="dt8" class="form-control right_input"
                                placeholder="End Date" [(ngModel)]="toDate">
                            <owl-date-time [pickerType]="'calendar'" #dt8 [pickerMode]="'popup'"> </owl-date-time>

                        </div>
                    </div>

                    <div *ngIf="isTimeModal" class="form-group date_time">
                        <label>Time</label>
                        <div class="input_outer">
                            <input [owlDateTimeTrigger]="dt9" [owlDateTime]="dt9" class="form-control"
                                placeholder="Start Time" [(ngModel)]="fromTime">
                            <owl-date-time [pickerType]="'timer'" #dt9></owl-date-time>
                            <br>
                            <br>
                            <input [owlDateTimeTrigger]="dt10" [owlDateTime]="dt10" class="form-control right_input"
                                placeholder="End Time" [(ngModel)]="toTime">
                            <owl-date-time [pickerType]="'timer'" #dt10></owl-date-time>
                        </div>
                    </div>
                    <div *ngIf="isAgeModal" class="form-group">
                        <label class="custom-label">Age Group</label>
                        <br>
                        <br>
                        <ng5-slider [(value)]="minAge" [(highValue)]="maxAge" [options]="ageOption">
                        </ng5-slider>
                    </div>

                    <div class="submit_btn">
                        <button (click)="addFilter()" data-dismiss="modal" class="submitBtn">Search</button>
                        <!-- <button *ngIf="isDateSearch" (click)="submit()" data-dismiss="modal"
                                    class="submitBtn">Search</button>
                                <button *ngIf="isAgeSearch" (click)="programSearchByAge()" data-dismiss="modal"
                                    class="submitBtn">Search</button> -->
                        <button (click)="closePopup()" type="button" data-dismiss="modal"
                            class="cancel_btn">Cancel</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<ngx-ui-loader [fgsTemplate]="foregroundSpinner" bgsType={{loaderType}} fgsType={{loaderType}} fgsSize="40" bgsSize="40"
    fgsPosition={{loaderPostion}} overlayColor="rgba(40,40,40,0.12)">
</ngx-ui-loader>
<app-footer2 *ngIf="!isLogin"></app-footer2>