<app-header></app-header>
<app-nav></app-nav>
<div class="content body">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-1">
                        <img (click)='back()' class="arrow" src="assets/back_arrow.svg">
                    </div>
                    <div class="col-sm-11">
                        <div class="steps"></div>
                        <div class="heading">
                            Edit Profile
                        </div>
                    </div>
                </div>
                <div class="row">

                </div>
                <section>
                    <form enctype="multipart/form-data">
                        <div class="container_1">
                            <div class="row ">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="custom-label">LOGO</label>

                                        <div class="dropzone-wrapper  bgcolor">
                                            <div class="dropzone-desc">
                                                <i class="glyphicon glyphicon-download-alt"></i>
                                                <div class="row_text">
                                                    <p>Drag and Drop.</p>
                                                </div>
                                                <button type="submit" class="btn btn-Grade">Upload</button>
                                            </div>
                                            <input (change)="uploadProviderImage($event,userData.id)" type="file" #file
                                                accept="image/*" name="img_logo" class="dropzone">
                                        </div>
                                        <span style="color:red;" *ngIf="msg">{{msg}}</span>
                                    </div>
                                    <img [src]="providerImgURL" height="50" *ngIf="providerImgURL">
                                </div>
                            </div>
                        </div>
                    </form>


                </section>

                <section>
                    <form enctype="multipart/form-data">
                        <div class="container_2">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="custom-label">Provider Cover Photo</label>

                                        <div class="dropzone-wrapper  bgcolor">
                                            <div class="dropzone-desc">
                                                <i class="glyphicon glyphicon-download-alt"></i>
                                                <div class="row_text">
                                                    <p>Drag and Drop.</p>
                                                </div>
                                                <button type="submit" class="btn btn-Grade">Upload</button>
                                            </div>
                                            <input (change)="uploadProviderBanner($event,userData.id)" type="file"
                                                accept="image/*" name="img_logo" class="dropzone">
                                        </div>
                                        <span style="color:red;" *ngIf="msg">{{msg}}</span>
                                    </div>
                                    <img [src]="bannerImgURL" height="50" width="120" *ngIf="bannerImgURL">
                                </div>
                            </div>
                        </div>
                    </form>
                </section>
                <script src="assets/app.js"></script>

                <section>
                    <div class="container_2">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="custom-label">Provider Name</label>

                                    <input type="text" class="form-control" id="name"
                                        placeholder="The Stem Education Provider" [(ngModel)]="user.firstName">

                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- <section>
                    <div class="container_2">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="custom-label">Category</label>

                                    <input type="text" class="form-control" id="name" placeholder="Stem"
                                        [(ngModel)]="user.category">

                                </div>
                            </div>
                        </div>
                    </div>
                </section>
 -->

                <section>
                    <div class="container_2">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="custom-label">About</label>
                                    <textarea class="form-control" rows="6" id="comment" placeholder="Type"
                                        [(ngModel)]="user.about"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section>
                    <div class="container_2">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="custom-label">Address</label>

                                    <input type="text" class="form-control" id="name" placeholder="2691 Hillside Drive"
                                        [(ngModel)]="user.addressLine1"><br>
                                    <input type="text" class="form-control" id="name" placeholder="Street 1"
                                        [(ngModel)]="user.addressLine2">
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section>
                    <div class="container_2">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="custom-label">City</label>

                                    <input type="text" class="form-control" id="name" placeholder="New York,NY"
                                        [(ngModel)]="user.city">
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <section>
                    <div class="container_2">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="custom-label">E-mail</label>

                                    <input type="text" class="form-control" id="name"
                                        placeholder="Providername@gmail.com" [(ngModel)]="user.email" readonly>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section>
                    <div class="container_2">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="custom-label">Phone</label>

                                    <input type="text" class="form-control" id="name" placeholder="(555)555 5555 55"
                                        [(ngModel)]="user.phoneNumber">
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section>
                    <div class="container_2">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="custom-label">Website</label>

                                    <input type="text" class="form-control" id="name" placeholder="www.domain.com"
                                        [(ngModel)]="user.website">
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section>
                    <div class="container_2">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="custom-label">Social Media</label>

                                    <div class="row">
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control" id="name" placeholder="Facebook"
                                                [(ngModel)]="user.facebook">
                                        </div>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control" id="name" placeholder="Twiter"
                                                [(ngModel)]="user.twitter">
                                        </div>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control" id="name" placeholder="Instagram"
                                                [(ngModel)]="user.instagram">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <hr>
        <div class="buttons">
            <button type="button" (click)='back()' class="btn"><img class="arrow"
                    src="assets/back_arrow.svg">Back</button>
            <button (click)="updateProviderById(userData.id)" type="button" class="btn btn-Grade">Update</button>
        </div>
    </div>
    <app-footer></app-footer>
</div>
<ngx-ui-loader></ngx-ui-loader>