.otp_form {
    max-width: 440px;
    margin: 0 auto;
}
.otp_form .otp_logo{
position: absolute;
top: 40px;
}

.otp_form .form {
    margin-top: 124px;
}

.otp_form .form .form-group {
    margin: 0 0 10px 0;
}

.otp_form .form .form-group.email_text h2 {
    font-family: 'Patrick Hand';
    font-size: 20px;
    line-height: 27px;
    letter-spacing: 0.001em;
    color: #748494;
}

.otp_form .form .form-group .input_outer {
    position: relative;
}


.otp_form .form .form-group .input_outer:focus::after,
.otp_form .form .form-group .input_outer:focus-within::after {
    opacity: 1;
}

.otp_form .form .form-group .input_outer.password::after{
    content:none;
}
.otp_form .form .form-group .input_outer.password .password_view{
position: absolute;
right: 9px;
top: 50%;
-webkit-transform: translateY(-50%);
transform: translateY(-50%);
}

.ch-radio input[type="checkbox"]:checked+span:before,
.ch-radio input[type="checkbox"]:checked~span:before,
.ch-radio input[type="radio"]:checked+span:before,
.ch-radio input[type="radio"]:checked~span:before {
    border-color: #27AE60;
    background-color: #27AE60;
}

.sign_in_btn {
    text-align: center;
    margin: 61px 0 0 0;
}

.SignBtn {
    background: #F15C20;
    border: 1px solid #F15C20;
    box-sizing: border-box;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    min-width: 205px;
    min-height: 56px;
    line-height: 56px;
    text-align: center;
    color: #ffffff;
    font-weight: 600;
    font-size: 13px;
    margin: 0 auto;
    text-transform: uppercase;
}

.SignBtn:hover {
    background: #c74009;
}

.SignBtn.cancel {
    background: transparent;
    border: 1px solid #F15C20;
    color: #F15C20;
    margin: 0 auto 0 16px;
}

.SignBtn.cancel:hover {
    background: #F15C20;
    color: #ffffff;
}

.otp_img {
    position: relative;
    overflow: hidden;
}

.otp_img_overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0px;
    background: linear-gradient(214.99deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 100%);
}

.otp_outer {
    position: relative;
}

.otp_outer .email_register {
    position: inherit;
}

.go_back_page {
    position: absolute;
    bottom: 27px;
}

.go_back_page p {
    font-size: 11px;
    line-height: 15px;
    letter-spacing: 0.015em;
    text-transform: uppercase;
    color: #748494;
}

.go_back_page p a {
    color: #F15C20;
}

.sing_text {
    margin-top: 84px;
}

.sing_text h1 {
    font-family: 'Patrick Hand';
    font-size: 36px;
    line-height: 37px;
    color: #777CEA;
    margin-top: 31px;
}

.sing_text h3 {
    font-family: 'Patrick Hand';
    font-size: 20px;
    line-height: 27px;
    letter-spacing: 0.001em;
    color: #748494;
    margin-top: 10px;
}
.otp_outer .sign_outer{
position: inherit;
}
.forgot_text p{
font-size: 11px;
line-height: 15px;
letter-spacing: 0.015em;
text-transform: uppercase;
color: #748494;
}
.forgot_text p a{
    color: #F15C20;
}
.forgot_text.right{
    text-align: right;
}
.forgot_password{
    margin-top: 44px;
    padding: 0 5px;
}

.copyright_text{
    position: absolute;
    bottom: 24px;
}
.copyright_text p{
font-size: 13px;
line-height: 16px;
letter-spacing: 0.001em;
color: #748494;
}


.copyright_text{
    position: absolute;
    bottom: 24px;
}
.copyright_text p{
font-size: 13px;
line-height: 16px;
letter-spacing: 0.001em;
color: #748494;
}

  mat-icon.field-icon {
    float: right;
    margin-right: 10px;
    margin-top: -37px;
    position: relative;
    z-index: 2;
    
}


  