<body>
  <app-header></app-header>
  <div class="main_outer">
    <div class="program_outer">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="program_images">
              <div class="program_box">
                <img src="assets/program_img1.jpg" alt="Program Image">
              </div>
              <div class="program_box">
                <img src="assets/program_img2.jpg" alt="Program Image">
              </div>
              <div class="program_box">
                <img src="assets/program_img3.jpg" alt="Program Image">
              </div>
              <div class="program_box">
                <img src="assets/program_img1.jpg" alt="Program Image">
              </div>
            </div>
          </div>
        </div>

        <div class="batch_outer detailed2">

          <div class="row program_text">
            <div class="col-12">
              <div class="CategoryText">
                <h5>Category</h5>
                <h3>Soccer Multi Class Session Micro
                </h3>
                <div class="shareIcon">
                  <a href="javascript:;">
                    <img src="assets/share_orange.svg" alt="share icon">
                  </a>
                  <a href="javascript:;">
                    <img src="assets/bookmark_orange.svg" alt="share icon">
                  </a>
                </div>
                <div class="session_details">
                  <p><img src="assets/loction_pin.svg" alt="Loction Pin"> Jersey City, NJ </p>
                  <p><img src="assets/calendar.svg" alt="Loction Pin"> Mar 09-13,2020 </p>
                  <p><img src="assets/user_group.svg" alt="Loction Pin"> 12-16 Yrs. </p>
                  <p><img src="assets/watch.svg" alt="Loction Pin"> 09:00 – 11:00 </p>
                </div>
                <div class="insured_outer">
                  <p><img src="assets/tick_img.png" alt="Loction Pin"> Verified </p>
                  <p><img src="assets/reward_img2.png" alt="Loction Pin"> Top Ratted in STEM </p>
                  <p><img src="assets/reward_img.png" alt="Loction Pin"> Certified Provider </p>
                  <p><img src="assets/insured.png" alt="Loction Pin"> Fully Insured </p>
                </div>

                <div class="completion_score logout">
                  <a href="javascript:;">
                    <img src="assets/logout_icon.svg" alt="Logout Image">
                  </a>
                </div>

              </div>
            </div>
          </div>


          <div class="row detail_page">
            <div class="col-md-8">
              <div class="batch_left">
                <h2>Batches</h2>
                <div class="listing_outer">
                  <div class="batch_box">
                    <div class="batch_title">
                      <p> Tile of the batch</p>
                    </div>
                    <div class="batch_list_outer">
                      <div class="batch_listing">
                        <label>Time</label>
                        <p>09:00 – 11:00</p>
                      </div>
                      <div class="batch_listing">
                        <label>Dates</label>
                        <p>09-13 Mar, 2020</p>
                      </div>
                      <div class="batch_listing">
                        <label>instructor</label>
                        <div class="batch_profile">
                          <img src="assets/profile2.png" alt="Profile Image">
                        </div>
                        <p>Janet Doe</p>
                      </div>
                      <div class="batch_listing">
                        <label>number of seats</label>
                        <p>20</p>
                      </div>
                      <div class="batch_listing">
                        <label>Location</label>
                        <p>Fake ave 123</p>
                      </div>
                    </div>
                  </div>
                  <div class="batch_box">
                    <div class="batch_title">
                      <p> Tile of the batch</p>
                    </div>
                    <div class="batch_list_outer">
                      <div class="batch_listing">
                        <label>Time</label>
                        <p>09:00 – 11:00</p>
                      </div>
                      <div class="batch_listing">
                        <label>Dates</label>
                        <p>09-13 Mar, 2020</p>
                      </div>
                      <div class="batch_listing">
                        <label>instructor</label>
                        <div class="batch_profile">
                          <img src="assets/profile2.png" alt="Profile Image">
                        </div>
                        <p>Janet Doe</p>
                      </div>
                      <div class="batch_listing">
                        <label>number of seats</label>
                        <p>20</p>
                      </div>
                      <div class="batch_listing">
                        <label>Location</label>
                        <p>Fake ave 123</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="edit_icon">
                  <a href="javascript:;">
                    <img src="assets/edit.svg" alt="Edit Image">
                  </a>
                </div>
              </div>

              <div class="description_text">
                <h2>Description</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                  et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                  aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                  dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
                  officia deserunt mollit anim id est laborum.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                  et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                  aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                  dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
                  officia deserunt mollit anim id est laborum.</p>
                <div class="edit_icon">
                  <a href="javascript:;">
                    <img src="assets/edit.svg" alt="Edit Image">
                  </a>
                </div>
              </div>

              <div class="description_text">
                <h2>Cancellation Policy</h2>
                <p>
                  <label>Booking can’t be cancelled before</label>
                  24 Hours</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                  et dolore magna aliqua. Ut enim ad minim veniam,</p>
                <div class="edit_icon">
                  <a href="javascript:;">
                    <img src="assets/edit.svg" alt="Edit Image">
                  </a>
                </div>
              </div>

              <div class="description_text">
                <h2>Special Instructions</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                  et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                  aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                  dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
                  officia deserunt mollit anim id est laborum.</p>
                <div class="edit_icon">
                  <a href="javascript:;">
                    <img src="assets/edit.svg" alt="Edit Image">
                  </a>
                </div>
              </div>

              <div class="description_text">
                <h2>Reviews <a href="javascript:;" class="view_all">View all</a> </h2>
                <div class="reviews_outer">
                  <div class="media align-items-center">
                    <div class="media-left">
                      <img src="assets/review_img1.png" alt="Review">
                    </div>
                    <div class="media-body">
                      <label>John Doe</label>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua.</p>
                    </div>
                  </div>
                  <div class="media align-items-center">
                    <div class="media-left">
                      <img src="assets/review_img2.png" alt="Review">
                    </div>
                    <div class="media-body">
                      <label>James Do</label>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua.</p>
                    </div>
                  </div>
                  <div class="media align-items-center">
                    <div class="media-left">
                      <img src="assets/review_img3.png" alt="Review">
                    </div>
                    <div class="media-body">
                      <label>Jane Doe</label>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua.</p>
                    </div>
                  </div>
                </div>
              </div>

            </div>
            <div class="col-md-4">
              <div class="batch_right border_none active_edit">
                <h2>Active</h2>
                <div class="price_child">
                  <h3>$200</h3>
                  <p>/ per child</p>
                </div>
                <div class="batch_right_form">
                  <div class="form-group date_time">
                    <label>Date</label>
                    <div class="input_outer">
                      <input type="date">
                      <div class="arrow_img">
                        <img src="assets/arrow-right.svg" alt="Arrow Image">
                      </div>
                      <input type="date" class="right_input">
                    </div>
                  </div>
                  <div class="form-group">
                    <label>Days</label>
                    <div class="input_outer">
                      <input type="text" placeholder="" class="form-control">
                    </div>
                  </div>
                  <div class="form-group">
                    <label>Number of seats</label>
                    <div class="input_outer">
                      <input type="text" placeholder="" class="form-control">
                    </div>
                  </div>
                  <div class="form-group date_time">
                    <label>Time</label>
                    <div class="input_outer">
                      <input type="time">
                      <div class="arrow_img">
                        <img src="assets/arrow-right.svg" alt="Arrow Image">
                      </div>
                      <input type="time" class="right_input">
                    </div>
                  </div>
                  <div class="form-group">
                    <label>Location</label>
                    <div class="input_outer">
                      <input type="text" placeholder="" class="form-control">
                    </div>
                  </div>
                  <div class="form-group">
                    <label>Age Group</label>
                    <img src="assets/age_group.jpg" alt="Age Group Image" class="fluid-img">
                  </div>
                  <div class="form-group">
                    <label>Adult assistance is required</label>
                    <div class="adult_assistance">
                      <label class="switch notification">
                        <input type="checkbox">
                        <span class="slider round"></span>
                      </label>
                    </div>
                  </div>
                  <div class="form-group">
                    <button type="button" class="udpate_btn">Update</button>
                  </div>
                </div>
                <div class="edit_icon">
                  <a href="javascript:;">
                    <img src="assets/edit.svg" alt="Edit Image">
                  </a>
                </div>
              </div>

            </div>
          </div>


        </div>

      </div>
    </div>
  </div>

  <app-footer></app-footer>
</body>