.program_outer {
    padding: 50px 95px 30px 95px;
}

.program_images {
    width: 100%;
    display: flex;
}

.program_images .program_box {
    width: 100%;
    max-width: 350px;
    margin-right: 5px;
}

.program_images .program_box:last-child {
    margin-right: 0;
}

.program_images .program_box img {
    max-width: 100%;
}

.program_text {
    padding: 35px 0 31px 0;
}

.program_text .CategoryText {
    position: relative;
}

.program_text .CategoryText .edit_icon {
    right: 37%;
}

.program_text .CategoryText h5 {
    font-weight: 600;
    font-size: 10px;
    line-height: 14px;
    color: #777CEA;
    text-transform: uppercase;
}

.program_text .CategoryText .shareIcon {
    display: inline-block;
}

.program_text .CategoryText .shareIcon a {
    display: inline-block;
    margin: 0 0 0 11px;
    vertical-align: super;
}

.program_text .CategoryText .learn_code {
    width: 60px;
    height: 60px;
    border-radius: 6px;
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
}

.program_text .CategoryText .learn_code img {
    max-width: 100%;
    height: 100%;
}

.program_text .CategoryText h3 {
    font-size: 36px;
    line-height: 37px;
    color: #777CEA;
    font-family: 'Patrick Hand';
    margin: 2px 0 0 0;
    position: relative;
    display: inline-block;
}

.program_text .CategoryText h3 .edit_name {
    position: absolute;
    right: -36px;
    top: 0;
}

.session_details {
    margin-top: 3px;
}

.session_details p {
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 0.001em;
    color: #748494;
    display: inline-block;
    margin: 0 28px 0 0;
}

.session_details p img {
    margin-right: 6px;
    vertical-align: middle;
}

.insured_outer {
    border-top: 1px solid #E5E9EC;
    border-bottom: 1px solid #E5E9EC;
    padding: 13px 0;
    margin-top: 29px;
    max-width: 742px;
}

.insured_outer p {
    display: inline-block;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 0.001em;
    color: #748494;
    margin: 0 35px 0 0;
}

.insured_outer p img {
    max-width: 27px;
    margin-right: 12px;
}

.batch_outer .batch_left {
    background: #FFFFFF;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    padding: 30px 35px;
    position: relative;
}

.batch_outer .batch_left h2 {
    font-family: 'Patrick Hand';
    font-size: 26px;
    line-height: 18px;
    letter-spacing: 0.005em;
    color: #777CEA;
}

.batch_box {
    border: 1px solid #E5E9EC;
    border-radius: 4px;
    padding: 16px 28px;
    margin-top: 11px;
}

.batch_box .batch_title p {
    font-weight: 600;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 0.001em;
    color: #777CEA;
}

.listing_outer {
    margin-top: 29px;
}

.batch_outer .batch_right {
    background: #FFFFFF;
    border: 1px solid #E5E9EC;
    box-sizing: border-box;
    border-radius: 2px;
    padding: 21px;
    margin-bottom: 21px;
    position: relative;
}

.batch_outer .batch_right:last-child {
    margin: 0;
}

.batch_outer .batch_right img {
    max-width: 100%;
}

.batch_outer .batch_right.border_none {
    border: none;
    text-align: center;
    padding: 32px;
}

.batch_outer .batch_right h2 {
    font-family: 'Patrick Hand';
    font-size: 26px;
    line-height: 18px;
    letter-spacing: 0.005em;
    color: #777CEA;
    margin-top: 16px;
}

.batch_outer .batch_right P {
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    color: #748494;
    margin: 26px 0 0 0;
}

.batch_outer .batch_right a.business_btn {
    min-height: 52px;
    line-height: 52px;
    width: 100%;
    max-width: 100%;
    text-align: center;
    background-color: #f15c20;
    color: #fff;
    font-size: 18px;
    letter-spacing: 0.005em;
    padding: 0 10px;
    border-radius: 4px;
    display: inline-block;
    margin-top: 32px;
    transition: 0.8s;
}

.batch_outer .batch_right a.business_btn:hover {
    background: #c74009;
}

.batch_list_outer {
    display: flex;
}

.batch_list_outer .batch_listing {
    display: inline-block;
    margin: 0 15px 0 0;
}

.batch_list_outer .batch_listing label {
    font-weight: 600;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: #777CEA;
    text-transform: uppercase;
    width: 100%;
}

.batch_list_outer .batch_listing .batch_profile {
    width: 22px;
    height: 22px;
    border-radius: 4px;
    display: inline-block;
    margin-right: 14px;
    overflow: hidden;
    vertical-align: middle;
}

.batch_list_outer .batch_listing .batch_profile img {
    max-width: 100%;
    height: 100%;
}

.batch_list_outer .batch_listing p {
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 0.001em;
    display: inline-block;
    color: #748494;
}

.description_text {
    background: #FFFFFF;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    padding: 30px 35px;
    margin-top: 21px;
    position: relative;
}

.edit_icon {
    position: absolute;
    right: 30px;
    top: 24px;
}

.description_text h2 {
    font-family: 'Patrick Hand';
    font-size: 26px;
    line-height: 18px;
    letter-spacing: 0.005em;
    color: #777CEA;
}

.description_text p {
    font-size: 13px;
    line-height: 19px;
    letter-spacing: 0.001em;
    color: #748494;
    margin-top: 22px;
}

.description_text label {
    font-weight: 600;
    font-size: 10px;
    line-height: 14px;
    text-transform: uppercase;
    color: #777CEA;
    width: 100%;
    display: inline-block
}

.description_text h2 .view_all {
    font-weight: 600;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    font-family: 'Open Sans';
    color: #748494;
    float: right;
}

.reviews_outer {
    margin-top: 36px;
}

.reviews_outer .media {
    margin: 0 0 15px 0;
}

.reviews_outer .media .media-left {
    width: 50px;
    height: 50px;
    border-radius: 4px;
    overflow: hidden;
}

.reviews_outer .media .media-left img {
    max-width: 100%;
    height: 100%;
}

.reviews_outer .media .media-body {
    padding: 0 0 0 12px;
}

.reviews_outer .media .media-body label {
    font-weight: 600;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 0.001em;
    color: #777CEA;
}

.reviews_outer .media .media-body p {
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 0.001em;
    color: #748494;
    margin: 0;
}

.menu_control {
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
}

/* start program detail2 page css */
.batch_outer.detailed2 {
    padding: 30px 0 0 0;
}

.batch_outer.detailed2 .program_text {
    padding: 0 0 31px 0;
}

.learn_code.left img {
    max-width: 100px;
}

.description_text .des_media {
    margin: 0;
}

.description_text .des_media:last-child {
    margin: 0;
}

.description_text .des_media .media {
    margin-top: 17px;
}

.description_text .des_media .media-body {
    padding: 0 0 0 20px;
}

.description_text .des_media .media-body p {
    margin: 0;
}

.subscription_text {
    margin-top: 56px;
}

.subscription_text .subscription_box {
    display: inline-block;
    vertical-align: top;
    margin: 0 161px 0 0;
}

.subscription_text .subscription_box:last-child {
    margin: 0;
}

.social_media {
    margin: 9px 0 0 0;
}

.social_media a .icon {
    color: #748494;
    margin: 0 6px 0 0;
    font-size: 19px;
}

.featured_text .rating_box {
    position: absolute;
    right: 0;
    bottom: 13px;
    top: auto;
}

.featured_text .feature_box p {
    margin: 0 16px 0 0;
}

.featured_text p {
    color: #777CEA;
}

.featured_img .coding_text {
    position: absolute;
    bottom: 9px;
    left: 9px;
}

.featured_img .coding_text h3 {
    min-width: 75px;
    min-height: 21px;
    line-height: 21px;
    background: #F15C20;
    border-radius: 10.5px;
    display: inline-block;
    color: #fff;
    font-size: 10px;
    letter-spacing: 0.01em;
    text-align: center;
    text-transform: uppercase;
}

.featured_text .featured_btn {
    border: 1px solid #F15C20;
    color: #F15C20;
}

.featured_text .feature_box {
    margin: 5px 0 12px 0;
}

/* program edit page css */

.batch_outer .batch_right.active_edit {
    padding: 30px;
    text-align: left;
}

.batch_outer .batch_right.active_edit h2 {
    margin: 0;
}

.batch_outer .batch_right .price_child {
    margin-top: 8px;
}

.batch_outer .batch_right .price_child h3 {
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    text-align: justify;
    letter-spacing: 0.01em;
    color: #748494;
    display: inline-block;
}

.batch_outer .batch_right .price_child p {
    font-size: 12px;
    line-height: 16px;
    text-align: justify;
    color: #748494;
    display: inline-block;
    margin: 0;
}

.batch_right_form {
    margin-top: 24px;
}

.batch_right_form .form-group {
    margin-bottom: 2px;
}

.batch_right_form .adult_assistance {
    width: 100%;
    display: inline-block;
    margin-top: 5px;
}

.batch_right_form .form-group.date_time .input_outer {
    width: 100%;
    border-radius: 4px;
    border: 1px solid #E5E9EC;
    min-height: 52px;
}

.batch_right_form .form-group.date_time .input_outer input {
    max-width: 45%;
    border: none;
    display: inline-block;
}

.batch_right_form .form-group.date_time .input_outer input.right_input {
    text-align: center;
}

.batch_right_form .form-group.date_time .input_outer .arrow_img {
    display: inline-block;
}

.batch_right_form .form-group.date_time .input_outer input::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}

.batch_right_form .form-group .udpate_btn {
    width: 100%;
    max-width: 352px;
    background: #F15C20;
    font-family: 'Patrick Hand';
    box-sizing: border-box;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12);
    min-height: 52px;
    line-height: 52px;
    border-radius: 4px;
    border: none;
    box-shadow: none;
    font-size: 26px;
    color: #fff;
    transition: 0.8s;
}

.batch_right_form .form-group .udpate_btn:hover {
    background: #c74009;
}

.edit_icon {
    position: absolute;
    right: 30px;
    top: 24px;
}

.description_text .map_img {
    border: 1px solid #E5E9EC;
    border-radius: 2px;
    padding: 24px;
}

.description_text .des_media .media-body.social {
    padding: 0 0 0 40px;
}

.completion_score {
    position: absolute;
    right: 0;
    top: 0;
}

.completion_score p {
    font-weight: 600;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: #748494;
    display: inline-block;
}

.completion_score a {
    margin: 0 6px 0 0;
}

.completion_score .profile_score {
    display: inline-block;
}

.description_media .edit_icon {
    top: 0;
}

.completion_score.logout {
    top: 20px;
}

/* ------------style.css-------------- */
.form-group label {
    font-weight: 600;
    font-size: 10px;
    line-height: 14px;
    text-transform: uppercase;
    color: #777CEA;
    padding: 0 0 0 15px;
}

.form-group input {
    width: 100%;
    border-radius: 4px;
    border: 1px solid #E5E9EC;
    min-height: 52px;
    height: auto;
    font-size: 13px;
    color: #748494;
    transition: 0.8s;
    padding: 14px;
}

/* Rounded sliders */
.switch.notification .slider.round {
    border-radius: 34px;
}

.switch.notification .slider.round:before {
    border-radius: 50%;
}

/* ---------------------------------- */
@media(max-width:991px) {
    .program_outer{
        padding: 34px 15px;
    }
    .program_text .CategoryText h3 {
        font-size: 26px;
    }
    .batch_outer .batch_left {
        padding: 30px 17px;
    }
    .batch_outer .batch_right.active_edit {
        padding:30px 15px;
    }
    .batch_list_outer{
        display: inline-block;
    }
    .batch_right_form .form-group .udpate_btn {
        min-height: 42px;
        line-height: 42px;
        font-size: 18px;
    }
    .detail_page .col-md-8 {
        -ms-flex: 0 0 59.666667%;
        flex: 0 0 59.666667%;
        max-width: 59.666667%;
    }
    .detail_page .col-md-4 {
        -ms-flex: 0 0 39.333333%;
        flex: 0 0 39.333333%;
        max-width: 39.333333%;
    }
}
@media(max-width:767px) {
    .program_outer {
        padding: 35px 10px;
    }

    .program_text .CategoryText h3 {
        font-size: 20px;
        line-height: 26px;
        margin: 0px 0 0 0;
    }

    .batch_list_outer {
        display: inline-block;
    }

    .insured_outer p {
        font-size: 12px;
        margin: 0 11px 10px 0;
    }

    .insured_outer p img {
        max-width: 27px;
    }
    .session_details{
        margin-top: 14px;
    }
    .session_details p{
        margin: 0 17px 7px 0;
        font-size: 12px;
    }
    .batch_outer .batch_left{
        padding: 30px 12px;
    }
    .batch_box{
        padding: 16px;
    }
    .description_text{
        padding: 16px; 
    }
    .description_text h2 {
        font-size: 22px;
    }
    .edit_icon {
        right: 17px;
        top: 17px;
    }
    .batch_outer .batch_right.active_edit {
        margin-top: 24px;
        padding: 16px;
    }
    .program_text .CategoryText .shareIcon {
        margin: 0 0 0 12px;
        vertical-align: middle;
    }
    .program_text .CategoryText .shareIcon a {
        margin: 0 12px 0 0;
    }
    .program_text .CategoryText .shareIcon a:last-child{
        margin: 0;
    }
}
@media(max-width:480px) {
    .program_text .CategoryText .shareIcon {
        width: 100%;
        margin: 5px 0 0 0;
    }
}