
.content {
  background-color: #eeeeee;
  height: 90vh;
  padding: 0 10px;
  overflow-y: scroll;
}

.nav-container {
  position: absolute;
  top: 60px;
  bottom: 0;
  left: 0;
  right: 0;
}

mat-sidenav-content {

  flex: 1 1 auto;
}