<body>

    <app-header2 *ngIf="!isLogin"></app-header2>
    <app-header *ngIf="isLogin"></app-header>
    <app-nav *ngIf="providerRole"></app-nav>
    <section class="main_outer">

        <div class="program_outer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <!-- <app-carousel></app-carousel> -->
                        <div id="bannerimage">
                            <!-- <div><img id="bannerimage" *ngIf="!this.programImgURL" src="{{this.programImgURL}}"></div> -->
                            <img id="bannerimage" *ngIf="program.programCoverPic" src="{{program.programCoverPic}}">

                        </div>
                        <label *ngIf="program.user === this.userData.id" class="banner-icon cursor">
                            <input style="display:none;" (change)="uploadCoverPic($event,program._id)" type="file"
                                id="file" accept="image/*" name="img_logo" class="dropzone">
                            <button class="uploadbanner" type="button"
                                onclick="document.getElementById('file').click();">ADD PHOTOS</button>
                        </label>
                    </div>
                </div>


                <div class="program_text">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="CategoryText">
                                <h5>Intrests</h5>

                                <div class="col-md-12">
                                    <div *ngIf="program.user === this.userData.id" class="edit_icon cursor">
                                        <a (click)="openModal(isName=true)" data-toggle="modal"
                                            data-target="#programUpdateModal">
                                            <img src="assets/edit.svg" alt="Edit Image">
                                        </a>
                                    </div>
                                    <mat-chip-list>
                                        <mat-chip *ngFor="let intrest of program.tags">{{intrest.name}}</mat-chip>
                                    </mat-chip-list>
                                </div>
                                <h3>{{program.name}}</h3>

                                <div class="session_details">
                                    <p><img src="assets/loction_pin.svg" alt="Loction Pin">{{program.location}}</p>
                                    <p><img src="assets/calendar.svg"
                                            alt="Loction Pin">{{program.date.from  | date:"dd:MM:yyyy"}}-{{program.date.to  | date:"dd:MM:yyyy"}}
                                    </p>
                                    <p><img src="assets/user_group.svg" alt="Loction Pin">
                                        {{program.ageGroup.from}}-{{program.ageGroup.to}} Yrs. </p>
                                    <p><img src="assets/watch.svg"
                                            alt="Loction Pin">{{program.time.from | date:"shortTime"}}-{{program.time.to | date:"shortTime"}}
                                    </p>
                                </div>
                                <div class="insured_outer">
                                    <p><img src="assets/tick_img.png" alt="Loction Pin"> Verified </p>
                                    <p><img src="assets/reward_img2.png" alt="Loction Pin"> Top Ratted in STEM </p>
                                    <p><img src="assets/reward_img.png" alt="Loction Pin"> Certified Provider </p>
                                    <p><img src="assets/insured.png" alt="Loction Pin"> Fully Insured </p>
                                </div>
                                <div (click)="goToProfile()" *ngIf="program.user !== this.userData.id"
                                    class="learn_code cursor">
                                    <img *ngIf="user.avatarImages" src="{{user.avatarImages}}" alt="user image">
                                    <img *ngIf="!user.avatarImages" src="assets/otheruser.jpeg" alt="user image">
                                    <!-- <img src="assets/otheruser.jpeg" alt="user image"> -->

                                </div>
                            </div>

                            <div *ngIf="program.user === this.userData.id" class="edit_icon cursor">
                                <a (click)="openModal(isTag=true)" data-toggle="modal"
                                    data-target="#programUpdateModal">
                                    <img src="assets/edit.svg" alt="Edit Image">
                                </a>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="batch_outer">
                    <div class="row">
                        <div class="col-md-8">
                            <div *ngIf="program.type!=='unScheduled' && program.batches.length" class="batch_left">
                                <h2>Batches</h2>
                                <div class="listing_outer" *ngFor="let batch of program.batches;  let i = index">

                                    <div class="batch_box">
                                        <div *ngIf="program.user === this.userData.id" class="cursor">
                                            <a (click)="openModal(isBatch=true,batch)" data-toggle="modal"
                                                data-target="#programUpdateModal">
                                                <img src="assets/edit.svg" alt="Edit Image">
                                            </a>
                                        </div>
                                        <div class="batch_title">
                                            <p> Tile of the batch</p>
                                        </div>
                                        <div class="batch_list_outer">
                                            <div class="batch_listing">
                                                <label>Time</label>
                                                <p>{{batch.startTime | date:"shortTime" }}–{{batch.endTime | date:"shortTime"}}
                                                </p>
                                            </div>
                                            <div class="batch_listing">
                                                <label>Dates</label>
                                                <p>{{batch.startDate | date:"dd:MM:yyyy"}}–{{batch.endDate | date:"dd:MM:yyyy"}}
                                                </p>
                                            </div>
                                            <div class="batch_listing">
                                                <label>instructor</label>
                                                <!-- <div class="batch_profile">
                                                    <img src="assets/profile2.png" alt="Profile Image">
                                                </div> -->
                                                <p>{{batch.instructor}}</p>
                                            </div>
                                            <div class="batch_listing">
                                                <label>number of seats</label>
                                                <p>{{batch.numberOfSeats}}</p>
                                            </div>
                                            <div class="batch_listing">
                                                <label>Location</label>
                                                <p>{{batch.location}}</p>
                                            </div>
                                        </div>

                                    </div>

                                </div>

                            </div>

                            <div class="description_text">
                                <h2>Description</h2>
                                <p>{{program.description}}</p>

                                <div *ngIf="program.user === this.userData.id" class="edit_icon cursor">
                                    <a (click)="openModal(isDescription=true)" data-toggle="modal"
                                        data-target="#programUpdateModal">
                                        <img src="assets/edit.svg" alt="Edit Image">
                                    </a>
                                </div>
                            </div>

                            <div class="description_text">
                                <h2>Cancellation Policy</h2>
                                <p>
                                    <label>Booking can’t be cancelled before</label>
                                    {{program.bookingCancelledIn.days}} days {{program.bookingCancelledIn.hours}} Hours
                                </p>
                                <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</p> -->
                                <div *ngIf="program.user === this.userData.id" class="edit_icon cursor">
                                    <a (click)="openModal(isBookingCancle = true)" data-toggle="modal"
                                        data-target="#programUpdateModal">
                                        <img src="assets/edit.svg" alt="Edit Image">
                                    </a>
                                </div>
                            </div>

                            <div class="description_text">
                                <h2>Special Instructions</h2>
                                <p>{{program.specialInstructions}}</p>
                                <div *ngIf="program.user === this.userData.id" class="edit_icon cursor">
                                    <a (click)="openModal(isInstruction = true)" data-toggle="modal"
                                        data-target="#programUpdateModal">
                                        <img src="assets/edit.svg" alt="Edit Image">
                                    </a>
                                </div>
                            </div>

                            <div class="description_text">
                                <h2>Reviews <a href="" class="view_all">View all</a> </h2>
                                <div class="reviews_outer">
                                    <div class="media align-items-center">
                                        <div class="media-left">
                                            <img src="assets/review_img1.png" alt="Review">
                                        </div>
                                        <div class="media-body">
                                            <label>John Doe</label>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                                tempor incididunt ut labore et dolore magna aliqua.</p>
                                        </div>
                                    </div>
                                    <div class="media align-items-center">
                                        <div class="media-left">
                                            <img src="assets/review_img2.png" alt="Review">
                                        </div>
                                        <div class="media-body">
                                            <label>James Do</label>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                                tempor incididunt ut labore et dolore magna aliqua.</p>
                                        </div>
                                    </div>
                                    <div class="media align-items-center">
                                        <div class="media-left">
                                            <img src="assets/review_img3.png" alt="Review">
                                        </div>
                                        <div class="media-body">
                                            <label>Jane Doe</label>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                                tempor incididunt ut labore et dolore magna aliqua.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-4">
                            <div *ngIf="providerRole" class="batch_right_form">
                                <div *ngIf="program.user !== this.userData.id" class="batch_right border_none">
                                    <img src="assets/business.svg" alt="Business image">
                                    <h2>Is this your business?</h2>
                                    <p>Claim your business to immediately update business information,
                                        respond to reviews, and more!</p>
                                    <a (click)="claimBusiness()" class="business_btn cursor">Claim This Business</a>
                                </div>
                            </div>
                            <!-- <div *ngIf="program.user !== this.userData.id" class="batch_right border_none">
                                <img src="assets/business.svg" alt="Business image">
                                <h2>Is this your business?</h2>
                                <p>Claim your business to immediately update business information,
                                    respond to reviews, and more!</p>
                                <a (click)="claimBusiness()" class="business_btn cursor">Claim This Business</a>
                            </div> -->
                            <div *ngIf="program.user === this.userData.id" class="batch_right border_none active_edit">
                                <h2>Active</h2>
                                <div class="price_child">
                                    <h3>${{program.pricePerParticipant}}</h3>
                                    <p>/ per child</p>
                                </div>
                                <div class="batch_right_form">
                                    <div class="form-group date_time">
                                        <label>Date</label>
                                        <div class="input_outer">
                                            <input type="date">
                                            <div class="arrow_img">
                                                <img src="assets/arrow-right.svg" alt="Arrow Image">
                                            </div>
                                            <input type="date" class="right_input" [(ngModel)]="program.date.from">
                                        </div>
                                    </div>
                                    <!-- <div class="form-group">
                                        <label>Days</label>
                                        <div class="input_outer">
                                            <input type="text" placeholder="" class="form-control"
                                                [(ngModel)]="program.date.from">
                                        </div>
                                    </div> -->
                                    <!-- <div class="form-group">
                                        <label>Number of seats</label>
                                        <div class="input_outer">
                                            <input type="text" placeholder="" class="form-control">
                                        </div>
                                    </div> -->
                                    <div class="form-group date_time">
                                        <label>Time</label>
                                        <div class="input_outer">
                                            <input type="time" [(ngModel)]="program.time.from">
                                            <div class="arrow_img">
                                                <img src="assets/arrow-right.svg" alt="Arrow Image">
                                            </div>
                                            <input type="time" class="right_input" [(ngModel)]="program.time.to">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Location</label>
                                        <div class="input_outer">
                                            <input type="text" placeholder="" class="form-control"
                                                [(ngModel)]="program.location">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Age Group</label>
                                        <br>
                                        <br>
                                        <ng5-slider [(value)]="program.ageGroup.from"
                                            [(highValue)]="program.ageGroup.to" [options]="options">
                                        </ng5-slider>
                                    </div>
                                    <div class="form-group">
                                        <label>Adult assistance is required</label>
                                        <div class="adult_assistance">
                                            <label class="switch notification">
                                                <input type="checkbox">
                                                <span class="slider round"></span>
                                            </label>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <button type="button" class="udpate_btn"
                                            (click)="updateProgram(program._id)">Update</button>
                                    </div>
                                </div>
                                <div *ngIf="program.user === this.userData.id" class="edit_icon cursor">
                                    <a (click)="openModal(isPricePerParticipant=true)" data-toggle="modal"
                                        data-target="#programUpdateModal">
                                        <img src="assets/edit.svg" alt="Edit Image">
                                    </a>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>

            </div>
            <!-- 
            <div *ngIf="program.user !== this.userData.id" class="col-md-4">
                <div class="batch_right">
                    <img src="assets/small_map.png" alt="Map image">
                </div>
                <div class="batch_right border_none">
                    <img src="assets/business.svg" alt="Business image">
                    <h2>Is this your business?</h2>
                    <p>Claim your business to immediately update business information,
                        respond to reviews, and more!</p>
                    <a href="javascript:;" class="business_btn">Claim This Business</a>
                </div>
            </div> -->

        </div>

    </section>


    <!-- program update Modal -->
    <div class="modal fade verification_modal password" id="programUpdateModal" data-backdrop="static"
        data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <button (click)="closePopup()" type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="icon-close"></span>
                </button>
                <div class="modal-body">
                    <h2>Program</h2>
                    <div class="verification_outer">
                        <div class="add_note">

                            <div *ngIf="isName" class="form-group">
                                <label>Program Name </label>
                                <input type="text" class="form-control" placeholder="Type" [(ngModel)]="program.name">
                            </div>

                            <div *ngIf="isDescription" class="form-group">
                                <label>Description </label>
                                <textarea model="noofchars" ng-trim="false" maxLength="3000" class="form-control"
                                    cols="40" rows="7" placeholder="Type" [(ngModel)]="program.description"></textarea>
                            </div>

                            <div *ngIf="isInstruction" class="form-group">
                                <label>Special Instructions </label>
                                <textarea model="noofchars" ng-trim="false" maxLength="3000" class="form-control"
                                    cols="40" rows="7" placeholder="Type"
                                    [(ngModel)]="program.specialInstructions"></textarea>
                            </div>

                            <div *ngIf="isPricePerParticipant" class="form-group">
                                <label>Price Per Participant</label>
                                <input type="text" class="form-control" placeholder="Type"
                                    [(ngModel)]="program.pricePerParticipant">
                            </div>

                            <div *ngIf="isBookingCancle" class="form-group">
                                <label class="custom-label">BOOKING CANT'T BE CANCELLED BEFORE</label>
                                <div class="row">
                                    <div class="col-md-8">
                                        <input type="text" class="form-control" placeholder="Days" name="Days"
                                            [(ngModel)]="program.bookingCancelledIn.day">
                                    </div>
                                    <div class="col-md-4">
                                        <input type="text" class="form-control" placeholder="Hours" name="Hours"
                                            [(ngModel)]="program.bookingCancelledIn.hours">
                                    </div>
                                </div>
                            </div>

                            <div *ngIf="isTag" class="form-group">
                                <label class="custom-label">Intrests</label>
                                <div class="input_outer">
                                    <div class="ng-autocomplete">
                                        <ng-autocomplete [data]="tags" [searchKeyword]="keyword"
                                            (selected)='selectEvent($event)' (inputChanged)='onChangeSearch($event)'
                                            (inputFocused)='onFocused($event)' [itemTemplate]="itemTemplate"
                                            [notFoundTemplate]="notFoundTemplate">
                                        </ng-autocomplete>

                                        <ng-template #itemTemplate let-item>
                                            <a [innerHTML]="item.name"></a>
                                        </ng-template>

                                        <ng-template #notFoundTemplate let-notFound>
                                            <div *ngIf="tags.length" [innerHTML]="notFound"></div>
                                        </ng-template>
                                    </div>
                                </div>
                                <br>
                                <mat-form-field>
                                    <mat-chip-list>
                                        <mat-chip *ngFor="let t of program.tags;let indx=index;"
                                            [selectable]="selectable" [removable]="removable" (removed)="remove(t)">
                                            {{t.name}}
                                            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                                        </mat-chip>
                                    </mat-chip-list>
                                </mat-form-field>

                            </div>

                            <div *ngIf="isBatch">
                                <!-- <div class="form-group">
                                    <label> Name </label>
                                    <input type="text" class="form-control" placeholder="Type"
                                        [(ngModel)]="batchData.name">
                                </div> -->
                                <div class="form-group">
                                    <label> Instructor </label>
                                    <input type="text" class="form-control" placeholder="Type"
                                        [(ngModel)]="batchData.instructor">
                                </div>

                                <div class="form-group">
                                    <label>Dates</label>
                                    <div class="input-group mb-3">
                                        <input [owlDateTimeTrigger]="dt3" placeholder="Start Date"
                                            [(ngModel)]="batchData.startDate" class="form-control" [owlDateTime]="dt3"
                                            readonly>
                                        <owl-date-time [pickerType]="'calendar'" #dt3></owl-date-time>
                                        <div class="input-group-prepend">
                                            <div class="input-group-text custom-text">
                                                <!-- <img class="arrow" src="assets/right.png"> -->
                                                <img src="assets/arrow-right.svg" alt="Arrow Image">

                                            </div>
                                        </div>
                                        <input [owlDateTimeTrigger]="dt4" placeholder="End Date" class="form-control"
                                            [owlDateTime]="dt4" [(ngModel)]="batchData.endDate" readonly>
                                        <owl-date-time [pickerType]="'calendar'" #dt4></owl-date-time>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label>Time</label>

                                    <div class="input-group mb-3">
                                        <input [owlDateTimeTrigger]="dt5" [owlDateTime]="dt5" placeholder="Start Time"
                                            class="form-control" [(ngModel)]="batchData.startTime" readonly>
                                        <owl-date-time [pickerType]="'timer'" #dt5></owl-date-time>
                                        <div class="input-group-prepend">
                                            <div class="input-group-text custom-text">
                                                <!-- <img class="arrow" src="assets/right.png"> -->
                                                <img src="assets/arrow-right.svg" alt="Arrow Image">
                                            </div>
                                        </div>
                                        <input [owlDateTimeTrigger]="dt6" [owlDateTime]="dt6" placeholder="End Time"
                                            class="form-control" [(ngModel)]="batchData.endTime" readonly>
                                        <owl-date-time [pickerType]="'timer'" #dt6></owl-date-time>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label> No of Seats </label>
                                    <input type="text" class="form-control" placeholder="Type"
                                        [(ngModel)]="batchData.numberOfSeats">
                                </div>


                                <div class="form-group">
                                    <label> Location </label>
                                    <input type="text" class="form-control" placeholder="Type"
                                        [(ngModel)]="batchData.location">
                                </div>
                            </div>

                            <div class="submit_btn">
                                <button (click)="updateProgram(program._id)" data-dismiss="modal"
                                    class="submitBtn">Update</button>
                                <button type="button" (click)="closePopup()" data-dismiss="modal"
                                    class="cancel_btn">Cancel</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>



    <app-footer></app-footer>
</body>