.step_header{
    margin-top: 50px;
}
.step_outer{
    margin-top: 80px;
    margin-bottom: 30px;
}
.step_outer h2{
    font-family: 'Patrick Hand';
    font-size: 32px;
    line-height: 43px;
    color: #748494;
}
.step_outer h3{
    font-family: 'Patrick Hand';
    font-size: 26px;
    line-height: 35px;
    color: #777CEA;
    margin: 2px 0 0 0;
}
.step_outer p{
    font-size: 13px;
    line-height: 18px;
    letter-spacing: -0.01em;
    color: #748494;
}
.location_input{
    max-width: 470px;
    display: inline-block;
    margin: 85px 0 0 0;
    width: 100%;
}
.location_input label{
    font-weight: 600;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: #777CEA;
}
.location_input .form-control{
    border: 1px solid #E5E9EC;
    box-sizing: border-box;
    border-radius: 4px;
    min-height: 50px;
    padding: 0 16px;
    font-size: 13px;
    letter-spacing: 0.001em;
    color: #748494;
}
.location_input .form-group .mat-form-field{
    /* display: inline-block; */
    /* width: 100%; */
    /* position: relative; */
    /* border: 1px solid #E5E9EC;
    border-radius: 4px;
    min-height: 50px; */
    /* padding: 0 16px; */
    /* font-size: 13px; */
    letter-spacing: 0.001em;
    color: #748494;
}
.location_input .form-group .mat-form-field::after{
    content: '';
    background-color: #f9fafa;
    height: 3px;
    width: 100%;
    position: absolute;
    bottom: 19px;
    left: 0;
}
.location_input .mat-standard-chip.mat-chip-with-trailing-icon{
    background: #F15C20;
    border-radius: 40px;
    min-width: 119px;
    line-height: 30px;
    min-height: 30px;
    font-size: 12px;
    display: inline-block;
    text-align: left;
    color: #FFFFFF;
    margin-right: 2px;
    transition: 0.8s;
    margin: 0 0 11px 11px;
    padding: 0 15px;
}
.location_input .mat-standard-chip .mat-chip-remove.mat-icon{
font-size: 0;
opacity: 1;
}
.location_input .mat-standard-chip .mat-chip-remove.mat-icon::after{
    content: "\e900";
    font-family: 'icomoon' !important;
    position: absolute;
    right: 9px;
    top: 7px;
    font-size: 14px;
    color:#fff;
}
.location_input .mat-form-field-appearance-legacy .mat-form-field-wrapper{
padding-bottom: 0;
}

.input_outer .mat-form-field-wrapper {
    padding-bottom: 16px;
}

.btns_next .button{
min-width: 223px;
 min-height: 55px;
 line-height: 55px;
 border: 1px solid #F15C20;
 border-radius: 4px;
 display: inline-block;
 text-align: center;
 font-weight: 600;
 font-size: 13px;
 transition: 0.8s;
 margin: 0 17px 0 0;
}
.btns_next .button:last-child{
    margin:0;
}
.btns_next .button.next{
 background-color: #F15C20;
 color: #fff;
}
.btns_next .button.skip{
    background-color: #FFFFFF;
    color: #998c87;
}
.btns_next .button.skip:hover{
    background-color: #F15C20;
    color: #fff;
}
.step_outer .btns_next {
    margin-top: 142px;
}
.step_footer{
    margin-top: 90px;
}
.step_footer p{
    font-size: 13px;
    line-height: 18px;
    letter-spacing: -0.01em;
    color: #748494;
}
.location_input .form-group .add_another{
    font-weight: 600;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 0.001em;
    color: #748494;
}
.location_input .form-group .add_another .icon{
  color: #777CEA;
  margin: 0 12px 0 0;
  font-size: 18px;
  margin-left: 15px;
  vertical-align: middle;
}
.location_input.interest{
 max-width: 590px;
}
.kids_interest .ch-radio{
    overflow:hidden;
    
}
.mat-form-field-appearance-legacy .mat-form-field-underline {
    height: 0px !important; 
}
.kids_interest .ch-radio span ,a{
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 0.001em;
    color: #748494;
    font-weight: 600;
    background: #FFFFFF;
    border: 1px solid #E5E9EC;
    border-radius: 20px;
    display: inline-block;
    padding: 0 15px;
    min-height: 28px;
    line-height: 28px;
    text-align: center;
    transition: 0.8s;
    margin: 0 4px 6px 0;
    text-transform: capitalize;
}
.kids_interest .ch-radio span:before{
 content: none;
}
.ch-radio input[type="checkbox"]:checked + span,
.ch-radio input[type="checkbox"]:checked ~ span,
.ch-radio input[type="radio"]:checked + span,
.ch-radio input[type="radio"]:checked ~ span{
    border: 1px solid #F15C20;
    color: #F15C20;
}

.kids_interest a:hover,
.kids_interest a.selected
{
    border: 1px solid #F15C20;
    color: #F15C20;
}
.kids_interest a.selected.interest{
    background-color: #F15C20;
    color: #FFFFFF;
}
.kids_interest .interest_sub{
    margin: 0 0 31px 0;
}
.kids_interest .interest_sub:last-child{
    margin:0;
}
.sub_inner {
    margin: 8px 0 0 0;
}

/* very important to hide mat-step header */

::ng-deep .mat-horizontal-stepper-header-container {
    display: none !important;
  }
  :host ::ng-deep .mat-horizontal-content-container {
    padding:0 !important;
    background: #f9fafa;
}


/* VALIDATION ERROR  */
.form-error-msg {
    color: red;
}
input.ng-invalid.ng-touched {
    border: 1px solid red;
}
select.ng-invalid.ng-touched {
    border: 1px solid red;
}
.autocomplete-container{
    box-shadow:none;
}
.autocomplete-container .input-container input {
    border: 1px solid #E5E9EC;
}