<body>
  <div class="step_header">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div (click)="logo()"><img src="assets/logo-1.png" alt="Logo Image"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="step_outer">


    <mat-horizontal-stepper [linear]="true">

      <!-- --------------1st step------------------ -->

      <mat-step>
        <div class="container">
          <div class="row">
            <div class="col-12">
              <h2>Step-1</h2>
              <h3>Lets get you onboard</h3>
              <p>Your location will help us to find the best activities near by you</p>
              <div class="location_input">
                <div class="form-group">
                  <label>Location</label>
                  <input type="text" placeholder="New York, NY" class="form-control loction">
                </div>
              </div>
              <div class="btns_next">
                <button matStepperNext class="button next">Next</button>
                <button matStepperNext class="button skip">Skip</button>
              </div>
            </div>
          </div>
        </div>

      </mat-step>

      <!-- ---------------------------2nd step-------------------------------- -->

      <mat-step [formGroup]="addChildForm">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <h2>Step-2</h2>
              <h3>Lets add your kid’s information</h3>
              <p>Your kid’s information will help us to customized activities according to their age group</p>
              <div class="location_input">
                <div class="form-group">
                  <label>Name</label>
                  <input type="text" placeholder="Type" class="form-control"
                    [formControl]="addChildForm.controls['name']" [(ngModel)]="addChildData.name">
                  <small
                    *ngIf=" addChildForm.controls['name'].hasError('required') && addChildForm.controls['name'].touched"
                    class="form-error-msg">CAN'T LEAVE IT BLANK</small>

                </div>

                <div class="form-group">
                  <label>Age</label>
                  <input type="text" placeholder="Type" class="form-control"
                    [formControl]="addChildForm.controls['age']" [(ngModel)]="addChildData.age">

                  <small
                    *ngIf=" addChildForm.controls['age'].hasError('required') && addChildForm.controls['age'].touched"
                    class="form-error-msg">CAN'T LEAVE IT BLANK</small>
                </div>

                <div class="form-group">
                  <label>date of Birth (Optional)</label>
                  <input type="text" placeholder="MM/DD/YYYY" class="form-control"
                    [formControl]="addChildForm.controls['dob']" [(ngModel)]="addChildData.dob">
                </div>

                <div class="form-group">
                  <!-- <div class="add_another"><span class="icon icon-plus"></span>Add another Child</div> -->
                </div>

              </div>

              <div class="btns_next">
                <button matStepperNext class="button next" [disabled]="addChildForm.invalid">Next</button>
                <button (click)="openSearch()" class="button skip">Skip</button>
              </div>
            </div>
          </div>
        </div>
      </mat-step>

      <!-- -----------------------------3rd step---------------------------------------- -->
      <mat-step>
        <div class="container">
          <div class="row">
            <div class="col-12">
              <h2>Step-3</h2>
              <h3>Lets add your kid’s interests</h3>
              <p>Your kid’s interest will help us to narrow down the activities</p>
              <div class="location_input interest">

                <div class="form-group">
                  <label>Intrests</label>
                  <div class="input_outer">
                    <div class="ng-autocomplete">
                      <ng-autocomplete [data]="categories" [searchKeyword]="keyword" (selected)='selectEvent($event)'
                        (inputChanged)='onChangeSearch($event)' (inputFocused)='onFocused($event)'
                        [itemTemplate]="itemTemplate" [notFoundTemplate]="notFoundTemplate">
                      </ng-autocomplete>

                      <ng-template #itemTemplate let-item>
                        <a [innerHTML]="item.name"></a>
                      </ng-template>

                      <ng-template #notFoundTemplate let-notFound>
                        <div *ngIf="categories.length" [innerHTML]="notFound"></div>
                      </ng-template>
                    </div>


                  </div>
                  <br>
                  <mat-form-field>
                    <mat-chip-list>
                      <mat-chip *ngFor="let category of addChildData.interestInfo;let indx=index;"
                        [selectable]="selectable" [removable]="removable" (removed)="remove(category)">
                        {{category.name}}
                        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                      </mat-chip>
                    </mat-chip-list>
                  </mat-form-field>

                </div>


                <!-- <div class="kids_interest">

                  <label class="ch-radio cursor" *ngFor=" let intrest of getCategoryResponse.data">
                    <input style="display: none;" name="hiring" type="checkbox"
                      (change)="onIntrest(intrest, $event.target.checked)">
                    <span>
                      {{intrest.name}}
                    </span>
                  </label>
                </div> -->

              </div>
              <div class="btns_next">
                <button matStepperNext (click)="addChild(userData.id)" class="button next">Next</button>
                <button matStepperNext (click)="addChild(userData.id)" class="button skip">Skip</button>
              </div>
            </div>
          </div>
        </div>
      </mat-step>

      <!-- --------------------4th step--------------------------- -->
      <!-- 
      <mat-step [formGroup]="addChildForm">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <h2>Step-4</h2>
              <h3>Lets add your kid’s information</h3>
              <p>Your kid’s information will help us to customized activities according to their age group</p>
              <div class="location_input interest">

                <div class="kids_interest" *ngIf="getTagByCategoryResponse">
                  <div class="interest_sub" *ngFor="let category of getTagByCategoryResponse.data">
                    <a class="selected interest">{{category.name}}</a>
                    <div class="sub_inner">
                      <label class="ch-radio cursor" *ngFor=" let info of kidsInfo[0]">
                        <input style="display: none;" name="hiring" type="checkbox"
                          (change)="onTags(info, $event.target.checked)">
                        <span>
                          {{info}}
                        </span>
                      </label>
                    </div>
                  </div>
                </div>

                <div class="kids_interest" *ngIf="!getTagByCategoryResponse">
                  <div class="interest_sub">
                    <a class="selected interest"></a>
                    <div class="sub_inner">NO DATA
                    </div>
                  </div>
                </div>

              </div>
              <div class="btns_next">
                <button (click)="addChild(userData.data.id)" class="button next">Let’s Browse</button>
                <button (click)="addChild(userData.data.id)" class="button skip">Skip</button>
              </div>
            </div>
          </div>
        </div>
      </mat-step> -->
    </mat-horizontal-stepper>
    <div class="step_footer">
      <div class="container">
        <p>© 2020 Letsplay Holdings Inc.</p>
      </div>
    </div>
  </div>

</body>
<ngx-ui-loader></ngx-ui-loader>