header {
    background-color: #fff;
    padding: 19px 35px;
    box-shadow: inset 0px -1px 0px #E5E9EC;
}

header .logo {
    max-width: 136px;
}

header .logo img {

    max-width: 100%;
    
}

.content_outer {
    padding-top: 99px;
    padding-bottom: 36px;
}

header .navbar {
    padding: 0;
}

header .navbar-light .navbar-nav .nav-link {
    font-size: 13px;
    font-weight: normal;
    line-height: 16px;
    color: #748494;
    padding: 9px 0;
    margin-right: 25px;
}

header .navbar-nav .btn_style {
    font-family: 'Open Sans';
    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    font-weight: 600;
    font-size: 13px;
    color: #fff;
}