<header>
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="#"><img src="assets/logo-1.png" alt="Logo"></a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link cursor" [routerLink]="['/term-condition']">How it works</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link cursor" [routerLink]="['/term-condition']">FAQ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link cursor" [routerLink]="['/sign-up']">Create an acount</a>
                </li>
                <li>
                    <a [routerLink]="['/login']" class="btn_style cursor">Login</a>
                </li>
            </ul>
        </div>
    </nav>
</header>