.carousel-control-next {
    right: -10%;
  }
  .carousel-control-prev {
    left: -10%;
  }
  .carousel-control-next-icon, .carousel-control-prev-icon {
    width: 36px;
    height: 46px;
    border-radius: 2px;
    
}
  .carousel-control-next-icon,
  .carousel-control-prev-icon {
    background-color: rgba(0, 0, 0, 0.25);
    background-size: 25%, 25%;
  }
  .carousel-control-prev {
    left: -5%;
}
.carousel-control-next {
    right: -5%;

}
.col-md-4 {
    padding: 3px;
}
.card {
  border-radius: 0px;
}
/* .carousel-control-next-icon {
  background-image: url(../../../../assets/carouselLeftIcon.png);
}
.carousel-control-prev-icon {
  background-image: url(../../../../assets/carouselRightIcon.png);
} */

