<!-- The Modal -->
  <!-- Modal content -->
  <div class="body">
    <span class="close" (click)="close()">&times;</span>
    <p>Add Batch</p>
    <div class="container_2">
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label class="custom-label">Batch Name</label>

            <input type="text" class="form-control" placeholder="My Test Batch">

          </div>
        </div>
      </div>
    </div>

    <section>
      <div class="container_2">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label class="custom-label">Dates</label>
              <!-- <form> -->
              <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Start Date">
                <div class="input-group-prepend">
                  <div class="input-group-text custom-text">
                    <img class="arrow" src="assets/right.png">
                  </div>
                </div>
                <input type="text" class="form-control custom-text" placeholder="End Date">
              </div>
              <!-- </form> -->
            </div>
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="container_2">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label class="custom-label">Time</label>
              <!-- <form> -->
              <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Start Time">
                <div class="input-group-prepend">
                  <div class="input-group-text custom-text">
                    <img class="arrow" src="assets/right.png">
                  </div>
                </div>
                <input type="text" class="form-control custom-text" placeholder="End Time">
              </div>
              <!-- </form> -->
            </div>
          </div>
        </div>
      </div>
    </section>


    <section>
      <div class="container_2">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label class="custom-label">Select Associates</label>
              <!-- <form> -->
              <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
                  <img src="assets/user.png">
                  John Doe
                  <span class="glyphicon glyphicon-chevron-down"></span>
                </button>

                <ul class="dropdown-menu">
                  <li>
                    <a href="#" title="Select this card"><img src="assets/user.png">0123 4567 8912 3456</a>
                  </li>
                  <li>
                    <a href="#" title="Select this card"><img src="assets/user.png">0123 4567 8912 3456</a>
                  </li>
                  <li>
                    <a href="#" title="Select this card"><img src="assets/user.png">0123 4567 8912 3456</a>
                  </li>
                </ul>
              </div>
              <!-- </form> -->
            </div>
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="container_2">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label class="custom-label">Price Per Participant</label>
              <!-- <form> -->
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    $
                  </div>
                </div>
                <input type="text" class="form-control" placeholder="Type">
              </div>
              <!-- </form> -->
            </div>
          </div>
        </div>
      </div>
    </section>


    <section>
      <div class="container_2">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label class="custom-label">Price For Siblings</label>
              <!-- <form> -->
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    $
                  </div>
                </div>
                <input type="text" class="form-control" placeholder="Type">
              </div>
              <!-- </form> -->
            </div>
          </div>
        </div>
      </div>
    </section>
    <hr>
    <div class="buttons_2">

      <button type="button" class="btn btn-Grade" style="margin-left: 10px;">Add</button>
      <button type="button" class="btn" (click)="close()">Back</button>

    </div>
  </div>