<div class="navigation">
  <div class="container">
    <ul>
      <li>
        <a routerLink="/program/home" [class.active]="dashboard">Dashboard</a>
      </li>
      <li>
        <a routerLink="/program/list" [class.active]="program">Programs</a>
      </li>
      <li>
        <a routerLink="/profile" [class.active]="profile">Profile</a>
      </li>
      <li>
        <a routerLink="/program/setting" [class.active]="setting">Settings</a>
      </li>
    </ul>
  </div>
</div>
<div class="main_outer"></div>